[2014-03-19 14:10] greezybacon commented on #888
There is a setting in Admin Panel -> Settings -> Tickets for the number of attachments that can be attached by either a staff or client. In other news, have you considered upgrading to something more current than 1.7.0? _We released 1.7.7 yesterday_

[2014-03-19 14:11] greezybacon commented on #887
What version of osTicket are you using?

[2014-03-20 08:15] yafp commented on #888
uh - i overlooked that setting in the admin-panel.
Sorry for the ticket.

and yes - i do plan to update this installation, just need to find some time ;)

Sidenote:
i would still display a notification at that moment where you hide the Browse-Button.
This notification could just display 'amount of max attachments reached' or similar.

[2014-03-20 08:15] #888 closed, assigned to nobody

[2014-03-20 21:30] greezybacon commented on #888
I agree. I think we should actually limit the total size of the attachments rather than the number of them anyway

[2014-03-21 08:17] yafp commented on #888
Sounds like a good idea-  cause there aren't that much reasons to limit a user to i.e. 10 screenshots - if 11 might explain everything. On the other hand - i am pretty sure that some might argue the other way around ;)

My main point was more or less about giving the user a little bit more feedback (traceability) after hiding the browse button.

[2014-03-30 13:06] edugargon commented on #584
10 months and no answer?... that's terrible.
Could you fix this issue?
I'm in the same situation. the system was installed on a rapsberry with v1.6 and after the v1.8 update, the SD was quickly filled and would like to reconfigure the attachments in an external hard drive.
Thank you very much.

[2014-03-30 23:01] clonemeagain commented on #462
We've suddenly hit this issue, started on Friday, now we have loads of duplicates. Its never affected us before, and we haven't changed the code in ages.. (still using 1.7.2).

Checked, the message_id's are unique, however the email_mid's are duplicates for the offending messages. Including all headers (obviously).  Would it be wrong to simply mark that email_mid field as "Unique" in the table? Ge

[2014-03-31 01:54] greezybacon commented on #584
Drop the attitude. There is a storage-fs plugin for osTicket 1.8.1. Upgrade and install the plugin. There's also a cli script to migrate the attachments from the database to the location of choice on the filesystem. We've also recently released a plugin for Amazon S3 storage for plugins.

Cheers and your welcome

[2014-03-31 07:49] edugargon commented on #584
thank you @greezybacon for your reply,
trying https://github.com/osTicket/core-plugins
cheers.

[2014-04-09 17:40] F0F0F0 commented on #827
I'm having the same problem here on v1.7.1.4.

Checking the observe daylight savings checkbox has no effect whatsoever. I quadruple-checked the admin and user panel and made sure the checkboxes were all checked. The global time values just doesn't get updated at all.

The timestamp values entered in the database are all correct and the config table has a "1" value on every daylight savings entry o

[2014-04-11 06:56] devipinnamaneni commented on #460
I have a problem in reassign a ticket to a team it is still showing the current staff name it is not showing that it is assigned to a team.
Could you please give me a solutions

Thanks in advance.

[2014-04-12 02:53] greezybacon commented on #460
osTicket supports assignment to both a staff member and a team. Only a
department manager can unassign the ticket.

On Fri, Apr 11, 2014 at 1:56 AM, devipinnamaneni
notifications@github.comwrote:

[2014-05-02 12:58] jjbridges commented on #682
I agree with markus4000.

[2014-05-06 13:38] elvismdev commented on #538
I have the same issue with GoDaddy, I'm using v1.8.1.2. Placing php.ini in the root as @jiveshpednekar find to work doesn't do for me. Someone found another fix for this in GoDaddy?

[2014-05-06 15:08] elvismdev commented on #538
Solved with GoDaddy, the file php.ini must me named php5.ini and placed in the root folder with cgi.fix_pathinfo = 1

[2014-05-12 14:03] W3BGUY commented on #827
Thanks for the assist.  I updated the line in the PHP.ini file, verified the timezone in the admin panel, and then went through and set all of the staff members to observer daylight savings.

Solved the issue for me.

[2014-05-26 14:46] #884 closed, assigned to nobody

[2014-06-13 06:39] gokulaprasanna opened #889 "Addressee(To and Cc) in filter (autoassign) not working in osticket"
If we filter the tickets by giving the email id in the To area by using Manage->Ticket Filters and i autoassign the tickets to some person.The tickets are received in the admin panel not assigned to anyone.Can anyone hep me to sort out this issue??.

[2014-06-18 20:59] greezybacon commented on #889
What version of osTicket are you using?

[2014-06-19 04:02] gokulaprasanna commented on #889
i am using os ticket 1.9.1 right now but this issue is in all the versions of os ticket tool.

[2014-06-27 13:56] ericLemanissier commented on #486
This feature would be greatly appreciated in our context. Is it still planned ?

[2014-07-12 21:38] greezybacon commented on #889
You do realize this is the repo for osTicket 1.7, right?

[2014-07-12 21:39] greezybacon commented on #486
This is partially supported in the latest version of osTicket, 1.8.4 and 1.9.2. Staff alert email replies become internal notes

[2014-07-14 03:42] gokulaprasanna commented on #889
yeah..

[2014-07-29 15:02] mtorres1 opened #890 "Adding a column to the ticket view"
When you open a new ticket the form has a required selection for location - you have to pick the address. I would like for that to show on the ticket view so the supervisor can easily see which locations are requesting the most work - it will help him assign staff.

[2014-07-29 17:14] greezybacon commented on #890
This issue concerns osTicket 1.8 or later, correct?

[2014-07-29 17:17] mtorres1 commented on #890
Yes, I am sorry I posted here - I reposted and was planning on comming back here and deleting this. I am using 1.8.0.2

[2014-07-29 17:17] #890 closed, assigned to nobody

[2014-07-29 17:35] mtorres1 commented on #890
i posted here http://osticket.com/forum/discussion/78421/using-osticket-v1-8-0-2-adding-column-to-ticket-view#latest

[2014-08-08 09:38] maximvl commented on #368
Hi, what about tickets list and filters?

[2014-08-27 14:20] ericwongcm opened #891 "1.7.10 does not work"
I tried to upgrade to 1.7.10 from 1.7.0 but it didn't work at all.
What I mean is I can open this page
http://mydomain.com/setup/

but I can't open any administration page nor front end pages
I simply get a blank white page
e.g.
http://mydomain.com/scp/admin.php
http://mydomain.com

I was able to upgrade to 1.7.9 from 1.7.0 without any problems. so I believe my upgrade procedure is correctly. The

[2014-09-01 02:25] syedmahtab commented on #516
I am also interested in this feature based on a permission.

[2014-09-02 07:04] ghost commented on #422
hi i have fixed this issues by go to /etc/apache/    sudo nano /etc/host and add host name like
127:0:0:1 l localhost and after that go to /etc/apache2$ sudo nano httpd.conf add servername like  localhost and set AcceptPathInfo On

[2014-09-02 15:59] raja18j commented on #422
Hi amitkiwi

Can you please describe in detail, where we can find these files.
etc/apache/ sudo nano /etc/host ----> Are these OsTicket files or Godaddy files.

Please find the my screen shot of my Godaddy account.
![osticket](https://cloud.githubusercontent.com/assets/8630247/4121274/d8a82e7e-32b9-11e4-99af-23726f0034af.PNG)

Thanks
raja18j

[2014-09-03 07:26] ghost commented on #422
Hi Raj
you can not found any files in godaay files when you work on ubuntu server
 via command line we fetch host file where you can change host name

Thanks

On Tue, Sep 2, 2014 at 9:29 PM, raja18j notifications@github.com wrote:

##

---

_This e-mail and all attachments are intended solely for use by the
intended recipient and may contain confidential / proprietary information
of KiwiTech, LLC,

[2014-09-04 22:02] greezybacon commented on #368
Not yet. Although we will be ramping up the API support in the near future for the osTicket-1.8 repo

[2014-09-04 22:04] greezybacon commented on #516
Hey all. This isn't going to happen for osTicket v1.7. Someone could reopen this in the osTicket 1.8 repo

[2014-09-08 20:57] Phelms215 commented on #768
Has anything like this been done?
If not I will look into making it happen.

[2014-09-08 22:37] greezybacon commented on #768
No work has yet been done toward this feature

[2014-09-29 15:45] ghost commented on #544
Someone can do this :+1:  ?

[2014-10-01 12:53] clarkie2014 commented on #515
This would be ideal for our organisation. (Mon-Fri; 8am-5pm). We can't afford the price of asking osTicket to customise for us (was going to cost thousands of £'s). We may need to resort to a different helpdesk solution.

Does anyone know where to find the code for the SLA's so I can play with it?

[2014-10-01 15:20] ntozier commented on #515
/include/class.sla.php

and of course every ticket open, ticket edit, and the scp sla areas.

[2014-10-11 04:24] hadoanngoc commented on #516
Is it available in 1.9? I couldn't see it...

[2014-10-13 23:38] hypnotisttom opened #892 "Beta Upgrade does not handle custom table prefix"
When upgrading to the latest beta, the update script fails because of a custom table prefix that is not set to ost_.

[2014-10-13 23:39] hypnotisttom opened #893 "Fetch Email ticket create not generating new customer ticket email notification"
On a fetch email ticket create, the customer is not getting a new ticket notification email. All other methods such as api, Web, agent, etc. produce the email.

[2014-10-14 14:52] bravogon commented on #184
Hi
I did what protich said and I still can not see my Knowledgebase link in my interface page.
I installed osTicket in my own server would that be a problem?

[2014-10-17 03:43] martinreynolds commented on #538
this is my nginx config:
########
server {
    listen       80 ;
    server_name xxxx;

[code]

   location / {
        try_files $uri $uri/ index.php;
    }
    # Process PHP files
    location ~ .php$ {
        try_files $uri = 404;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root

[2014-10-17 09:01] martinreynolds opened #894 "Nginx Osticket config Error"
this is my nginx config:
######

server {
listen 80 ;
server_name xxxx;

charset UTF-8;
# charset koi8-r;

access_log  /var/log/nginx/log/osticket.access.log  main;
error_log /var/log/nginx/log/osticket.error.log;
root   /var/www/osticket/;

set $path_info "";
# Deny access to all files in the include directory

location ~ ^/include {
    deny all;
    return 403;
}
# Deny access to apache .ht\* f

[2014-10-23 12:36] kenny-opennix commented on #538
My config
server {
    listen 123.45.67.89:80;
        server_name test.com;
        access_log /var/log/nginx/tickets.access.log;
         error_log  /var/log/nginx/tickets.error.log info;
        index index.php;
        root /var/www/ticket;
  client_max_body_size 5M;
  keepalive_timeout 0;
  fastcgi_read_timeout 120;
  fastcgi_send_timeout 60;
    index index.php index.html;
    autoindex off;

[2014-10-29 10:45] sathishxcode commented on #544
I am also looking for this ?

[2014-11-03 06:14] nullrich opened #895 "Reply Error"
A Page Not Found error happens when I "Post Reply" to an open ticket.

www.mydomain.com/OSticket/upload/scp/tickets.php?id=58#reply = "Page not Found"

I have configured emails and seem to be sending and receiving emails fine but this error seems to plague me.

What can I do to track down this error and fix it?

[2014-11-05 09:00] lucamaro opened #896 "Wrong requirements for installation"
Please update the php min version requirement: ternary operator "?:" is supported since php 5.3 and not 4.3. (see [http://php.net/manual/en/language.operators.comparison.php]).

Thanks.
Luca

[2014-11-05 15:31] protich commented on #896
Where do we have the wrong min requirement listed?

[2014-11-05 15:58] lucamaro commented on #896
There is a reference in setup/inc/install-prereq.inc.php, but probably even some code that performs the check. Today I was able to finish successfully the installation (on an old linux machine...), but not able to open login page.

[2014-11-05 16:11] protich commented on #896
What version did you install? Latest version of osTicket requires PHP 5.3+

[2014-11-07 08:19] lucamaro commented on #896
On our server we have PHP version 5.2.5 and a working installation of osticket 1.7 downloaded from the osticket site. There are two problems in my opinion: the first is that setup process should block installation when php < 5.3 is found. The second: just updating sources in 1.7 branch may break compatibility with your php.

I have no problem in updating my outdated php, so feel free to close the

[2014-11-07 15:26] protich commented on #896
Thanks for the feedback - I just wanted to get to the bottom of it. I think some of the bug fixes we back ported to 1.7 didn't take into consideration the PHP version requirements. We'll address the issue.

[2014-11-11 15:57] rick-pri commented on #538
I found that I had to add the following code into my Nginx vhost file to get the custom forms to work when adding a ticket from a user's point of view in osticket 1.9.x.

[code]

[2014-11-11 23:36] Syedmudassar opened #897 "Embed video is not showing"
I just change the following Format::display from Format::safe-html in (include-->client --> faq.category.inc.php) to view the images directly uploaded by the computer the src of the images is src="image.php?h=xikkr1swp24f7vd4i0bje6na01s1xtuq97819b1cb5a8bf3a9394ad27a9637db5" and they are showing properly but the problem is with the iframe video it is not showing the src is src="l.php?url=%2F%2Fwww.

[2014-11-11 23:57] Syedmudassar commented on #897
Solved need to add the authorization require('kb.inc.php');

[2014-11-11 23:57] #897 closed, assigned to nobody

[2014-11-18 08:27] hi-soni commented on #422
@tomashastings thank you
OS Ticket + NGINX + AJAX issue is been fixed.
Finally I have got the solution, in order to short out this issue you need to perform 2 steps
Step 1:
function get_path_info() as mension https://github.com/tomashastings/osTicket-1.7/blob/develop/include/class.osticket.php and updated host
Step 2:
location ~ ^/ajax.php/(._)$ {
     try_files $uri $uri/ /ajax.php;
}
location ~

[2014-11-21 02:47] Syedmudassar opened #898 "can i display custom form to user"
I created a custom form name Product Registration now want to display that form to visitors that they can register a product is that possible if yes then how?

[2014-12-31 14:46] greezybacon commented on #898
I think you must mean to have posted this in the osTicket-1.8 repo. That said, associate with a help topic by setting the "Extra Fields" setting to your custom form. When the help topic is selected, the form will be added to the new ticket screen

[2014-12-31 14:47] greezybacon commented on #897
Can you elaborate some more? I don't follow you

[2014-12-31 14:49] greezybacon commented on #895
Who is your hosting provider? They are likely blocking your post via mod_security

[2014-12-31 14:50] greezybacon commented on #893
Do you need to use the Reply-To header?

[2014-12-31 14:51] greezybacon commented on #892
I assume you've moved on since this happened. If not, does the problem still persist?

[2014-12-31 20:27] Syedmudassar commented on #893
Hi

I have the same issue but after adding the email settings in admin panel and checking the auto cron option everything is working quite fine but to convert the email reply to ticket it is necessary to someone login in the admin panel, can you please tell me why cron job is not working when someone is not login in the admin panel. I am using Linux and latest version of osticket.

[2015-01-01 14:48] #896 closed

[2015-01-19 19:02] mckaygerhard commented on #383
ping...

i can made some workarounds but i dont understant how (or where) osticket made the string on the table "ost_user_account".passwd that are not an md5 string like staff table

how osticket generate this string?

[2015-01-20 00:30] protich commented on #383
@mckaygerhard -- latest version of osTicket has password reset feature. Passwords are hashed, meaning it's not recoverable.

**PS**: osTicket v1.7 series is coming to an end. It will no longer be supported come March 31, 2015.

[2015-01-20 14:54] greezybacon commented on #383
@ParmaU can this issue be closed? User and Staff password reset has been implemented since 1.9.1 and 1.7.1 respectively.

[2015-01-20 15:02] greezybacon commented on #893
@Syedmudassar you have to add a system cronjob or scheduled task in order to periodically run the email fetch routine, you can get more info [on our wiki](http://osticket.com/wiki/POP3/IMAP_Setting_Guide)

[2015-01-20 16:40] mckaygerhard commented on #383
ok, ok, so then i ask: there's a way to create a new password with sql commands (edited the question)! not for admin or agnets, i ask for users!
PD: this issue can be closed i think!

[2015-01-23 20:26] wingnut2dot0 commented on #138
Experiencing the same issue
osTicket Version    v1.9.5.1 (1faad22)
Web Server Software     Apache
MySQL Version   5.5.40
PHP Version     5.4.34

[2015-01-26 09:14] lilethlachica commented on #309
Hi! did you got a solution for this? Need the same solutions.

[2015-01-27 20:05] kevmimcc commented on #309
I think there should not be a child/parent but rather just show linked tickets.  The logic missing is a parent entity, which is the client.  That should be the parent and all tickets belong to a client entity.

[2015-01-27 20:22] Richiricheh commented on #309
@kevmimcc The concept you have typed out there sounds like an interesting one but it seems to be yet another way of pulling together a queue for an individual. The concept outlined below is not meant to only link tickets to a person but also to connect and link an issue which might be reported by multiple people so that support staff can work on a single issue and notify the larger user-base that

[2015-01-28 02:56] lilethlachica commented on #309
@Richiricheh thanks a lot!  however i tried to install 1.7 unfortunate its not working anymore? can u provide the file did u ported it? so i can just check the specific codes. im currently using 1.8 now. thanks a lot!!!

[2015-02-12 19:58] GeekSage commented on #682
I just ran into this issue as well (I'm an admin and couldn't assign the ticket).  This would definitely be very helpful.

[2015-02-16 04:06] deanet commented on #538
just confirm. works as well osticket 1.8 + ldap with http://wiki.nginx.org/OSTicket . thanks

[2015-02-17 08:24] szemy commented on #746
+1 to forwarding

[2015-02-19 16:07] maephisto commented on #538
Just solved this issue with the latest osTicket version, using @tomashastings both approaches: updating the class.osticket.php and updating nginx conf as in http://wiki.nginx.org/OSTicket

[2015-03-10 21:04] kainjow commented on #827
FWIW, "UTC" didn't work for me, I had to use the local time zone in php.ini, for example:

[code]

[2015-03-24 18:01] hussainwazir commented on #92
![win_20150315_081107 2](https://cloud.githubusercontent.com/assets/2247912/6809072/b887f7fe-d279-11e4-9ec7-42588935b8e5.JPG)

[2015-03-24 18:02] hussainwazir commented on #92
hello

[2015-03-24 18:03] hussainwazir opened #899 "hussain issue"
issue is not good

[2015-03-24 18:03] #899 closed

[2015-03-24 18:04] hussainwazir commented on #899
done

[2015-04-09 09:57] soneri commented on #826
Hi,

I am using Osticket 1.9.7 .. I upgraded from 1.8.? ..  I live in Turkey and i have problem with Turkish characters.

There were no problems before upgrading. Users send email with Turkish characters, but Osticket cannot decode.. I tried the solution in this page but did not work.

Can anynone help?

Regards

Soner

[2015-04-09 13:11] soneri opened #900 "Osticket character encoding problem after update"
Hi,

I am using Osticket 1.9.7 .. I upgraded from 1.8.? .. I live in Turkey and i have problem with Turkish characters.

There were no problems before upgrading. Users send email with Turkish characters, but Osticket cannot decode.. I tried the solution in this page but did not work.

Can anynone help?

Regards

Soner

[2015-04-09 17:28] greezybacon commented on #900
@soneri sorry you're having the encoding issues. Could you elaborate more? And perhaps post some screenshots of the issue so I could track it down?

[2015-04-10 05:51] soneri commented on #900
This is from tickets page.  ÐÜÞÝÖÇðüþiöç should be ĞÜŞİÖÇğüşiöç in Turkish characters.
Assigned To
    760232  10/04/2015 8:47 am  ÐÜÞÝÖÇðüþiöç

When i drill into the ticket, again characters are the same.

Below you can find the email sent to me

We received your request and assigned ticket #760232

Topic:
Subject: ÐÜÞÝÖÇðüþiöç
Submitted: 10/04/2015 8:47 am

[2015-04-10 13:16] greezybacon commented on #900
@soneri, was this ticket created via email?

[2015-04-11 05:12] soneri commented on #900
yes,  all tickets are created via rmail

[2015-04-14 05:37] soneri commented on #900
Any solution?

[2015-04-16 13:22] soneri commented on #900
I installed a clean osticket 197 to a new computer. problem is the same.

[2015-04-22 07:02] hussainwazir opened #901 "ds"
ds

[2015-04-22 07:02] hussainwazir commented on #901
dsds

[2015-04-22 13:15] soneri commented on #900
@greezybacon  i installed 1.8 to another  computer. problem is the same.. I tried to install 1.7 to another computer to test but after i enter mysql user password and press install, setup does not continue.

[2015-04-24 04:52] hussainwazir opened #902 "sds"
dsd

[2015-05-03 18:46] ghost commented on #538
I ran into this just now. TL;DR:

To fix this in osTicket 1.9.7 stable, apply @tomashastings patch:

(I presume get_path_info() has not changed much so this should apply cleanly to any version).

[code]

and add

[code]

to your nginx config as per @rick-pri. Possibly prefix the location regex and paths with the directory you put osticket under. I used

[code]

as my installation is under /support

[2015-05-12 17:25] tainazao commented on #368
Would be great +1.

[2015-05-14 06:47] soneri commented on #900
Problem solved today after upgrading to 198

[2015-05-24 19:00] infectormp commented on #538
with nginx all work fine except canned response, when you choice canned response in ticket nothing happens and in log we see this error

open() "/xxx/scp/ajax.php/tickets/2796/canned-resp/3.json" failed (20: Not a directory)

[2015-05-26 01:05] ericwongcm opened #903 "Fatal error: Call to undefined function __() in /scp/login.php on line 31"
After I have upgraded my installation to v1.7.13, I always see this error message after I login using /scp/login.php

Fatal error: Call to undefined function __() in /scp/login.php on line 31

If I visit the home page first before entering the login page, it will magically work. I don't understand why. I am using php 5.3 on my server.

[2015-06-23 22:59] lcwsoft opened #904 "PHP Fatal error: Cannot redeclare class PEAR in /home/<user dir>/public_html/ostic/include/pear/PEAR.php on line 87"
Hi,

A client of ours is attempting to use osTicket and is getting the following error.

PHP Fatal error: Cannot redeclare class PEAR in /home/xxx/public_html/ostic/include/pear/PEAR.php on line 87\n, referer: http://xxx.com/ostic/scp/

I've X'd out the user and domain name, keeping the error itself intact. It looks like osTicket is trying to redeclare PEAR when PHP already provides it. You may wi

[2015-06-24 12:14] greezybacon commented on #904
@lcwsoft what version of osTicket are you using? Where did you get it?

[2015-06-24 12:16] greezybacon commented on #903
@ericwongcm thanks for the report. I've fixed this in the develop branch in 61fee6c9daa1148d435f5b0080dd1459173645b8

[2015-06-24 12:17] #902 closed

[2015-06-29 14:59] openaspace commented on #755
Hello,
I use nginx directive with ispconfig to proxy a domain on external server on a specified port, but I can't add the ProxyPreserveHost On directive in ispconfig beacuse isn't accepted.

Anyone know how to solve this login problem using the nginx directives?
http://wiki.nginx.org/HttpRewriteModule

Best regards.

[2015-06-30 16:30] birdsystem opened #905 "custom field variable in e-mail template"
Hello!

how do I add a custom field in the template Ticket Assignment Alert?
how I define the variable and how do I bring it?
Thanks!

osTicket (v1.7.1.4)

[2015-07-08 21:41] kevmimcc commented on #309
@Richiricheh Ah I see what you are going for and yes that would be a great feature.  We recently ran into this issue as well where many different clients were writing in that were affected by the same singular issue.  Tracking those all down individually was a problem.

[2015-07-08 21:54] Richiricheh commented on #309
This has been added into my organisations 1.9 version of Osticket. A major issue we ran into was that the plugin architecture did not allow for a few key things required for this to work. The most important being the ability to insert data prior to form submission. As a result we had to add this into our install using the more traditional "mod" approach by altering and adding core osticket code.

[2015-07-09 00:05] protich commented on #309
Just want to point out that we no longer follow issues in this repo -- please use the [latest repo](https://github.com/osTicket/osTicket-1.8).

As for sub-tickets, the upcoming version will introduce the [concept of tasks](https://github.com/osTicket/osTicket-1.8/pull/1541). We feel it's a better approach compared to child-tickets.

[2015-07-09 14:58] Richiricheh commented on #309
A task is a great solution for the latter option (depending on how they've been implemented) but it is not an appropriate option for the former.

[2015-08-10 10:59] EntrenaYa commented on #880
Thanks for the info. Regards.
Alex http://www.entrenaya.us

[2015-08-10 16:57] larwillia commented on #904
osTicket 1.7.14 and it was installed fresh via Softaculous

[2015-08-10 16:58] larwillia commented on #904
Actually correction, it is 1.9.5.1

[2015-09-15 18:31] kriskumar70 commented on #368
Jared Hancock,
Do we have the API for GET ticket lists yet? I don't see any documentation on that anywhere.

Thanks

Kris

[2015-10-04 18:39] simonshtipelman commented on #515
Sorry for bringing this out of the depths but any chance this will be implemented? It would really be helpful because a lot of organizations do not open 24 hours a day and a lot of places have SLAs for business hours only.

I have osTIcket setup at a clients site and it would really be helpful to have ticket not become late over the weekend or during the night when the IT department works Mon-Fri

[2015-10-05 07:36] clarkie2014 commented on #515
Hi,

Due to the poor SLA design of osTicket, we moved away from this and now use http://www.esperim.com/product/ost-plus-1-4-2

Cheers

---

Stephen Clark
IT Infrastructure Engineer

[cid:MHCINSIGHTfooter.JPG]

Concern: The Mental Health and Wellbeing Group

T:

0191 217 2936

F:

0191 217 0350

E:

stephen.clark@concerngroup.orgmailto:stephen.clark@concerngroup.org

Mental Health Concern is a reg

[2015-10-11 13:13] hbadass commented on #734
This is old but I found it quite annoying as well that I had to type in a password when using it in a development env. evt make a ?dev=true in the url. People who are setting this up usually know what they are doing

[2015-10-12 06:40] Abhishek-mi commented on #368
Hi
Is there   get api for ticket detail .its very important for us .i didn't find any such documentation if anything please share

Thanks
Abhishek

[2015-10-12 13:28] kriskumar70 commented on #368
TicketDesk 3,0 will be an angularjs app. It should have one

W.r.t 2,5.. I wrote my own. It is not that hard. Create a separate webapi project. It is very simple.

Kris

On Sun, Oct 11, 2015 at 11:40 PM -0700, "Abhishek-mi" <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi
Is there get api for ticket detail .its very important for us .i didn't find any such documentation if an

[2015-10-13 06:58] Abhishek-mi commented on #368
Hi kriskumar70

Thanks for your help,
But i want get rest API for Osticket

[2015-10-24 11:06] ghost commented on #584
@greezybacon can you point me where that cli script is to migrate from db to fs?

[2015-10-24 11:07] ghost commented on #584
Ohh its here: http://osticket.com/forum/discussion/77156/attachments-plug-in-storage-fs

[2015-11-06 04:52] Zholaman commented on #846
Hi @greezybacon , could you tell me, what type of library used in **osTicket v1.9.12**. I ask because we have problem with titles of threads (which on russian) that appear in pdf. To converting to pdf we use '**Print -> Ticket Thread**'?

[2015-11-06 05:00] AsheshMJoshi commented on #734
ya its annoying cause i am trying on my localhost... now i have to set password in mysql...

[2015-11-06 10:17] Andrew908 commented on #538
I finally fixed the custom forms by adding the following two lines:

[code]

I hope that this will help other people that are struggling with this issue.

[2015-11-14 13:32] infectormp commented on #538
I get osticket work with this config https://www.nginx.com/resources/wiki/start/topics/recipes/osticket/
canned response work too.

nginx 1.9.6

[2015-11-14 13:45] infectormp commented on #584
@adriencarbonne can you close this topic?

[2015-11-14 13:52] #584 closed

[2015-11-21 07:46] aliabbaspeti opened #906 "unable to open attachment"
I am facing issue with opening attachment. User can upload attachment but only when agent/staff try to open attachment cannot be open.

[2015-11-30 18:17] hussainwazir commented on #422
fon

[2015-11-30 18:20] hussainwazir commented on #422
![download](https://cloud.githubusercontent.com/assets/2247912/11480312/ab9ad05c-97b8-11e5-940f-d8806e1dc744.jpg)
hm

[2015-11-30 18:23] ntozier commented on #422
@hussainwazir are you spamming us?

[2015-11-30 18:52] jbjorgaard commented on #422
I'm no longer a user of osticket.  Can I get removed from this thread.
Thanks

On Monday, November 30, 2015, ntozier notifications@github.com wrote:

##

Jeremiah Bjorgaard - 913.738.4448

[2015-11-30 19:26] ntozier commented on #422
@jbjorgaard
1. log into github.
2. in the upper right click the down arrow to the right of your gravatar icon.
3. click settings
4. click notification center
5. change the settings to your hearts desire.

[2015-11-30 21:02] jbjorgaard commented on #422
Thanks!

On Mon, Nov 30, 2015 at 1:26 PM, ntozier notifications@github.com wrote:

##

Jeremiah Bjorgaard - 913.738.4448

[2015-12-02 19:23] pbaldridge opened #907 "invalid login for staff"
I recently had to update our php for security reasons from 5.4 to 5.6 and immediately after was unable to login to the admin section of osticket. Our users are still able to login and submit tickets but I get invalid login when trying to login as staff. Not sure where to look from here? There are no php errors in the logs.

[2015-12-02 20:47] #907 closed

[2015-12-27 12:37] hussainwazir commented on #903
DONE

[2015-12-27 12:38] hussainwazir commented on #903
![64-64](https://cloud.githubusercontent.com/assets/2247912/12010235/9938797e-acc0-11e5-94df-6b2e41e90adf.jpg)
HOEN

[2015-12-27 12:41] hussainwazir commented on #906
![64-64](https://cloud.githubusercontent.com/assets/2247912/12010258/0d09797a-acc1-11e5-8d96-d16237f6074d.jpg) Issue DONE

[2015-12-27 12:42] hussainwazir commented on #906
![64-64](https://cloud.githubusercontent.com/assets/2247912/12010261/19da055c-acc1-11e5-998a-da89c19df4e4.jpg)
![64-64](https://cloud.githubusercontent.com/assets/2247912/12010262/1c8d0d8a-acc1-11e5-8039-e9f030a22cf6.jpg)
![64-64](https://cloud.githubusercontent.com/assets/2247912/12010263/1fa3a86c-acc1-11e5-9c3d-d3ed5824d680.jpg)

![64-64](https://cloud.githubusercontent.com/assets/2247912/120102

[2015-12-28 08:06] aliabbaspeti commented on #906
Bro have you understand what I am asking.... I have issue getting attachment in osticket

[2016-01-19 17:05] kbozi commented on #522
How you fixed this??? Please share.

[2016-01-21 11:51] danielbald commented on #538
In addition to following @giandvd post, I had to add the following extra nginx rule:

[code]

Info bubbles and canned responses work.

[2016-01-29 06:27] timwhite commented on #538
@giandvd post fixing get_post_info, and the Nginx config (minus the path_info stuff) works for me. Can we maybe get a PR for this?

[2016-02-06 18:48] jonvargas commented on #538
Everything works fine except when a Help Topic has assigned custom forms. In the create ticket view, if the user first selects a Help Topic with a form, the form loads fine, but if he selects another Help Topic with a form, the following path returns 404:

The first time a form is loaded, the request is shorter and with no query string:

I already configured what @Andrew908 pointed out. This seems

[2016-02-09 12:33] gauravjhs commented on #86
Can any one please help me with this issue. Same Organization users should see all their open issues.

[2016-02-13 09:20] TomEasterbrook opened #908 "INCLUDE_DIR constant not working"
Hi all,

I'm currently trying to utilise the plug-in in order to allow the use of single sign-on within my helpdesk. However, the plug-in itself is not working as it was not able to include several important osticket classes. I thought I could rectify this by simply resetting the constant in the plug-in script. Although this fixed the immediate errors being displayed. This issue is now occurring w

[2016-02-18 06:47] roopesh007 commented on #383
How to get forgot password feature enable in osticket, I am using osticket since 2 year and my users are not able to reset there password using forgot password option.

[2016-02-19 18:16] j0r000 commented on #538
@jonvargas config works for me perfectly

[2016-02-19 21:10] #908 closed

[2016-02-21 04:04] jonvargas commented on #538
@j0r000 Do you also use custom forms for Help Topics?

[2016-03-03 10:23] micheleietri commented on #260
is never going to be released a sample for python? or at least an help for using requests module?

[2016-03-10 18:06] #887 closed, assigned to nobody

[2016-03-24 12:33] saiy2k commented on #368
Any Updates on this?
A REST API would be very useful to Integrate with Other systems

[2016-04-12 21:27] marcomarsala commented on #515
We implemented exactly this feature with a custom plugin for osTicket. We changed calculation and added a CRUD GUI to manage working hours and holiday calendar.

[2016-05-09 08:53] franklynortega commented on #641
Hello, I need send to my agents when I assignation email, the Organization name an direction,
but I don´t Know how do it?

[2016-05-10 16:41] projenix commented on #59
Whether logged in or not captcha does not show on my system (image has "errors").

[2016-05-14 11:45] clonemeagain commented on #857
Been testing some 1.9 plugins I'm writing, been refreshing the page a lot, hmm, must be a performance bug.. Nope, still getting this bug eh.
So I don't have to Google it again, the fix is [PRG](https://en.m.wikipedia.org/wiki/Post/Redirect/Get)
Maybe it's time we fixed this one.

[2016-05-18 16:56] ivanhalencp opened #910 ""ticket create by" param in mail template."
In our team, according to our way of working, we need to know in the mail notice new ticket created , by whom it was created.

Thanks,

[2016-05-19 16:15] ivanhalencp commented on #910
I tried to use this parameter(%{assigner}) but comes empty.

[2016-06-08 17:43] abenjas commented on #515
Any chance to share this plugin?

[2016-06-08 20:51] marcomarsala commented on #515
It isn't a plugin, we implemented this for a customer of mine using custom code in a legacy osTicket installation.

The starting point for modifications is class.ticket.php
If you want we can made customizations for you for a reasonable fee.
MM

On Wed, Jun 8, 2016 at 7:43 PM +0200, "abenjas" notifications@github.com wrote:

Any chance to share this plugin?

---

You are receiving this because you

[2016-06-09 08:43] Rtrack07 opened #911 "STATISTICS SHOWS 1 AS DEFAULT ON OS TICKETING"
Hi I've been looking over the internet since yesterday for any possible solution on Statistics section of OS Ticketing. I was wondering if it's a bug or is there any way on how i can change how statistics shows each Help topic value. Even if I haven't created or no one have created a ticket on statistics it will show 1 as default and when I close the ticket Open ticket will still have a value of 1

[2016-06-10 13:02] osticketUser commented on #430
Hello,
Same problem here with version 1.9.12 Any solution Please ??

[2016-06-24 10:33] mayurbudukale commented on #741
i want the agent to be able to sent the ticket back to the originator, this would be helpful while a ticket is wrongly assigned to an agent. can anyone help??

[2016-07-04 15:26] abenjas commented on #515
how much does it cost? and do you have a vat number for an invoice?

[2016-07-04 15:48] clarkie2014 commented on #515
Hi, it’s completely free!

http://www.esperim.com/product/ost-plus-1-4-2

Hope that helps.

---

Stephen Clark
IT Infrastructure Engineer

[cid:MHCINSIGHTfooter.JPG]

Concern: The Mental Health and Wellbeing Group

T:

0191 217 2936

F:

0191 217 0350

E:

stephen.clark@concerngroup.orgmailto:stephen.clark@concerngroup.org

Mental Health Concern is a registered charity, Insight Healthcare is a not

[2016-07-04 16:09] abenjas commented on #515
Hi,

thanks, I am sorry for the misunderstanding: I know it's free, I was asking
for a custom plugin that marcomarsala https://github.com/marcomarsala has
implemented: CRUD GUI to manage working hours and holiday calendar.
It's seems that popular open source ticket platform are not willing to have
a calendar with business hour and holidays. I can't understand why: I can't
have overdue tickets on w

[2016-07-04 16:27] marcomarsala commented on #515
@abenjas, please contact me in private to discuss details. marco.marsala at live.it

[2016-07-14 16:33] chang-ngeno opened #912 "Class 'Crypto' not found"
I have tried installing this version and i got this error.
-_**Fatal error:** Class 'Crypto' not found in C:\xampp\htdocs\os-develop\include\class.misc.php on line 29_ @protich

[2016-07-23 19:49] karthikindia commented on #897
i dont understand this part, anyone can explain in detail

[2016-08-24 06:53] kanchanarandika commented on #746
+1 to the email forwarding feature

[2016-10-07 05:31] smzed commented on #883
Hi,
Its a very old thread but I am facing the same issue with a newer version of OSTicket (osTicket (v1.9.12)). Is it possible to create tickets for Encrypted or Digitally signed emails?  In short, will OSTicket support S/MIME encrypted emails?

[2016-10-12 23:52] Nilesh9 opened #913 "cannot login to osticket"
I am new admin for our Osticket instance. Our users are not able to login to the Osticket portal. The page just times out. I have SSH access to the VM using localadmin account.

Please advise what I need to be looking at to resolve this issue.

[2016-10-13 01:41] Nilesh9 commented on #913
It was a DNS issue. Had to change the DNS server details on the interfaces files. All good now

[2016-10-13 01:41] #913 closed

[2016-11-12 17:37] #113 closed

[2016-12-07 18:03] NCC-Lykos commented on #538
This is 2016...you would think almost everything supports nginx.

I'm also having the blank ajax problem, I've tried all the solutions listed to no avail. Our entire infrastructure runs NGINX, and spinning up a single server to run Apache just for osTicket seems like a giant waste of resources...

What can be done about this?

[2016-12-07 18:10] infectormp commented on #538
@NCC-Lykos here is my fully working config
[code]

[2016-12-19 22:52] lepazca commented on #538
@infectormp I have my configuration like you and I can't even made it pass after the initial installation. I get blank tooltip and code 502 Bad gateway with text "Primary script unknown" in the error.log.

Using 1.10 stable release.

[2016-12-20 07:56] infectormp commented on #538
@leandropc forgot to mention, i set `cgi.fix_pathinfo = 1` in php.ini. Did you try this?

[2016-12-20 15:48] lepazca commented on #538
@infectormp yes, btw according to the documentation the Default value is 1

![cgi fix_pathinfo](https://cloud.githubusercontent.com/assets/17462646/21356883/306ce244-c6a1-11e6-94a9-418c73f266e6.png)

[2016-12-20 15:56] infectormp commented on #538
@leandropc can you post your config here?  It's look like you have wrong config.

[2016-12-20 17:41] lepazca commented on #538
Sure

/etc/nginx/sites-enabled/support
[code]
/etc/nginx/fastcgi_params

[code]

[2016-12-20 18:28] infectormp commented on #538
@leandropc try replace `fastcgi_param   SCRIPT_FILENAME         $request_filename;` to `fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;` in /etc/nginx/fastcgi_params

[2016-12-20 18:30] tomashastings commented on #538
Or put the fastcgi_param SCRIPT_FILENAME after the include of
fastcgi_params, so you aren't setting it and immediately overwriting it
again.

On Tue, Dec 20, 2016 at 7:28 PM, infectormp <notifications@github.com>
wrote:

[2016-12-20 19:07] lepazca commented on #538
@infectormp @tomashastings I did the change in the fastcgi_params configuration file and delete the line fastcgi_param SCRIPT_FILENAME from the main one, trying to install now.

I keep getting the blank tooltip.

error.log
`2016/12/20 13:34:51 [error] 63443#0: *4083 FastCGI sent in stderr: "Primary script unknown" while reading response header from upstream, client: 192.168.20.4, server: support.e

[2016-12-20 19:13] lepazca commented on #538
When I click the 'Install now' button almost instantly I get 502 BAD GATEWAY

error.log
`2016/12/20 14:10:08 [error] 63590#0: *4436 recv() failed (104: Connection reset by peer) while reading response header from upstream, client: 192.168.20.4, server: support.example.com, request: "POST /setup/install.php HTTP/1.1", upstream: "fastcgi://unix:/var/run/php5-fpm.sock:", host: "support.example.com",

[2016-12-20 19:16] infectormp commented on #538
@leandropc sorry my fault, i look to wrong conf. Please get back `fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;` to main conf and set in **fastcgi_params** `fastcgi_param  SCRIPT_NAME        $fastcgi_script_name;`

here is my
[code]

[2016-12-20 19:46] lepazca commented on #538
@infectormp same outcome   :(

/etc/nginx/sites-enabled/support
[code]
file /etc/nginx/fastcgi_params exactly like yours

[2016-12-20 19:52] infectormp commented on #538
@leandropc ok, check` php-fpm pool run user` = `nginx run user` = `owner of /var/www/html/support`.

[2016-12-20 20:09] lepazca commented on #538
/etc/php5/fpm/pool.d/www.conf
[code]
/etc/nginx/nginx.conf
`
user www-data www-data;
`
[code]
Folders have 755 and files 644

[2016-12-21 07:36] infectormp commented on #538
@leandropc sorry mate, not have any idea why this happens. All looks fine.

[2016-12-29 07:57] ghost commented on #635
I'm having a similar issue where both of the axis on Ticket Summary are showing NaN and the Statistics are showing 0 tickets when there are and they are assigned. I've checked and the cgi.fix_pathinfo = 1 is accurately set, so I'm not too sure what's going on there or what needs to be done to fix it. I'm working on it right now but if anyone has found out how to fix it please update. Thanks in adv

[2017-01-05 14:18] adilix commented on #746
+1 please !

[2017-01-16 18:42] Raul-mz commented on #538
@leandropc your problem is solved by modifying the method get_path_info in include/class.osticket.php

`   function get_path_info() {
  $request_uri = preg_replace('@\?.*$@', '', $_SERVER['REQUEST_URI']);

        if (strpos($request_uri, $_SERVER['SCRIPT_NAME']) !== false) {
            $guessed_pathinfo = preg_replace('#^'.preg_quote($_SERVER['SCRIPT_NAME']).'#', '', $request_uri);
        } els

[2017-01-16 18:43] Raul-mz commented on #538
@leandropc your problem is solved by modifying the method get_path_info in include/class.osticket.php

`
function get_path_info() {
$request_uri = preg_replace('@?.*$@', '', $_SERVER['REQUEST_URI']);

    if (strpos($request_uri, $_SERVER['SCRIPT_NAME']) !== false) {
        $guessed_pathinfo = preg_replace('#^'.preg_quote($_SERVER['SCRIPT_NAME']).'#', '', $request_uri);
    } else {
        $gues

[2017-01-16 18:46] Raul-mz commented on #538
@leandropc Your problem is solved by modifying the method get_path_info in include/class.osticket.php.
 function get_path_info() {
       $request_uri = preg_replace('@\?.*$@', '', $_SERVER['REQUEST_URI']);

        if (strpos($request_uri, $_SERVER['SCRIPT_NAME']) !== false) {
            $guessed_pathinfo = preg_replace('#^'.preg_quote($_SERVER['SCRIPT_NAME']).'#', '', $request_uri);
        } e

[2017-01-16 18:47] Raul-mz commented on #538
@leandropc Your problem is solved by modifying the method get_path_info in include/class.osticket.php.

function get_path_info() {
$request_uri = preg_replace('@?.*$@', '', $_SERVER['REQUEST_URI']);

    if (strpos($request_uri, $_SERVER['SCRIPT_NAME']) !== false) {
        $guessed_pathinfo = preg_replace('#^'.preg_quote($_SERVER['SCRIPT_NAME']).'#', '', $request_uri);
    } else {
        $guess

[2017-01-20 14:52] anandselvarasu commented on #267
How to login without password in osticket1.10 ?

[2017-01-28 03:03] alfie013 commented on #236
Hi @jeffchulg,

Any update on this?

Thank you,
Alfie

[2017-02-13 14:15] seteq commented on #746
+1

[2017-02-13 14:39] seteq opened #914 "Redirect email/ticket to external email account"
Is it possible to selectively redirect incoming emails/tickets to another external email address (including attachments) maybe similar like a forward in outlook?

We're using osticket for sales and customer support and from time to time there is some conversation which needs to be adressed to some specific external persons, who have no access to the ticket system at all.

Now we have to forward th

[2017-02-13 14:41] #914 closed

[2017-02-15 10:42] proudcommerce commented on #746
+1

[2017-02-24 07:29] rahul10100 commented on #746
+1

[2017-03-08 18:01] nmindz commented on #538
I know I am replying on a topic that is almost 4 years old, but information here is still relevant today.

For those like me, who might have control of their web servers, and opt not to change ANY software code (that would eventually break in any future release or update, since it has not been merged into the project and might eventually cause all kinds of headaches), here's my experience with OST

[2017-03-21 17:21] anddyk2001 commented on #559
Hello, I am currently having the same issue after updating to 1.10 has there been a definite solution?

[2017-04-04 05:34] intuen commented on #91
@protich Thank you this was very helpful.

[2017-04-06 09:48] hemant2586 opened #915 "Magento 2 and osTicket integration for user registration via api"
I am looking for an api to create/register the new user. I want all my Magento 2 users registered with osTicket, so whenever any new user registers, the same data would be posted to osTicket and get it registered at there too. I can see help to create/reply tickets using api but not found any help regarding user registration. Please help me in case any one already have done it.

[2017-05-09 12:32] igormop commented on #383
I create a link on page /include/client/login.inc.php like this:

<a href="pwreset.php"><?php echo __('Forget my pass'); ?></a>

Just below the Button Sign In, and it's working for  @ParmaU @roopesh007

[2017-05-09 12:33] igormop commented on #383
I create a link on page /include/client/login.inc.php like this:

` <a href="pwreset.php"><?php echo __('S.O.S. with my pass :( '); ?></a>`

Just below the Button Sign In, and it's working for @ParmaU @roopesh007

[2017-05-22 16:42] MercedesLlopis opened #916 "PROBLEMA AL ACCEDER A MENSAJES POR LOS EXPERTS"
Parece ser que varios expertos estan teniendo problemas para acceder a los mensajes. Adjunto pantallazo de lo que les ocurre de momento a 2 expertos hoy.
![captura de pantalla 2017-05-22 a las 18 40 17](https://cloud.githubusercontent.com/assets/28058069/26319215/6777716e-3f1e-11e7-84fe-ed985d50519f.png)

[2017-05-22 16:43] #916 closed

[2017-06-06 02:35] norganna commented on #515
For anyone else who arrives here from Google interested in implementing this, this is how we hacked SLA hours into our install:
[class.ticket.diff.txt](https://github.com/osTicket/osTicket-1.7/files/1053659/class.ticket.diff.txt)

Enjoy.

[2017-06-06 02:42] norganna commented on #515
For anyone else who arrives here from Google interested in implementing this, this is how we hacked SLA hours into our install:
[class.ticket.diff.txt](https://github.com/osTicket/osTicket-1.7/files/1053674/class.ticket.diff.txt)

Enjoy!

[2017-06-19 03:48] clonemeagain commented on #682
I wanted it on mine as well, I just changed line 148 of /include/staff/ticket-view.inc.php (osticket 1.10, edit sorry, didn't notice this was a 1.7 thread)

[code]

to:
[code]

Worked a treat. :-)

[2017-06-30 13:25] ClepToManix opened #917 "Valid CSRF required"
Hello,

i installed a fresh instance of osticket 1.10 on my ubuntu 16.04 with php 7.1
After the installationwizard i get an error while logging in scp.

I have found no solution that works for me. I read about to change the php version but this is not possible for me because my other systems need php 7.1

Hope anyone can help me

[2017-06-30 13:25] ClepToManix commented on #917
Sorry, wrong Topic

[2017-06-30 13:25] #917 closed

[2017-07-18 11:37] webhead17 commented on #682
@clonemeagain It was line 147 for me, but it worked like a charm! Thanks for that.

[2017-08-03 13:47] fawaztahir commented on #746
+1

[2017-09-05 02:02] blckhwk commented on #422
Hi, did someone found solution/s for this issue?

[2017-09-05 15:26] ntozier commented on #422
@blckhwk
I would recommend that you visit the support forums and post a thread about your situation and your information. Posting updates on resolved threads will likely go unanswered and you have not provided us with any meaningful environmental details with which to assist you.

Please read before requesting assistance:
http://www.osticket.com/forum/discussion/77765/please-read-before-requesting

[2017-10-04 12:49] FileSubmit commented on #746
+1

[2017-10-08 12:29] stevedw2017 opened #918 "No open or closed ticket view -HELP"
osTicket Version | v1.10.1 (9ae093d)     —  Up to date
Web Server Software | Microsoft-IIS/8.5
MySQL Version | 5.5.43
PHP Version | 5.6.30
My OSTcket has been operating with no problems until yesterday - when I log in there are no open or closed ticket lists daisplyed - the total open and overdue are visible (see screenshot)
I have made some chsanges in the admin panel prior to this - any iseas wh

[2017-10-16 06:54] etessam opened #919 "Ticket Transfer Doesn't work with Filters"
osTicket (v1.9.15)

I've set filters to auto-assign received tickets. It work as designed, however when Transferring the ticket to another person, the ticket is still assigned to: the prev. staff in the **Open Ticket** view.
And when opening the ticket it shows: Perv. Staff/New Staff**or**Group.

I want to know the php file that displays this information in the **Open Ticket** view. Plus the php f

[2017-10-16 10:14] chrisscotweb commented on #515
Fantastic @norganna thanks for sharing.
Still think this would be a great feature - even if it was just as simple as there being an "exclude weekend" config for us meagre small businesses.

[2017-11-21 19:27] mckaygerhard commented on #889
same as osTicket/osTicket#3382 wow! another log time bug!

[2018-01-01 00:48] mckaygerhard commented on #538
thanks @nmindz great work, at leas something made something, i already made some docs for install in hiawatta and lighty too due osticket have lack of right knowledge in real professional installation usage..

[2018-02-26 22:58] ashirel commented on #912
any solution to this?
tnx

[2018-03-17 13:24] jaiprakashmadept opened #920 "tools is not showing in Predefined Reply editor"
tools is not showing in Predefined Reply editor and when select predefined reply it is not working properly.
please find the attach and suggest me
![osticket staff control panel](https://user-images.githubusercontent.com/37476180/37555880-8ca7c98e-2a14-11e8-9c3d-05bc71d418d4.png)

[2018-03-17 14:56] jaiprakashmadept opened #921 "React editor is not working."
React editor is not working in my osticket version.

[2018-04-13 06:35] akash65 commented on #829
can anyone tell me how due date is assigned once we create user through web portal?but here we didnot enter due date in any fields right then how it comes?

please help me asap

[2018-04-13 06:45] akash65 opened #922 "how web portal assign due date to end user"
can anyone tell me how due date is assigned once we create user through web portal?but here we didnot enter due date in any fields right then how it comes?

please help me asap

[2018-04-13 13:22] ntozier commented on #829
@akash65  This does not appear to have anything to do with this error/issue report.  If you have general questions about how things work I would invite you to participate in the support forums at: http://osticket.com/forums

"Due Date" isn't assigned to users when they are created.
Due Dates are assigned to Tickets.
Starting Due Dates are assigned by your Default SLA.

SLA's are managed at: Admin

[2018-04-20 07:04] akash65 commented on #92
can anyone explain me what is difference between SLA and Due Date?

[2018-04-25 04:31] akash65 commented on #92
Can anyone tell me what is transient?

[2018-04-25 05:37] akash65 commented on #92
How To Do Automatically changing the SLA Plan when Help Topic Changes? can anyone explain me asap

[2018-04-25 07:25] akash65 commented on #606
How To Do Automatically changing the SLA Plan when Help Topic or Department Changed by steps? can anyone explain me asap

[2018-04-25 09:52] akash65 commented on #92
How To Do Automatically changing the SLA Plan when Help Topic or Department Changed by steps? can anyone explain me asap

[2018-07-26 17:22] amalmagdy commented on #368
more APIs are added at (https://github.com/osTicket/osTicket/pull/4361/files)
for handling more ticket operations as

- retrieve ticket details.

- get list of tickets issued by one user.

- get list of tickets assigned to an agent (staff member).

- post a reply message to one ticket with updated status. i.e. change ticket status from open to closed.

[2018-12-10 09:10] Orkanson commented on #515
@norganna can you say me where i have to implement your code?

[2018-12-12 06:05] norganna commented on #515
@Orkanson It's a manual hack I made almost a year ago for the existing code base at the time, you would need to be somewhat familiar with programming languages to implement it. Specifically it needs to be customised to your timezone and support hours.

If you want to take a crack at it regardless, simply open up the diff file I linked. It's a text file, and lists the lines added and removed from t

[2018-12-12 06:36] marcomarsala commented on #515
We saw it's possibile to do it with SQL triggers without editing the code.

[2019-03-18 11:22] hans-chen commented on #515
@marcomarsala would you please indicate how to do that by SQL triggers?

[2019-03-18 17:20] marcomarsala commented on #515
You may write a trigger firing on INSERT and overwrite the date, doing all the calculation. This will be resistant to core upgrades too.

________________________________
Da: Hans Chen <notifications@github.com>
Inviato: lunedì, marzo 18, 2019 12:22 PM
A: osTicket/osTicket-1.7
Cc: Marco Marsala; Mention
Oggetto: Re: [osTicket/osTicket-1.7] Exclude non-working hours from SLA (#515)

@marcomarsala<h

[2019-03-18 19:42] hans-chen commented on #515
@marcomarsala
Thanks, do you mean to overwrite the "created" in table ost_ticket before INSERT?
In that case the created date would not be the actual created date?

would you please share the trigger you are using as reference?

[2019-04-05 20:58] SETI opened #923 "reverse proxy help"
Trying to setup osticket behind a HAProxy load balancer.  Most of the site is working.  However, when I attempt to mass delete tickets, I get a "Not a directory" error in the logs, the deletion doesn't happen, and the only visual I see is an empty light box floating above the webpage.

scp/ajax.php/tickets/mass/delete" failed (20: Not a directory),

[2019-04-08 08:35] OgundareIbukun commented on #206
hi, @josh185. None of these links are working any longer.  Can you please share your solution here.

[2019-04-08 14:11] Richiricheh commented on #206
@OgundareIbukun  osTicket forums have a search feature....

I assume this is what you're looking for:
https://forum.osticket.com/d/89699-osticket-v110-merge-duplicate-ticket-mods-attached (MOD based on 1.10)

I'd also like to point out that one of the DEVs on this git pull responded:

https://github.com/osTicket/osTicket/pull/3768#issuecomment-478061838

It appears that they will be adding this fe

[2019-06-10 08:26] AbiuBelo commented on #491
Halo good afternoon
So i have a problem about osticket
I need someone can help mi to resolve problem such as
 Bad prefix. Must have underscore (_) at the end. e.g 'ost_'
Thank you very much

[2019-07-03 10:46] MrDeanoB commented on #515
@norganna great manual hack which I have just deployed. However, I have noticed a bit of a challenge and wondered if you'd solved it. It appears that the due date is correctly showing based on working hours but the overdue trigger still appears to be calculating against clock hours. Any thoughts?

[2019-07-03 10:48] MrDeanoB commented on #515
@clarkie2014 I don't suppose you happen to have a copy of the OST+ code. It appears they are no longer actively working on the code and it's no longer available.

[2019-07-03 13:00] MrDeanoB commented on #515
@norganna I think I have found the issue. The checkOverdue SQL statement is not looking at the est_duedate and therefore calculating the SLA against create date against the grace period. I've fixed this and resolved the issue I was having. It's not perfect as I need to fix reopened tickets.

The SQL statement looks like this now:

        $sql='SELECT ticket_id FROM '.TICKET_TABLE.' T1'

[2019-08-26 04:53] cheasingh commented on #538
solved my problem,

[2020-01-07 21:46] yafp commented on #682
what should we do with this old issue?

[2020-01-07 21:50] JediKev commented on #682
@yafp

Being that this is pertaining to a version that is no longer supported and in a repo that isn't used anymore, I'd say Close this issue (I will close this for you actually). If you are using the `1.12.x` or the `1.14.x` series then there is either a global Role Permission to Unassign Tickets or if you are a Department Manager then you can Unassign any ticket in your Department.

Cheers.

[2020-01-07 21:50] #682 closed

[2020-01-16 04:27] Eckybrazzz opened #924 "[BUG]Many errors when clicking on not active user."
When a user creates a ticket and I want to assign it to an agent it gives me a lot of errors. I receive them by email

Enviormnet
nginx
php 7.4.1

error
[code]

[2020-01-16 04:33] JediKev commented on #924
@Eckybrazzz

Go to `ost_queue` table, copy the record with `id` of `15`, paste it here so we can do some research, and then delete the record in your database.

Also, you opened this issue in the wrong repo. You need to open all future issues here:
- https://github.com/osTicket/osTicket

Cheers

[2020-06-29 19:28] Hatimtech commented on #538
Worked Perfect. Thanks.

[2020-08-13 02:09] rolltidehero opened #925 "Bad prefix. Must have underscore (_) at the end. e.g 'ost_'"
v. 1.14.2 installer continues to prompt me about the database prefix not ending with an underscore but it does. I left it at the default ost_ and it still throws the error. Screenshot below.

![image](https://i.imgur.com/VWjaLOS.png)

[2020-08-13 02:14] rolltidehero commented on #922
It's based on the ticket priority and your SLA settings. It assigns due date based on the current time + SLA time.

[2020-08-13 02:15] JediKev commented on #925
@rolltidehero

Wrong repo, please repost here:
- https://github.com/osTicket/osTicket

Also, I just installed osTicket v1.14.2 with PHP 7.4 and MySQL 8.0 today with no issues. Do you have a space at the end or something?

**NOTE:**
When you repost in the correct repo mentioned above please post your environment details such as PHP version, webserver version, MySQL version, etc.

Cheers.

[2020-08-13 02:15] #925 closed

[2020-08-20 11:29] Jas4you commented on #883
Hi,

Sorry for raising this thread from the deads. Was a solution found for this issue? I am experiencing this situation quite often lately.

Please share a solution if ever you have one.

Thank you

[2020-08-20 13:27] JediKev commented on #883
@Jas4you

Wrong repository. The correct repo is here:
- https://github.com/osTicket/osTicket

I would also encourage you to upgrade the the latest release of v1.14.3 and retest.

Cheers.

[2020-08-20 13:44] Jas4you commented on #883
@JediKev

Thank you!

I was just trying to search if someone else got a similar issue and found this thread.

I will look into the upgrade part and test again.

Cheers.

[2021-01-27 12:28] digdilem commented on #746
+1 - still a problem!

[2021-04-05 17:41] rlmuthukumar commented on #538
Hi Guys,
Kindly help me... how the nginx config for docker container. Let me know what will be the root path.

Thanks.

[2021-04-05 20:14] rlmuthukumar commented on #538
Hi Tried in the below files location.

./public/include/class.osticket.php
./include/class.osticket.php

after changing also getting same popup message... Kindly help me for fix... my osticket runs as container
Thanks.

[2021-06-09 02:27] Mohsnb commented on #923
Hello, I turn off `Modsecurity` of host settings and fix it.

[2022-11-29 04:11] rocklee44 opened #926 "Cannot add collaborators"
Hi all,
My environment : Centos 8 , osTicket Version v1.17 , Apache/2.4.37 , PHP 8.0.24 , MySQL 8.0.26
My account has administrator permission , this is screenshot when I try to add collaborators to ticket:
![11](https://user-images.githubusercontent.com/12525493/204436294-2be669e6-6a25-4d54-83d3-b30169b0dc02.PNG)
This is php error log:
[code]
I have LDAP Authentication and Lookup 0.6.2 connect to

[2022-11-29 04:20] JediKev commented on #926
@rocklee44

Please use [our Forum](https://forum.osticket.com) next time. However, since you already opened this I will provide an answer:

Please upgrade to v1.17.2, install the latest build of the LDAP plugin, and retest. v1.17 had quite a few bugs that were subsequently addressed in later versions.

If you continue to run into issues please search through our Forum for existing threads. If you

[2022-11-29 04:21] #926 closed