[2013-03-05 06:37] rajagopalan commented on #431
Yes i would be ok with your suggestion and i welcome your suggestion.

[2013-03-05 15:25] henesnarfel opened #488 "Undefined index everywhere"
Just pulled the latest master.  I know this isn't fully released yet but was trying to debug something and I put the below in the ost-config.php

[code]

Undefined index everywhere.  Hopefully this won't be left like this when finally released.

[2013-03-05 15:29] henesnarfel opened #489 "Paging within the client view no longer works"
We have a client who has well over 900 closed tickets.  When they first log in it is sorted oldest to newest.  They tried to page to the end because they didn't know they could sort columns.  The paging doesn't work and it seems the the file **_include/client/tickets.inc.php**_ no longer checks for the query string variable of **_p**_ to page the results

[2013-03-05 15:44] protich commented on #488
You should see error reporting settings in main.inc.php - Notices are suppressed by default.

PS: Display errors will be set to off on stable release and even RC releases going forward. But I doubt we'll refactor the code to define every variable system wide.

[2013-03-06 09:39] BartVB opened #491 "Database prefix is required"
The install script requires a table prefix which makes sense in shared databases but not when you are using a dedicated DB for osTicket.

I've changed setup/inc/class.installer.php line 56 to set 'required' to 0. Install completed successfully without a DB prefix, osTicket seems to be working properly.

[2013-03-06 14:55] henesnarfel commented on #488
Didn't see those settings but I do now.

As for not fixing the errors.  In my opinion that is unacceptable coding practice.  Especially for something that is going to be used for a pay service in the future.  To me (and what I've seen when searching) an error is an error no matter how small and should be fixed. It can also cause a performance hit as well depending on the traffic the server gets an

[2013-03-06 15:13] protich commented on #488
I understand where you're coming from - I've done plenty of C development where undefined variable is an error. But this is PHP - not being able to define variable is allowed (considered a feature by some). Download any PHP application and I can almost guarantee you - you'll get plenty of notices due to undefined variables (I challenge you to do same on your Moodle fork and post the results).

osT

[2013-03-06 15:47] henesnarfel commented on #488
Two widely used open-source php applications Codeigniter and Moodle and neither display undefined variables unless there is one.

Moodle Before
![moodlebefore](https://f.cloud.github.com/assets/1446886/228067/c7d0a02e-8674-11e2-8f30-19375812e09f.jpg)

Moodle After
![moodleafter](https://f.cloud.github.com/assets/1446886/228069/cfeaadcc-8674-11e2-8226-3056fa84389e.jpg)

Codeigniter Before
![codeign

[2013-03-06 16:03] protich commented on #488
I stand corrected on Moodle - but note that osTicket issue is undefined indexes - not variables.

We go through great pain to "save" what the user enters on the forms on error, and also displaying the corresponding error message - it's the main reason for many of the undefined indexes. The issue will be addressed when we move to a templating engine in v1.8.

**PS**: For 1.7 code base I'll consider

[2013-03-06 18:39] protich opened #493 "Invalid CSRF tokens"
- Disable emailed alerts by default - warning still gets logged into db.
- Add settings to enable email alerts (same as SQL errors) (v1.7.0+)

[2013-03-06 19:04] henesnarfel commented on #488
The getter is a good idea and would satisfy my OCD.

[2013-03-06 19:44] protich commented on #491
@BartVB - It's a tough call. We decided to make it a requirement after too many clobbered tables in shared databases. Aborted installation due to conflicting table(s) won't be fun either.

[2013-03-06 19:58] protich commented on #486
The feature is planned - we'll need to have [email reply validation](https://github.com/osTicket/osTicket-1.7/pull/444) in place before the feature is supported.

[2013-03-06 20:03] protich commented on #483
Thanks for the feedback -  KB/FAQ will be getting some love post 1.7 release. I personally I think the interface can be improved to make it more intuitive and closely tied to ticket submission.

[2013-03-06 20:09] protich commented on #481
While the feature sounds simple - it gets complicated when you consider possible reasons for closing a ticket. For example closing a duplicate or spam ticket shouldn't send out notification. Such notification have to be tied to ticket workflow and "buckets" -  we'll revisit the issue in the near future.

[2013-03-06 20:10] #463 closed, assigned to nobody

[2013-03-06 20:21] Tarikc commented on #481
Thank you a million for your reply peter, although there is check boxes and the admin can tick it off.
I currently did it on the 1.6 ST and unchecked the spammy check box.
Also there is that captcha code to prevent spammers.

I'm sorry if I'm being so disturbing, but it is a good feature to help other department members get notified when the ticket is closed.

[2013-03-06 20:28] protich commented on #481
I don't think we're on the same page. I assumed you meant notification being sent out to user (ticket requestor) when a ticket is closed by staff.

That said, osTicket supports internal note alerts to staff members. We plan on expanding it to include ticket activity - which in this case will include change of status.

[2013-03-06 20:32] #409 closed, assigned to nobody

[2013-03-06 20:32] #429 closed, assigned to nobody

[2013-03-06 20:46] apmorton commented on #486
Is this feature slated for 1.7 final? or is this something likely to be held for 1.7.x/1.8?

[2013-03-06 21:25] formerandroider opened #496 "No 'codebase-cleanup.sh' file?"
According to the upgrade txt file, there should be a codebase-cleanup.sh script in the setup folder. There isn't, or if there is I can't find it.

[2013-03-06 23:20] protich commented on #496
It's in [setup/cli](https://github.com/osTicket/osTicket-1.7/tree/develop/setup/cli)

[2013-03-06 23:35] protich commented on #486
No new features for 1.7.0 otherwise we'll never release it :)

[2013-03-08 14:48] BernardoCR opened #497 "E-mail fetching latin characters"
osTicket, when fetching e-mails with latin chars (on body and subject) don't recognize them as the letters they should represent.

For example, is I send an e-mail with the work ósTickêt,is turns out to be "Ã³sTickÃªt".

This happens on openning web tickets too.

It would be wonderful, also, that the user could select the charset on the installation, so osTicket would fit all languages, without ha

[2013-03-08 15:02] protich commented on #497
What version of osTicket are you using?

[2013-03-08 15:03] BernardoCR commented on #497
I'm using osTicket (v1.7-RC5).

Date: Fri, 8 Mar 2013 07:02:23 -0800
From: notifications@github.com
To: osTicket-1.7@noreply.github.com
CC: bernardocr@hotmail.com
Subject: Re: [osTicket-1.7] E-mail fetching latin characters (#497)

What version of osTicket are you using?

—
Reply to this email directly or view it on GitHub.

[2013-03-08 15:14] protich commented on #497
One more question - new install or an upgrade from v1.6?

Asking because - I can't replicate the same issue. By default osTicket uses utf-8 and expects the database to be utf-8 too.

[2013-03-08 15:29] BernardoCR commented on #497
At first I upgraded, and had issues. Then I made a new install.My database is 'latin1' and collation 'latin1_general_ci'. Maybe that's the problem?I'll change it to utf-8 and let you know.

Date: Fri, 8 Mar 2013 07:14:47 -0800
From: notifications@github.com
To: osTicket-1.7@noreply.github.com
CC: bernardocr@hotmail.com
Subject: Re: [osTicket-1.7] E-mail fetching latin characters (#497)

One more q

[2013-03-08 15:36] BernardoCR commented on #497
Ok. I changed to utf-8 and the body of the ticket is ok now.But the subjet still shows wrong chars:
"tÃªste", supposed to be "têste".
Thank you.
Date: Fri, 8 Mar 2013 07:14:47 -0800
From: notifications@github.com
To: osTicket-1.7@noreply.github.com
CC: bernardocr@hotmail.com
Subject: Re: [osTicket-1.7] E-mail fetching latin characters (#497)

One more question - new install or an upgrade from v1.6

[2013-03-08 15:37] protich commented on #497
Thanks for the update. We'll check into the subject.

[2013-03-08 15:38] protich commented on #497
Just to be absolutely sure - did you also make sure the subject field is utf-8?

[2013-03-08 16:00] BernardoCR commented on #497
Table: ost_ticketField: subject
Right?
It is utf8 and utf8_general_ci.

Date: Fri, 8 Mar 2013 07:38:52 -0800
From: notifications@github.com
To: osTicket-1.7@noreply.github.com
CC: bernardocr@hotmail.com
Subject: Re: [osTicket-1.7] E-mail fetching latin characters (#497)

Just to be absolutely sure - did you also make sure the subject field is utf-8?

—
Reply to this email directly or view it on Gi

[2013-03-08 16:59] drewx0r opened #498 "Can't see ticket title in detail view."
When looking at the detail of a ticket, the title isn't visible anywhere on the page. I guess it's trivial to go back to the list, but sometimes I'll just open up a bunch of tickets in tabs and sometimes the ticket submitter refers obliquely to the title of the ticket without fully restating the problem. It would be nice to have the title/subject of the ticket visible on the ticket detail page.

[2013-03-08 17:05] drewx0r commented on #498
Jeez. I don't know how my eyes glazed over the title so many times. It's staring RIGHT AT ME. Sorry. Please close this thread and delete this issue. How embarrassing.

[2013-03-08 17:05] #498 closed, assigned to nobody

[2013-03-11 03:31] tristannovak commented on #352
I have the code done for this feature(1.7RC5), but I am interested in changing where it list the files. If someone has added a tab beside the Ticket Thread tab it would speed it up a lot for me.

[2013-03-11 04:53] BernardoCR opened #499 "Feature request"
I don't know how to add a feature request, so I sent it here.

I implemented a code in osTicket 1.6 found on web to merge two tickets.
It would be really nice if we could merge tickets into one.
Code for 1.6 can be found here:

http://www.openscriptsolution.com/ticket-system/osticket/adding-merge-ticket-feature-into-osticket-v1-6-rc5/

Thank you.

[2013-03-11 16:02] #493 closed, assigned to protich

[2013-03-11 16:02] #496 closed, assigned to nobody

[2013-03-13 08:32] hetulkothari opened #503 "Timezone issue..."
Using 1.7 RC5

Hi, we have set the timezone in the system configurations...

we noticed that on the client interface, the times are shown as per the timezone...

however, in the SCP section... it still uses the server times...

can you please check this?
![Staff Control Panel](https://f.cloud.github.com/assets/2770518/252850/76d9f58c-8bb8-11e2-93c9-0d1af1778771.png)
![Help Desk](https://f.cloud.gi

[2013-03-13 13:20] protich commented on #503
SCP uses staff's timezone - so check and make sure your profile has the correct timezone.

[2013-03-13 20:22] billsinc commented on #328
Seeing this issue as well. Do the characters need to be escaped in the DB?  Or possible the templates need to be wrapped in something?

[2013-03-13 21:25] protich commented on #328
@billsinc What version are you using?

[2013-03-13 21:51] billsinc commented on #328
I did the initial setup from a pull just a few hours ago so it should be current.  I believe I'm on the develop branch.

[2013-03-13 22:42] protich commented on #328
Can you send me original raw message at peter at osticket.com?

[2013-03-13 22:51] billsinc commented on #328
Just sent.

[2013-03-14 01:38] whiteatom commented on #422
Didn't fix it for me.. are we sure there's no .htaccess file that I'm missing here?

[2013-03-14 02:01] protich commented on #422
@whiteatom - If you have access to httpd.conf then make sure AcceptPathInfo directive is turned on i.e `AcceptPathInfo on`. You might be able to do the same via .htaccess - if the overwrite is allowed on the directive.

[2013-03-14 02:24] billsinc commented on #328
Problem solved. Was related to using Sendgrid for SMTP relay, which was mucking with the message content.

[2013-03-14 08:56] jeffchulg opened #505 "Force Ticket assignment before working on it"
Hi, my boss asked me if there is the ability to force ticket assignment before being able even to answer it. Maybe via a parameter...

What is your point about it ?

[2013-03-14 09:18] ghost opened #506 "Include everyone on the ticket, CC & To emails - Enhancment"
It would be great if when some one sends a support email and includes a colleague or several colleagues in the To or CC fields, the colleague(s) were included in all future notifications relating to the ticket.

Not everyone would want this, so I guess it should be something you can turn on and off in the settings. Maybe also give recipents a link to opt out of further notifications.

Anyway, I'm

[2013-03-14 12:13] jeffchulg commented on #506
One point that should be done too in the same idea... is that all CC colleagues could login using their email address and the shared ticket id.

[2013-03-14 12:50] protich commented on #505
You can auto-assign using ticket filters or help topics (web tickets).

[2013-03-14 13:12] jeffchulg commented on #505
I understand this way of doing, but it's not what he asks : a ticket can be resolved by anybody in a team (assuming they share the same knowledge). So ok, ticket can be assigned to team, but not to a member. What he asks is that if there is no assignement on a ticket, one can't do anything on it except assign to him (maybe at reply)...

[2013-03-14 13:28] protich commented on #506
I had a long list of requirements for the feature but I can't find it at the moment. Anyways - below are my quick thoughts, to get the discussion started.

Implementing CC/BCC code-wise is trivial - but what you need to worry the most about are privacy/sharing related issues because of how osTicket implements authentication, and any implications on the rest of the system.
1. Logging using ticket I

[2013-03-14 13:33] protich commented on #505
Auto-claim on reply is not a supported feature. That said, when a ticket is closed it gets "assigned" to closing staff.

[2013-03-14 13:48] jeffchulg commented on #505
Would the "Auto-claim on reply" feature be implemented then ?

We have at this time tickets that can stay open for months, so it's not enough, to him

[2013-03-14 13:55] protich commented on #505
To be honest, it's not a feature on my todo list. May be it's something we can revisit post v1.7 release or perhaps you can implement it yourself and make a pull request?

[2013-03-14 13:57] jeffchulg commented on #505
yes, it's not so difficult.. I'd just need time to get into github...
I'll try it tomorrow

[2013-03-14 14:02] ghost commented on #506
Yes, I clocked the viewing all tickets thing last night just before I decided going home and eating trumped further coding. It's the most fundamental thing to sort before my mods are used in a production environment.

I'm whacking things to do as I come accross them on https://github.com/WalterEgo/osTicket-1.7-MultipleEmailRecipients/issues so I don't forget, feel free to add anything else as the

[2013-03-14 14:08] Richiricheh commented on #505
It was made an internal policy with my team that if they didn't claim a ticket from the teams queue prior to working on it then it would be treated as a negative item in their Year-end and/or quarterly review. Running an aged ticket report and a separate aged ticket report w/ no assignee + response would not be difficult. The later report could even be run on a weekly or daily basis is that is wha

[2013-03-14 14:32] ghost commented on #506
Quick question: What is the best way to document any additions I make to the database?

[2013-03-14 14:54] protich commented on #506
@WalterEgo - We use a monkey-patching like system to allow for continuous DB changes at any point of development cycle. See https://github.com/protich/osTicket-1.7/commit/14efd716b67e83e3cef1da6ddbf17109f0d992dd as an example of a pull request with database changes.
- Schema signature is a md5 hash of core osTicket SQL schema (what new installation use) -  setup/inc/sql/osTicket-mysql.sql
- Any sc

[2013-03-14 15:45] ghost commented on #506
Cool, I'll keep my SQL in a temporary file for now and monkey-patch it up when I'm done.

[2013-03-15 11:03] ghost commented on #506
Re: but what you need to worry the most about are privacy/sharing related issues because of how osTicket implements authentication, and any implications on the rest of the system

I think I've got this covered now sort of...

I made it omit the email part of the link when emailing when folks are CC'd and you just have to enter you email when you click the link.

I made changes to login, ticket sel

[2013-03-18 07:59] velkka opened #508 "Character set handling broken in pipe.php"
Handling of non-ascii characters in email piping is not working correctly.

Non-ascii characters such as ö,ä and å will be removed from both subject and message field. It was working fine in RC4, but has been broken in RC5 and RC6. I've tested fresh install of RC4, RC5 and RC6 and upgrade from RC4 to RC5 and RC6 in same box with same PHP and MySQL installation and only RC4 works correctly.

I'm ru

[2013-03-19 13:23] vijnv commented on #508
I also noticed a problem with handling binary attachments in RC5+RC6 when using the pipe method.

[2013-03-19 13:31] protich commented on #508
Thanks for the bug report - I'll look into the issue.

@melgior - Can you please email me the raw text of a sample email you're having issue with? I can be reached at peter at osticket dot com.

[2013-03-19 16:19] belzael opened #510 "wrong function call in class.ticket.php: onOverdue()"
There is a wrong function call in the file class.ticket.php on line 972:
            if($this->isAssigned() && $cfg->alertAssignedONTransfer()) {
it should be:
            if($this->isAssigned() && $cfg->alertAssignedONOverdueTicket()) {

[2013-03-20 10:26] hetulkothari opened #511 "Ticket Close Alert to Department Manager"
Hi,

I know Close Ticket Alert has been discussed a few times...

I think having an ability to Alert the Department Manager whenever a ticket closes will help too.

Thanks,

[2013-03-20 13:01] Hamsteren commented on #398
I've been looking into this issue as and it looks like this only happens when the mail has an attachment as the only content-type fx.
Content-Type: application/pdf; name="attachment.pdf"
Content-Description: attachment.pdf
Content-Transfer-Encoding: base64

If this is the case, then the ticket will say (EMPTY) and the attachment is "rejected".
It looks like the mailparser needs some check that say

[2013-03-20 22:48] #489 closed, assigned to nobody

[2013-03-22 04:47] azimyasin opened #515 "Exclude non-working hours from SLA"
This is a suggestion , The SLA definition should have an option to set working hours and on the basis of that due date should be calculated since the working hours of every organization varies.

[2013-03-25 07:11] jeffchulg opened #516 "Possibility to edit/delete ticket response/internal note"
Hi, all is in the title...

[2013-03-27 07:42] ghost commented on #506
Oh, has it really been really two weeks since I last looked at this!

I think I'm going to make it create individual hashes for each person CC'd on the ticket and send them separate emails, each with their own login URL.

Any comments or thoughts before I start stitching this in are most welcome.

[2013-03-27 21:21] greezybacon commented on #510
Could you review this with the changes merged in the develop branch?

[2013-03-27 21:27] greezybacon commented on #497
#517 was just merged which addresses similar issues. Could you retest with the latest tip of the develop branch?

[2013-03-27 21:29] greezybacon commented on #508
Could you re-test this with the latest tip of the develop branch?

[2013-03-28 08:23] belzael commented on #510
Looks alright to me.

[2013-03-28 08:23] #510 closed, assigned to protich

[2013-03-28 08:53] velkka commented on #508
Tested clean install of 1.7-RC2-420-g3b29918 and upgrade from RC6 and works correctly now.

[2013-03-29 01:05] bensuthers opened #519 "Email Name Required when piping"
If an email is sent to the API via external pipe that doesn't have a 'name', eg just an email address, the following error occurs.

API Error (400)
Unable to create new ticket: validation errors:
name: Name required
err: Missing or invalid data - check the errors and try again
_[A7A3358288FAD9976DCC5F77FCD4AA09]_

[2013-03-29 03:57] protich commented on #519
Thanks for the bug report - feel free to test above pending pull request or f32b35d.

[2013-03-29 04:04] bensuthers commented on #519
Hey Peter,

Thanks.. I'm not familiar with the codebase, but that hasn't fixed my issue.

I think, that maybe  you've fixed it for email_fetch... but I was piping an email in using automail,pl from an external server....

Thanks

Ben

On 29/03/2013, at 2:58 PM, Peter Rotich notifications@github.com wrote:

[2013-03-29 04:23] protich commented on #519
Ben - Are you sure you replaced both files? In your case it's class.mailparse.php

[2013-03-29 04:27] bensuthers commented on #519
Thanks Peter! Of course, I hadn't. I didn't see the other file to replace.

It's all working fine now. Thank you very much.

Bug fixed!

On 29/03/2013, at 3:23 PM, Peter Rotich notifications@github.com wrote:

[2013-03-29 04:31] protich commented on #519
Thanks for the update - now I can go to sleep :) We'll get the fix merged to develop branch after a review.

[2013-03-29 07:15] jeffchulg commented on #215
this is the same report as  Issue #353 and  Issue #475

[2013-03-29 07:15] #215 closed, assigned to nobody

[2013-03-29 07:16] #353 closed, assigned to nobody

[2013-03-29 07:17] #458 closed, assigned to nobody

[2013-03-29 11:00] #228 closed, assigned to nobody

[2013-03-29 14:17] ntozier commented on #515
All the SLAs I've ever read are based on real time, not on "our business hours", that being said this isn't a bad idea. Smaller organizations may want to write their SLAs based on their staff hours. i.e. The company that I work for IT is only open Mon-Fri, 8am-5pm. Having over due, SLA, and ticket age take those hours into consideration would certainly make our department look better in reports. (

[2013-03-29 14:47] greezybacon opened #521 "Install Finished landing page should have a link to login"
After the installation is finished, the install-complete page should have a link to the scp login page.

[2013-03-29 15:01] bobuehlein opened #522 "Emails being cut off or coming over as {EMPTY}"
Hey all I'm using 1.7 RC6.

Many of our users emails come form outlook, as our company uses Exchange for Corporate email.

Many of our new tickets (checked via POP3) are coming across like

"Hi There," and nothing else, or they are coming in as {EMPTY}

The body of the (forwarded) message is at the following gist

https://gist.github.com/bobuehlein/5271360

It seems that things are being cut off a

[2013-03-31 00:20] protich opened #525 "Closed tickets count."
Closed tickets count on ticket's sub-nav is wrong - it's showing "My Closed Tickets" count instead of all closed tickets.

[2013-04-03 11:33] Rittsel commented on #422
I had the same problem as stated above, and **AcceptPathInfo on** in my .htaccess did the trick!
Maybe this should be in the requirements section of the installation documentation?

[2013-04-03 15:05] #519 closed, assigned to nobody

[2013-04-03 15:05] #525 closed, assigned to protich

[2013-04-03 18:32] lehha opened #532 "add X-Loop header"
Hi,

please, add header to all outgoing autoresponders:
X-Loop: yes

And, if possible, checking in cron (api), that parses incoming mail - if this header appear - do not send autoresponder.

Or maybe osTicket already have another tool for prevent looping?

[2013-04-03 18:44] protich commented on #532
Are you suggesting adding the header because of an issue you're having?

I'm curious because osTicket already supports standard auto-response/bulk headers for outgoing auto response emails and also checks incoming emails for the same, including bounces.

You can also setup maximum number of open tickets allowed incase the headers are not present.

[2013-04-03 18:46] BernardoCR opened #533 "Show last replier on ticket list"
It's very important to know who was the last replier on the ticket list, so we can leave a ticket opened (waiting for the customer's reply) and know that we (or any of ours employers) have replied to the ticket.

Here's a modification made for 1.6 RC5:

http://www.openscriptsolution.com/ticket-system/osticket/inserting-last-update-column-in-ticket-list-page-in-osticket-v1-6-rc5/

Thank you.

[2013-04-03 18:48] lehha commented on #532
Yes, I having.

I just look at otrs - its add this header, and otrs-otrs autoresponders do not create loop.

May be it will be good for osTicket too?

[2013-04-03 18:58] protich commented on #532
Are you saying _your_ mail client/server looks for X-Loop and ignores the standard headers? Are you sure you're using osTicket version 1.7?

I'll be interested to see both looping email headers (from osTicket and also auto-response from user).

[2013-04-03 19:08] lehha commented on #532
I'm @ 1.7-rc3

No! I've don't touch my server or client. I've just see, that osTicket got new mail from customer and correctly sent autoresponder. Customer mailbox using OTRS. And OTRS was create new ticket on this autorespond (maybe lost the conversation). Then osTicket sent autorespond on OTSR autorespond - and welcome to loop-hell))

I've belive, that OTRS will not sent autorespond, if will see

[2013-04-03 19:20] protich commented on #532
You'll need to upgrade to 1.7.0 - latest stable release. Auto-reponse detection was implemented starting with RC4 (I think).

That said, I'll still be interested in seeing the header from OTRS' auto response -  osTicket should be muting auto responses when incoming email is clearly marked as an auto-response or bulk. It would be troubling if OTRS only relies on X-Loop header - but I'm hopeful an u

[2013-04-03 19:24] lehha commented on #532
Ok, I'll try update.

Normal message from otrs haven't any additional header. All as usual.
Autorespond from otrs have these additional headers:
X-Loop: yes
In-Reply-To: 88B5DE1364990405@myhost
Return-Path: <>

[2013-04-04 19:49] FromOz commented on #422
Hi folks, same problem here and have been going round in circles trying to figure out how to apply these fixes.

Changing $_SERVER['PATH_INFO'] to $_SERVER['ORIG_PATH_INFO'] didn't work for me.

Can't find any mention of AcceptPathInfo in httpd.conf and not sure if I should change it there even if I could - big warning re not to modify by hand? Also got a dozen+ sites on my dedicated server and wo

[2013-04-05 09:46] Rittsel commented on #422
@FromOz - I only added AcceptPathInfo On as a single row in .htaccess right at the root of osticket. And that's the only row I've got in my .htaccess.

Are you running php in cgi mode? Found someone mentioning on some site that AcceptPathInfo does not work when running in cgi mode. If that's true or not I don't know but worth checking out. I believe you can see if php is a apache2 module if you ch

[2013-04-05 14:11] protich opened #535 "Internal note alerts"
Internal note alerts, when enabled, are being sent out to the poster - if they happen to be ticket's last respondent or assignee.

[2013-04-06 00:12] C4RLOCO opened #536 "Printing a ticket"
When printing a ticket (click on the print button), the PDF is generated. However, if the email has more than 38 characters, the layout is not correct since the text goes beyond the email box boundaries in the PDF generated.

[2013-04-06 00:18] C4RLOCO opened #537 "Internal Note Alert Email is sent back to the same person"
These are the settings under Alerts/Email

(x) Last Respondent
(x) Assigned Staff
(x) Dept Manager

Let's say I am a staff member who posted an internal note. In 1.7ST, the staff member who is NOT the last respondent, nor Assigned Staff, nor Dept Manager is getting the alert back.

From Peter (as a reminder): It happens when you respond to a ticket (thus becoming the last respondent) or when the t

[2013-04-07 02:57] C4RLOCO commented on #516
Yes Please! :)

[2013-04-07 12:02] tomashastings opened #538 "Doesn't work on NGINX due to use of .htaccess files and relying on PATH_INFO"
I was pleased to see 1.7 has finally been released, yet somewhat displeased to see the zip file contains a number of .htaccess files.

Installing went fine, but as soon as I wanted to set up the API to inject e-mails into the system I ran into a number of 'URL not supported' errors.

I had set up NGINX to handle the /api/\* URLS by adding this line to my configuration:

location ~ ^/api/(tickets|t

[2013-04-07 12:06] tomashastings opened #539 "api/task/cron vs api/tasks/cron"
osTicket-1.7.0/scripts/rcron.php contains the following comment:

Configuration: Enter the url and key. That is it.
url => URL to api/task/cron e.g http://yourdomain.com/support/api/task/cron
key => API's Key (see admin panel on how to generate a key)

The correct url should be http://yourdomain.com/support/api/tasks/cron (taskS, not task)

[2013-04-07 12:17] tomashastings commented on #521
You must have missed it, there /is/ a link to the scp-login page, it's on the right hand site, screenshot here:

![osticketlink](https://f.cloud.github.com/assets/4083873/348737/0366ffc2-9f7d-11e2-8a49-88988176bb8f.jpg)

[2013-04-07 15:53] greezybacon commented on #521
Yeah, there's also a handful at the bottom. This comes down to a design issue. There's too much crap on the screen. The only thing you see without five minutes of reading is a file permission correction, which most people probably ignore.

From the design perspective, I (as an installer) think through: I'm done, now what? And this screen doesn't seem to answer that question well.

I think the red

[2013-04-07 16:17] tomashastings commented on #521
You're right. There is way too much information in this screen. I wish I had more time, I'd like to fix a bunch of things I think is wrong with osTicket and make all the fixes/improvements available to everyone, there just aren't enough hours in a week for me to be able to do that though :(

[2013-04-07 17:09] protich commented on #538
@tomashastings - Thank you for the feedback.

Like any other software osTicket v1.7 is not perfect! In our defense the [requirements](http://osticket.com/faq.php) clearly indicates Apache & IIS being the supported web servers. We were sort aware of possible issues related to reliance on AcceptPathInfo directive and mode_rewrite on api urls - e.g  [path info on nginx](http://wiki.nginx.org/HttpFast

[2013-04-07 18:10] protich commented on #537
Duplicate - see issue #535

[2013-04-07 18:10] #537 closed, assigned to nobody

[2013-04-07 18:31] tomashastings commented on #538
Thanks for the reply protich, I'm sorry if my message came off a little strong, English isn't my main language.

I also seem to have overlooked the Apache/IIS requirement. I've used Apache for years but have moved to NGINX for performance reasons, I'm used to having to jump through a few hoops to get things working so that's ok.

As far as path info on nginx goes, the fastcgi_split_path_info direc

[2013-04-07 19:33] protich commented on #538
Thanks for the reply. No apology needed - all I wanted you to know is that,  **you** can help make osTicket better. You're now chief NGINX resident expert and with your feedback/help you can help others in the osTicket community - who might not be as tech-savvy as you.

That said, we have 2 issues;
- **API's url rewrite**

I'm assuming the sample code you posted (quoted below) rewrites the request

[2013-04-07 20:40] tomashastings commented on #538
I couldn't get it to work with fastcgi_split_path_info, I think that's meant for /file.php/extra/path type urls and not /fake/extra/path like osTicket is using (please correct me if i'm wrong).

I had a fix in which I modified class.osticket.php to chop up the request_uri and get the path_info from there, but that's far from ideal, so I decided to make nginx set the PATH_INFO by using set, if and

[2013-04-08 13:07] tomashastings commented on #538
I slept on the above and came up with the following solution for people who cannot (or don't want to) modify their nginx config, the use of 'if' statements in nginx is discouraged ( see: http://wiki.nginx.org/IfIsEvil )

By modifying class.osticket.php's get_path_info function, the path info is determined by looking at the request_uri and script_name.

I tested it on the /api and /scp/ajax.php url

[2013-04-08 15:47] FromOz commented on #422
Yeah, tried that, sadly no go.

Sorry, should have mentioned, running on:

dedicated server
CENTOS 5.9 x86_64
Apache 2.2.24.
PHP 5.3.14
Server API CGI/FastCGI
cgi.check_shebang_line - On (I assume, says 1 in php.info)
cgi.fix_pathinfo - On

No idea what else would be relevant?

A colleague believes our Moodle installs use a similar technique to show images so hunted through the code in Moodle and

[2013-04-09 00:12] GT35M opened #542 "Error Message"
Hi,

Just upgraded to 1.7ST from 1.6ST.  Everything upgraded OK, but when I went to delete some old entries from the 'System Logs', I received the following error;

'Unknown Action - Get technical help'

Thought I'd let you know!

Regards

Steve

[2013-04-09 00:20] GT35M commented on #415
Hi,

I just upgraded from 1.6ST to 1.7ST, however, when I go to reply to a ticket using a 'canned' response, the title of the canned response is there and can be selected, but when I do select it nothing appears in the reply box.  I've checked to see if the canned responses were deleted in the upgrade process, but they're still there.  Any ideas?  I've attached a couple of screenshots.

I think it

[2013-04-09 00:40] FromOz commented on #415
Duplicate of https://github.com/osTicket/osTicket-1.7/issues/422. Try the suggestions in there.

[2013-04-09 01:13] GT35M commented on #415
@FromOz - Thanks, I didn't see that one.  I've solved two of the problems (canned response and delete ticket from front menu) by adding "AcceptPathInfo on" to the .htaccess file and also clearing the cache.  The tooltip is not working, but that's not really an issue for me!

Thanks again, much appreciated!

Regards

Steve

[2013-04-09 01:16] GT35M commented on #542
This is now resolved.  I saw a post relating to a totally different problem, so I cleared the Cache anyway (you never know!) and I'm amazed, it's now working!

[2013-04-09 01:16] #542 closed, assigned to nobody

[2013-04-09 01:31] FromOz commented on #415
Good to hear :)

Now if only I could figure out why it's not working for me ...

[2013-04-09 09:44] Rittsel commented on #422
@FromOz - I found this page, says if using FastCGI AcceptPathInfo Default should be used, try to add it in your vhost-file.

http://wiki.davical.org/w/Apache_Config

I've never used FastCGI myself so I don't know the big differences really.
If that doesn't work I got no idea sadly.

[2013-04-09 09:47] FromOz commented on #422
Thanks for that, lost count of the links I've read after Googling but that's a new one for me.

Will hopefully get a chance to try it tonight and report back.

[2013-04-09 13:14] ntozier opened #544 "faq -- add subcategories"
(this is an enhancement request not a bug but I didn't see a way to post it as such)

FAQs should have the ability to specify subcategories.  i.e. something like:

CATEGORY1
--SUBCATEGORY1.1
----FAQ 1.1.1
--SUBCATEGORY1.2
----FAQ 1.2.1
--SUBCATEGORY1.3
----FAQ 1.3.1
--FAQ 1.1
--FAQ 1.2

CATEGORY2
--SUBCATEGORY2.1
--FAQ 2.1.1
--FAQ 2.1.2
--FAQ 2.1.3
--SUBCATEGORY2.2
--SUBCATEGORY2.3
--FAQ 2.1

Addi

[2013-04-09 13:42] ntozier commented on #422
Just as an FYI tooltips work fine under IIS7 w/ PHP5.3.x

[2013-04-09 15:36] ntozier opened #545 "Maximum Open Tickets not enforced for staff"
Via Web interface:

If a staff opens a ticket for someone else's email address and that email address already has reached the maximum open tickets, a warning email is generated but it opens the ticket anyway.

Email message reads:

"Max open tickets (5) reached  for fake@email.com

http://support.domain.ext/scp/tickets.php?a=open"

Shouldn't the Admin panel -> Settings -> Email -> Maximum Open Tic

[2013-04-09 19:14] protich commented on #545
- Staff are exempted from the limit.
  My rationale was; a new ticket might need to be created (e.g in a separate dept.) to resolve an issue blocking the closure of the already open tickets.
- The "over limit notice" is sent to client - when enable - but only once to avoid loops (when the limit is first reached).
  Settings to disable/enable is in Admin Panel > Settings > Autoresponder.
- The warn

[2013-04-09 19:33] tomashastings commented on #422
@FromOz if editing the server config doesn't work, could you try this version of include/class.osticket.php? It works for me using NGINX (where PATH_INFO isn't available the way it is on Apache).

https://github.com/tomashastings/osTicket-1.7/blob/develop/include/class.osticket.php

[2013-04-10 03:19] FromOz commented on #422
Thanks, my colleague has come up with a hack to get the code to get the tooltips working on the tickets, and still looking into other areas.

Just tried swapping out class.osticket.php but sadly no go. Bearing in mind the ticket tooltips is "fixed" (temporarily at least until we can figure out what the real deal is) still issues with none of the following working:
- Canned responses
- Dashboard gr

[2013-04-20 03:50] protich commented on #427
The issue has resurfaced  - some users are reporting upgrade failure

See my FYI 2 comments above. Changing to TEXT might not be desirable/ideal given that the field is primary. May be we can rehash the session id and use the result as primary and still store the full session id in a text field.

[2013-04-21 12:17] belzael opened #549 "Issue/PHP4 syntax error, unexpected T_OBJECT_OPERATOR"
When copying a setup from another user i've noticed that osTicket 1.7.0 installs on PHP 4 without any errors. However when I visited /scp it reported
Parse error: syntax error, unexpected T_OBJECT_OPERATOR in /usr/local/apache2/htdocs/osTicket/include/class.osticket.php on line 54
The Server setup was:
ServerOS: Solaris 10
Webserver: Apache 2.0.59
PHP: 4.4.5
MySQL: 5.0.67

I could replicate the is

[2013-04-22 06:07] star3132 commented on #347
Just two cents, I was having the issue above with Internet Explorer not allowing multiple file uploads.  I edited the /js/jquery.multifile.js file and commented out the following lines: (starts on mine at line 153)

[code]

This allowed IE to upload multiple documents.

Again, worked for me.

[2013-04-22 10:06] MikeVeg commented on #347
Thanks star3132. Do you have any idea what those lines of code does? Are they important in any other way - in regard to security etc.?

[2013-04-22 15:56] star3132 commented on #347
It appears to be a workaround for an older version of IE that perhaps no longer applies.  I don't think it has any security concerns, but i can't be 100% sure.  Thanks.

[2013-04-22 19:54] ntozier opened #550 "dashboard - reporting graphs off by 1?"
Its been reported on the forums that brand new installations (with no tickets), report 1's across the board on the dashboard graphs.

Please see post:
http://osticket.com/forums/showthread.php?t=13951

It was reported by someone else but I cannot find the post atm (maybe the poster deleted it).

[2013-04-25 21:26] bobuehlein commented on #522
1.7 Final has fixed this...

[2013-04-25 21:26] #522 closed, assigned to nobody

[2013-04-26 11:15] BartVB opened #551 "API create call can't set department ID"
I love the fact that osTicket has an option to create new tickets through an API but this feature seems to lack a possibility to set the Department ID during creation. I'm using osTicket with several different queues (support/sales/etc) and need to be able to direct new tickets to the correct department. Changing the API to allow for deptID in API calls seems to be fairly trivial.

[2013-04-26 13:29] ntozier commented on #551
Being able to assign department to a ticket your making via API does seem like something that you should be able to do.  That being said while your waiting for that to be implemented couldn't you setup ticket filters to assign the tickets to the department you want?

[2013-04-26 13:53] BartVB commented on #551
That was the first workaround that I tried, but I don't see what criteria I can use to filter on. I would like to filter on recipient email (i.e. sales@example.com or support@example.com) but osTicket doesn't provide for that. Not in the API nor in the ticket filters.
But thank you for the suggestion.

[2013-04-26 14:07] protich commented on #551
The current API implementation is very basic - just mirrors the client interface at the moment. For now you can send in topicId - help topics can be mapped to departments in the backend.

[2013-04-26 18:56] ntozier opened #552 "assigned ticket threshold for warning is static"
/scp/tickets.php
circa line 495 though 497

if($stats['assigned']) {
    if(!$ost->getWarning() && $stats['assigned']>10)
        $ost->setWarning($stats['assigned'].' tickets assigned to you! Do something about it!');

10 should be admin configurable say in admin panel -> settings -> Staff Excessive Tickets [#]

[2013-04-29 08:35] OleSta opened #553 "Danish letters not shown correct"
The Danish letters æøåÆØÅ is not shown correct in version 1.7.

In the ticket list the subject is not shown correct.
In the ticket view the subject is correct both in the header and ticket tread, but the message is not shown correct.

In version 1.6 I had to use this fix:
http://osticket.com/forums/showthread.php?t=4216

[2013-04-29 08:41] OleSta commented on #553
Same problem with the senders name in the From field

In the ticket list the senders name is not shown correct.
In the ticket view the senders name is not shown correct in TO: under Post reply box.
In the ticket view the senders name is shown correct.

[2013-04-29 10:45] OleSta opened #554 "Advanced button/option in Tickets not working in IE10"
After update to version 1.7 the Advanced button/option in Tickets does not work in Internet Explorer 10.

[2013-04-29 11:41] BartVB commented on #551
Ah, hadn't really looked at help topics yet. Seems to do almost exactly what I need, thanks!

[2013-04-29 11:41] #551 closed, assigned to nobody

[2013-04-29 11:43] BartVB opened #555 "API create: Can't set ticket time"
Feature request:
I would like to be able to set the creation time of tickets when creating new tickets through the API. This can be beneficial when importing tickets from a different system or when using a CRON like system.

[2013-04-29 12:54] protich commented on #554
It might be just a matter of you doing a forced browser reload to get the new css/js. Please update us.

[2013-04-29 13:08] OleSta commented on #554
Did a ctrl-f5 to force reload of the page and then it worked - thank you.

[2013-04-29 13:08] #554 closed, assigned to nobody

[2013-05-01 13:43] ntozier opened #556 "new ticket alerst to teams template variable issue"
Reported on the forums by Adidasrta

neither %{message} or %{comments} work in new ticket alerts send to teams.

I have not confirmed this as I do not use teams.

[2013-05-02 08:30] nimrodm opened #557 "Integration with POP IMAP Ngnix"
Hey,

Once I try save change for POP Email, it's opening window
"Please wait... it will take a second!"
and then -
"504 Gateway Time-out
nginx/1.1.19"

BTW, http://tickets.tomigo.com/osTicket-1.7/scp/ajax.php/config/scp
is Not Found.

Anyone know how to solve it?

Thanks,
Nimrod

[2013-05-02 12:26] greezybacon commented on #557
osTicket isn't supported on NGINX yet. We're working on it. Hopefully it'll make it in the next release.

Thanks for helping us identify the issues

[2013-05-02 12:28] greezybacon commented on #557
#538 has a possible patch you can try if you like. I haven't had the time and setup to try it yet

[2013-05-02 13:35] nimrodm commented on #557
Thank you for your comments.

[2013-05-02 14:51] edtownend opened #558 "Copyright"
OK guys, this might seem a bit anal, but it's a serious question - what's the deal with having copyright messages in the footer of every page when LICENSE.txt says it's under a GNU public license? Basically, am I allowed to remove them?

Thanks! :-)

[2013-05-02 15:43] ntozier commented on #556
Assigning a ticket to a staff generates "ticket assignment email" and appears to have the same problem with the %{message} variable.

[2013-05-02 15:45] ntozier commented on #556
Oops closed issue by accident.  reopening.

[2013-05-02 16:58] noamparn opened #559 "Dashboard Graph dates are wrong"
I just installed osTicket 1.7.0 on my shared 1and1.com hosted site.
Two weeks ago, I had installed version 1.6 using their "Click 'n Build" option, not realizing I couldn't customize it at all. So, last week I removed it, and installed 1.7.0 myself. the install went really smoothly.

I'm really liking the program, and it is working well for us.
However, the graph on the "Dashboard" tab has a probl

[2013-05-03 14:18] adeshsuryan opened #560 "How to install [mod] HTML Email Templates in osTicket-1.7.0"
Hi ,
How to install [mod] HTML Email Templates in osTicket-1.7.0 .

I tried below path :

class.config.php

class.email.php

Updating above two file in "include\" .

Updating below file at "include\staff"
preference.inc.php

After that i got White screen , and/ or site down .

[2013-05-03 14:22] protich commented on #560
Sorry but this is something you need to post in the forum.

[2013-05-03 14:22] #560 closed, assigned to nobody

[2013-05-04 07:54] adeshsuryan commented on #560
Hi Protich ,
                    Actually i m looking for HTML Email Templates in osTicket-1.7.0 .

I did some modification , now we can send html template rather then plane text.

[2013-05-04 08:06] adeshsuryan commented on #560
Issue : Send HTML Email Templates Rather then plane Text .

After long debug , and modification i got solution of html template in OSTicket 1.7.0 .

Check the below solution :

Check " include" folder . and update the class.mailer.php class

Path : include/ class.mailer.php

Search :
$mime->setTXTBody($body);
and replace by

$mime->setHTMLBody($body);

[2013-05-06 15:19] BartVB opened #561 "'Open tickets' doesn't show tickets assigned to me"
When I have 5 open tickets and one ticket has been assigned to me the 'open tickets' tab shows 4 tickets, the 'my tickets' tab shows one.

The list in 'my tickets' is correct, the fact that the ticket assigned to me is missing from the list of 'open tickets' is very counter intuitive.

[2013-05-06 15:33] OleSta commented on #553
changed Apache httpd.conf to use UTF-8 instead of ISO-8859-1 and now it's working correct.

[2013-05-06 15:33] #553 closed, assigned to nobody

[2013-05-08 09:37] jaycryder opened #562 "Chrome Browser Admin Login Fail"
I have a Hostgator Shared Business account.
A clean new download of OSTicket 1.7.0
Installed followed the instructions - go to login as admin and get "Authentication required" and fail to login.
Have searched the forums and found all sorts to do with session issues, for other versions and not this one...
I can login using Firefox and IE but not Chrome (Version  25.0.1364.160 on Windows 7 64bit)
Ca

[2013-05-10 14:40] noamparn commented on #559
After playing with this a little, I think it has to do with the calculation of the axis value, and the "Math.floor" rounding being done, and the "axisxstep" value.
Is there a way to calculate the "axisxstep" value, based on diving the number of days, and coming up with a whole number? If I have that set to "8," then when there are 8 or 16 days in the graph, it looks okay. Other numbers don't line

[2013-05-21 14:58] greezybacon opened #566 "Tickets create via email pipe to api/tickets.email should be create with source=Email"
Current, piped emails show up in the system with source=API

[2013-05-21 15:44] greezybacon opened #567 "Thread title is double escaped in ticket thread"
Something like `&` is escaped to `&amp;` and then to `&amp;amp;`

[2013-05-22 14:46] thiagomonnay commented on #385
v 1.7

Friend I need help, I put the following variables in the template and I get the following result:

Template
%{assignee},

## Ticket #%{ticket.number} has been assigned to you by %{assigner}

## %{comments}

## New ticket #%{ticket.number} created.

Name: %{ticket.name}
Email: %{ticket.email}
Subject: %{ticket.subject}

%{message}

E-mail

-- do not edit --

%{assignee},

## Ticket #460567 h

[2013-05-22 18:36] DEHughes commented on #562
I am having the same  issue.  I can log in using Firefox or IE, but I get a login failure when using Chrome.  However, this is not universal, some users can login using Chrome.

[2013-05-24 15:17] greezybacon opened #572 "Clickable links fails at the end of a sentence"
If a period `.` follows something that looks like a clickable link, the period should not be considered part of the URL/link.

[2013-05-24 22:40] nate-double-u commented on #506
Noob question...

I've installed osTicket 1.7 and have it running live. I have been wanting this kind of functionality, but am wondering how to install this patch--can this go in over an existing install with existing data in the database?

[2013-05-24 23:47] nate-double-u opened #573 "Notify on Mention"
I often mention staff members in internal comments, but because they are not the staff member assigned to the ticket they don't get a notification. Could a feature be added whereby a staff  member gets notified if any note mentions them?

[2013-05-25 07:58] ghost commented on #506
This isn't quite finished yet, there's a security issue I need to deal with, but paying client projects have consumed all my time lately. We were talking about getting this finished at work the other day, so maybe some time will be found in June.

[2013-05-27 14:09] Abdoudimassi opened #574 "Send email tickets with osticket 1.7"
Hi guys i have a big problem i want to send mail ticket with osticket 1.7 i have got my server smtp and pop3 but i cant fetch mail cause i got the following error folder not valide when i configure it with pop3 how can i do

[2013-05-27 20:56] nate-double-u commented on #506
Ah, that makes sense, thx for the response. I'll keep a watch here, It'll be a great addition :)

[2013-05-28 01:02] kopitoshka opened #575 "Incorrect dept. autoresponse email on the form"
Hi,

I am using osticket 1.7.0 version. I have noticed a minor issue with selecting the active auto response email on the dept. form in admin area like this one:

http://www.examplecom/scp/departments.php?&id=1

There is a wrong comparison in the department.inc.php file. I hope it helps.

Thank you.

[2013-05-30 09:40] Hamsteren commented on #398
Any progress on this? It's a big issue for us as we get about 40-50 order mails without a body and just a pdf attached.
I have looked into it some more and pulled out the $struct in class.mailfetch.php -> function getMimeType($struct)
And what i see is that on messages with a body that contains text or html you get:

[code]

But on emails without the body you dont get an [parts] array just:

[code

[2013-06-03 16:33] lonscher opened #578 "no tickets.email file for remote piping"
Documentation states that automail.php must point to tickets.email file in API directory.  tickets.email file does not exist.

[2013-06-03 18:17] lonscher commented on #578
Just realized mod_rewrite is used to rewrite the url

[2013-06-03 18:17] #578 closed, assigned to nobody

[2013-06-03 22:30] josh1856 opened #579 "Ticket printing issue and attachments not storing/opening correctly"
After updating to the latest version via pull.  Started receiving random errors:
- When in a ticket and click the print function receiving the following error:  FPDF error: Some data has already been output, can't send PDF file
- When SOME attached files more specifically .xls, .jpg, .docx come into the system via fetch or web creation they are stored or delivered in corrupted format.  PDF files a

[2013-06-03 22:39] josh1856 commented on #579
Here are some examples
![doc_test](https://f.cloud.github.com/assets/2126322/602524/62029e8a-cc9e-11e2-9bd0-2024755ca398.jpg)
![xls_test](https://f.cloud.github.com/assets/2126322/602525/685385ec-cc9e-11e2-9c86-438038d151b9.jpg)
![ticket_print](https://f.cloud.github.com/assets/2126322/602526/6cbb487c-cc9e-11e2-99d0-6a32d0a72d65.jpg)

[2013-06-03 23:10] josh1856 commented on #579
I was able to solve the printing ticket issue by cleaning the headers by adding the following to class.pdf.php after line 51.  Would someone please verify the code and add if necessary.

50        //report header...most stuff are hard coded for now...
51       function Header() {
52       while (ob_get_level())
53       ob_end_clean();
54       header("Content-Encoding: None", true);
55       glob

[2013-06-05 11:47] FourFoot commented on #579
Just following this, but we're seeing a corruption issue on all attachments coming through email pipe. Tested with .docx, .pdf, .jpg, .png, .psd, .xlsx file sizes ranging from 10KB through to 22MB

[2013-06-05 14:01] josh1856 commented on #579
I have confirmed .zip files as well.  I also tried a number of sizes and it does not seem to matter what size the document is it corrupts the document.  Although I am able to get ALL sized pdf files to work.

[2013-06-05 14:47] FourFoot commented on #579
Seems to be fine if we retrieve the emails via POP3. We've experienced attachment corruption issues on other software when the email was piped directly to it (it added odd characters to the end of the file, which is what we're seeing in the file chunks OsTicket creates), turned out to be due to the MIME encoding of the email/attachment, might be similar problem here...

[2013-06-05 18:31] greezybacon commented on #579
How did you guys come across this issue? Is this a streamed (git tracking) upgrade or a fresh install?

I'm just wondering where I should go and start looking for culprits?

[2013-06-05 18:32] josh1856 commented on #579
My issue came up when I did a gitpul upgrade.  Prior to the last update everything worked flawless.

[2013-06-05 18:57] FourFoot commented on #579
I found this attachment corruption on piped emails issue on a fresh 1.7.0 install from osticket.com an update from github about 6hrs ago didn't change it.

[2013-06-05 19:01] josh1856 commented on #579
I am able to replicate this issue via regardless of pull/creation method IMAP/POP3 or uploading to the public portal directly.  So it must have something to do with FILE CHUNKS!

[2013-06-05 23:51] josh1856 commented on #579
I just did a fresh install and was able to replicate the issue also.  Greezybacon were you able to replicate?  Fourfoot what version of MySQL re you using?

[2013-06-06 08:13] FourFoot commented on #579
MySQL version is 5.1.69-cll. However, for me on the fresh install uploads via the /scp/ panel are fine, and emailed via POP3 are fine - just when they're directly piped that's causing me an issue. Using the same files for testing each time. Are you experiencing the issue with ALL methods on the fresh install?

[2013-06-06 12:01] josh1856 commented on #579
It is happening on all methods with mine on upgrade and fresh install.  I also tested it on a backup of a fully working version and then upgraded.  Tickets that were created prior to the upgrade open properly and once the upgrade is completed the previously created/closed ticket attachments no longer open attachments properly.  All previous PDF files open correctly.  Errors are still created openi

[2013-06-06 14:44] josh1856 commented on #579
I am on MySQL 5.0.77

[2013-06-07 02:03] josh1856 commented on #579
Greezybacon did you replicate?

[2013-06-07 16:11] greezybacon commented on #579
Josh, honestly I haven't had time to review it yet. My hunch is that the problem is in the http response code rather than the database fetch code

[2013-06-08 23:34] auro1 commented on #574
Can you send an email using those settings with your regular email client like Windows Live Mail or Thunderbird or similar?

[2013-06-09 16:13] josh1856 commented on #579
Greezybacon did you change the http response code in Ny recent updates?

[2013-06-13 14:14] greezybacon commented on #579
I believe this is fixed in #583, can someone verify

[2013-06-13 18:59] josh1856 commented on #579
Confirmed fixed.

[2013-06-13 21:44] greezybacon commented on #579
@josh1856, the fix is merged, and I added a test to find leading and trailing whitespace in the code in hopes of avoiding this issue again in the future.

[2013-06-14 21:57] timmerk commented on #430
I'm having the same issue. I have IMAP and SSL support for IMAP enabled. It was working fine in 1.6, but 1.7 broke the IMAP connection.

[2013-06-16 22:32] adriencarbonne opened #584 "Add an option for saving attachments to folder (instead of database)"
Hello,

I understand that starting with osTicket 1.7 attachments are stored in the database.
However, I do not understand the reasons which lead to this decision.

We have a production osTicket with *tons* of attachments, and it really adds complexity to database management (duration and size of backups/restore, etc.).

Couldn't we have a settings to let the admin choose between folder and databas

[2013-06-19 16:08] greezybacon opened #588 "Staff notes are not correctly displayed"
When editing staff members, the staff edit screen shows the notes from the assigned team (ie the team notes instead of the staff notes). However, updates to the notes field will save correctly to the staff object in the database but then not be shown properly after the save.

[2013-06-19 18:10] greezybacon commented on #566
Bogus. It turns out that it is correct as written.

[2013-06-19 18:10] #566 closed, assigned to nobody

[2013-06-19 18:15] greezybacon opened #589 "Ticket list export does not include "Assigned To" column"
From the tickets view in the staff control panel, using the `Export` link at the bottom of the table results in a CSV file that does not have the "Assigned To" column.

The "Assigned To" column should be included in the export

[2013-06-19 18:26] greezybacon commented on #562
Is this specific to Windows(TM)? I can't replicate this with Chrome on OSX

[2013-06-19 18:33] greezybacon commented on #561
There's a setting in the Admin Panel -> Settings/Tickets page:

Assigned Tickets:    Show assigned tickets on open queue.

Which controls, globally if assigned tickets are shown in the Open queue. There's also a similar setting in your _My Preferences_ if you are a manager which offers the same option, but specific for your account.

[2013-06-19 18:38] ntozier commented on #562
I am unable to replicate this in Chrome 27.0.1453.110 m browser running under Window 7 Enterprise x64.
Ditto for Firefox 21.0 (which is what i utilize daily for osTicket here at work).

[2013-06-19 18:57] DEHughes commented on #562
It does not fail with all users, so it probably is a combination of Chrome and some other application.  I am just reporting it in the hope that if we get enough reports that we can figure out the exact combination.

[2013-06-20 06:31] BartVB commented on #561
Hmm, good one. Missed that setting. Thanks!

[2013-06-20 06:31] #561 closed, assigned to nobody

[2013-06-20 20:57] koolaide opened #591 "Notification Email on Ticket Thread Update"
Is there an option to enable a notification email to be sent to the assigned person to the ticket? The internal notes send a notification out, but when a user updates the ticket thread no notification goes out to the assigned person. the only notification that goes out is to the user who created the ticket.

[2013-06-26 04:14] josh1856 commented on #579
Glad we got it fixed and I could help.  Did you commit the print issue?

[2013-06-26 04:15] josh1856 commented on #536
Look at #579

[2013-06-26 04:19] josh1856 commented on #383
I also agree that osticket needs a password reset feature but there are other priorities.

[2013-06-26 04:28] josh1856 opened #595 "Add a third-party enhancement/feature"
I think a new cool enhancement would be to have the ability to take an incoming issue and add a third party to the issue like a middle man approach.  A ticket issue comes into the system and the internal operator/user cannot resolve the issue therefore they need to contact a third-party wait for a response from the third-party review the details then edit the response and include it back to the or

[2013-06-26 18:14] greezybacon commented on #579
#536 is a different issue. The email address does not fit in the space given on the PDF output

[2013-06-26 18:14] #579 closed, assigned to greezybacon

[2013-06-26 18:29] greezybacon commented on #558
@edtownend, I'm no attorney, and perhaps I misunderstand both the question and the GPL, but GPL and copyright are two different things. The GPL license offers you the right to copy, modify, and distribute the osTicket software without fear of repercussion from the osTicket developers. Copyright defines the original owner of the source code. In this case the original owners are offering the softwar

[2013-06-28 19:15] greezybacon opened #598 "Email fetching does not setting requested department"
It seems to be applying the default department

[2013-06-28 19:32] greezybacon commented on #598
Bogus

[2013-06-28 19:32] #598 closed, assigned to nobody

[2013-06-30 11:17] jonub opened #599 "Corrupt Attachments on Incoming emails"
As an example, an incoming email (using piping) with 2 files, one 300K .doc and an 800K pdf, both get corrupted (reduced to about half size).

Settings: Max file size set to 5000000 bytes, max 5 files. The emails are also copied to another email address and are received fine. The problem only occurs when received by OST.

Would anyone be able to provide any sugegstions to resolve this please?

Tha

[2013-07-01 17:42] edtownend commented on #558
Brill, thanks for the explanation Jared.

[2013-07-01 17:42] #558 closed, assigned to nobody

[2013-07-03 19:45] greezybacon opened #606 "Migrate SLA with Department and HelpTopic"
osTicket is currently designed so that the SLA is never changed automatically once it is set. Therefore, if the ticket changes help topics or departments, its SLA remains what was originally assigned. So even if the new department or help topic has a different SLA from the ticket being transferred, the original SLA is left intact in the ticket.

It would be nice for this functionality to be option

[2013-07-03 21:25] greezybacon commented on #599
I can confirm this problem exists in the latest devel branch

[2013-07-03 23:06] greezybacon commented on #599
Any way you can test with #607?

[2013-07-04 00:42] jonub commented on #599
Great fix. Thank you very much greezybacon - see response in https://github.com/osTicket/osTicket-1.7/issues/607.

[2013-07-04 07:16] ghost opened #608 "Header comments in class.log.php refer to class.group.php"
Copy and paste error

[2013-07-05 07:12] navawsatp opened #609 "alert mail send to google apps groups email rejected"
alerts, notices and replies, all rejected by google apps email,

Error:

after hide below codes in /include/class.mailer.php line 114, it works.

[code]

[2013-07-08 10:11] adrelliott opened #612 "Can we manually import attachments when upgrading (1.6->1.7)"
Hi

Is this the right place for this kind of question?

We did an upgrade and form some reason the attachments were not carried across. (Same issue as this discussion here: http://osticket.com/forums/showthread.php?t=15027)

I really don't want to re-upgrade (the helpdesk shouldn't be offline) - can i manually move attachments across? Are they stored differently in 1.7 than in 1.6?

Any and all he

[2013-07-08 13:47] greezybacon commented on #612
@dallasmatthews, this is sort of a known issue. I think it pertains to read/write permissions on the server. I've seen this in our testing where the files were not readable by the `apache` user. For whatever reason (which should be given in your system logs), the upgrader could not read the files when it was upgrading.

Version 1.7 moves the files into the database because of a long history of pro

[2013-07-08 22:00] greezybacon opened #614 "Provide ost-config.php as a download after installation"
Makes a great backup, and allows users to install osTicket without providing Apache write access to the osTicket codebase.

[2013-07-10 17:20] adrelliott commented on #612
HI Jared

Thanks for your reply. I do understand.

As the upgrade was problematic, i think we'll just have to live without the
historic attachments.

Thanks again

Al

##

Al Elliott
MD & Founder

_Direct Dial_: _0161 883 0601_
_Mobile_:  _07703 34 56 33_
_Switchboard_: _0161 375 44 44_
_Email_: al@DallasMatthews.co.uk
_Web_. DallasMatthews.co.uk
_Blog_. RepeatCustomer.co.uk

---

Look, bottom lin

[2013-07-10 20:42] briped commented on #398
Without having tested anything, I would hazard a guess that the problem are in the createTicket function. More specifically [line 430](https://github.com/osTicket/osTicket-1.7/blob/develop/include/class.mailfetch.php#L430).
If I'm reading the code right, then createTicket is not even entering the IF block where it saves attachments, because there's no "parts" array.

[2013-07-11 11:39] Hamsteren commented on #398
I tried commenting out line 430 as suggested by briped. And look and behold the attachments now appear.

[2013-07-12 06:42] verkruemelt opened #622 "MySQL/ MariaDB"
is it poosible to bypass the setup of the DB on the setup.php?
I have successfully set it up on a MariaDB 10.0 Server, but can't go to the next step.

[2013-07-12 07:17] sweatyc commented on #359
take a look on my mod if you still need it:
http://osticket.com/forums/showthread.php?p=41461

[2013-07-12 19:14] greezybacon opened #625 "API Keys Revisit"
The interface for API keys needs to be lightened up a bit. I propose we rebase the API keys in two ways

**Multiple IPs for one API key**
Allow the API keys to be used by more than one IP address. This would allow outbound (non NAT'd) activity from one server farm to access an osTicket installation with the same API key

**Make IP optional**
Allow the creation of a form on your website that you ca

[2013-07-14 19:34] protich opened #627 "Require cryptographic extension to enable mail integration."
osTicket was recently featured in a [bad cryptography showcase](http://www.cryptofails.com/2013/07/osticket-fail-open-fail-often.html).  While the author, in my opinion, fails to make the important distinction between user's passwords and mail server credentials  - the post nonetheless raised an important point.
##

**Background**
To connect to the mail server (SMTP/POP/IMAP) a password in plain t

[2013-07-14 20:12] defuse commented on #627
(I am the author of that blog post). I must apologize for not sending you guys a note about the post, I just forgot to do it. That was bad disclosure practice on my part, and I am sorry.

Thanks for the clarification - I will correct the post.

Here's a proper implementation of mcrypt encryption in PHP, which you can use or take as an example: https://defuse.ca/secure-php-encryption.htm (scroll do

[2013-07-14 21:33] protich commented on #627
@defuse - Thank you for the feedback and clarification. The issues raised are valid and will be addressed.

[2013-07-15 12:35] greezybacon opened #628 "Allow login by user's email address"
It's a unique field for all users of the system anyway, and a large portion of users seem to be inclined to login via the email address. I propose the authentication system accept both the username and email address as identifies of the user.

[2013-07-15 21:40] greezybacon opened #629 "Support MariaDB version 10.0+"
MariaDB should be an acceptable platform for osTicket; however, the installer refuses to install on version 10.0 and newer because it doesn't appear to be a version after 4.4

[2013-07-16 12:36] #622 closed, assigned to nobody

[2013-07-16 12:45] greezybacon commented on #629
Also fixes #622

[2013-07-17 11:14] nbtp opened #633 "Message gets cut off"
I'm running 1.7 stable, which is updated from 1.6.
I'm expiriencing trouble when it comes to chars like: é; è; á; etc.

When i use those the email message gets cut off. When using the html entity like &eacute; everything works fine. But it's not very user friendly.

I get this in the KB and Ticketing center. How do i fix this?

[2013-07-17 17:10] greezybacon commented on #633
@nbtp could you elaborate on how the issue shows up in the KB?

[2013-07-17 21:00] protich opened #634 "MySQL Strict Mode."
Remove quotes "" from default field values for installer and upgrade scripts (if any)

[2013-07-17 21:27] #629 closed, assigned to nobody

[2013-07-18 02:58] bsmilk opened #635 "Dashboard Not working"
Cannot determine issue for why the dashboard will not work in 1.7.  I have enabled FASTCGI recreated the HTAccess File and have checked mostly everything else, any ideas?

[2013-07-18 03:36] ntozier commented on #635
Have you enabled it for your account?

On Wed, Jul 17, 2013 at 10:58 PM, bsmilk notifications@github.com wrote:

[2013-07-18 03:37] bsmilk commented on #635
Yes, Group>Admin everything is selected

[2013-07-19 10:10] nbtp commented on #633
When I enter a new FAQ in the KB, I can of course enter any character I like. But when saving the FAQ, the message gets cut off at the first character it doesnt recognise.
Example:

Input:
Q: Testé
A: Testing a téstinö

Saved:
Q: Test
A: Testing a t

Hopes this makes it clear. Using <& e a c u t e ;> instead makes it work

[2013-07-19 18:01] greezybacon commented on #635
Do you mean that you set `cgi.fix_pathinfo = 1` in your php.ini files?

[2013-07-19 18:07] greezybacon commented on #633
I cannot verify this bug. It works fine for me using Apache/Mysql 5.5 and IIS/MariaDB 5.5.  What webserver, db, and php version are you using? Could you send me a SQL structure dump of your `ost_faq` table?

[2013-07-22 12:20] AdeliavanTonder commented on #599
Good Day

Thanks for the fix, it works great.  I was just about to give up on using OS Ticket when I found this fix last week.  I now have another issue with regards to the file attachments.  Do not know if this is related though.  When a user emails an attachment with a long file name it is not displayed as part of the attachments of the email.  All of the other attachments are displayed, just no

[2013-07-23 07:38] ghost opened #639 "Department manager of Department A can assign ticket to Department B staff"
Hi,

Currently the department manager of any departments are able to assign tickets to any of the department staff which is actually wrong as per my understanding.
Kindly correct me if I am wrong and also help me resolve this issue if its a bug.

Regards,
Elson

[2013-07-23 07:45] ghost opened #640 "Ticket Filter rules should have more options"
Hi,

I would really appreciate if anybody can provide with more options in Ticket Filter -> Filter Rules like
If the priority of the ticket is Emergency then assign SLA 1
If the priority of the ticket is High then assign SLA 2
Likewise the rules should have more options so that Ticket Filter can be used to route tickets based on the content in it.
To refer the same options can be also provided in

[2013-07-23 08:31] pavel83 opened #641 "Variable %{Company} in Email Template"
I added a custom field in in osticket and it's ok. But I want that field in email template. What must I do? Thanks

[2013-07-23 10:24] pavel83 commented on #641
I follow that link for add a customer field

http://www.tmib.net/adding-custom-text-fields-tickets

[2013-07-23 15:21] deividasjank opened #642 "Quote"
Hi guys, can you say how i can use email quote in email templates? I want to use like:

%{quote}

%{ticket.name},

%{response}

%{signature}

Or it's impossible?

[2013-07-25 03:21] greezybacon commented on #642
I like the idea. I would vote for `%{response.previous}`

[2013-07-25 03:25] greezybacon commented on #641
@pavel83, add a label to the switch statement in class.ticket.php in the `getVar()` function like this:

[code]

Then you can use `%{ticket.company}`

[2013-07-25 03:30] greezybacon commented on #640
@elsonrodrigues, correct me if I'm wrong, but ticket priority is initially assigned according to the help topic. And the help topic has an option for the SLA. Otherwise the default priority should prevail, and the default SLA should/could also be used in that case too.

[2013-07-25 03:30] #628 closed, assigned to nobody

[2013-07-25 03:33] greezybacon commented on #599
@AdeliavanTonder, what was the size of the attachment? Do you have pdf extensions enabled in the admin panel?

[2013-07-25 03:35] greezybacon commented on #591
@koolaide, do you have "Assigned Staff" enabled in the Admin Panel -> Settings -> Alerts & Notices -> New Message Alert, along with the "New Message Alert" being enabled?

[2013-07-25 03:37] greezybacon commented on #555
I agree. We should implement this feature request.

[2013-07-25 03:39] greezybacon commented on #552
I agree. We should do this. The new config system makes this extremely easy

[2013-07-25 03:40] greezybacon commented on #549
@thane-de-loth, I'd like to reproduce this if I can. Do you have a server I could log into? Where could I download a PHP 4 version or XAMPP setup from?

[2013-07-25 03:41] BernardoCR opened #645 "Allow html codes in ticket and premade"
It would be really nice if we could insert html codes in the ticket response and canned responses, using the tag [code][/code] or whatever.

Thank you.

[2013-07-25 08:53] belzael commented on #549
@greezybacon
You can download the xampp here: http://sourceforge.net/projects/xampp/files/XAMPP%20Windows/1.6.8/
I've removed the Servers already, sorry.

[2013-07-25 14:03] greezybacon commented on #589
Thanks for reporting this

[2013-07-25 15:47] greezybacon opened #647 "Attachment migration is broken with new "ft" field"
With the advent of the **ft** field to the ost_file table, attachment migration broke, because the **ft** field does not exist yet in the table when attachments are migrated.

There are two possible fixes:
1. Add the **ft** field earlier in the migration process
2. Only set a value for **ft** if one is indicated when the file is created.

Since the attachment migration doesn't specify a filetype,

[2013-07-26 09:21] mr-brik opened #649 "Fatal Error at start of installation for site hosted on Windows UNC share"
Hi,

I'm installing to a site hosted on a UNC share
 `\\host\share\example.org\example.org\web\content\ost`
 and I immediately get a 'Fatal Error' displayed.

The origin of the error seems to be the following two lines in client.inc.php:

[code]

Where `realpath(dirname(__FILE__))` returns the string
   `"\\host\share\example.org\example.org\web\content\ost"`
but str_replace returns
   `"/host\sha

[2013-07-26 10:47] ghost commented on #640
Sir.. you are absolutely correct and this applies to users who are logging complains using the web interface but what happens when a user logs compains just by sending an Email to the support Email ID and he/she sets the priority as High or Emergency. How do we assign SLA based on the Email priority which comes in along with Email. Please help me know if there is any other way to deal with such co

[2013-07-26 18:08] ntozier commented on #640
Wouldn't you just go to Admin panel -> Settings -> Tickets

And check:
Emailed Tickets Priority:   [ ](Use email priority when available)

[2013-07-27 08:16] ghost commented on #640
Hi ntozier,

Thanks for your response.
Please correct me if I am wrong, as per my understanding the option you have pointed to can be used if admin wants the users to change the priority after they have logged the ticket but the one I am talking about is totally different.

Let me explain it in other way

Instance 1 => When a user prefers to logs a ticket using web interface and he selects a help

[2013-07-29 10:04] gwepower commented on #422
Same problem here using last version of osticket 1.7.0 and uploaded a file to osticket dir with AcceptPathInfo On in it but problem still there. By the way, I do not find the $_SERVER['PATH_INFO'] in the following files to change it to $_SERVER['ORIG_PATH_INFO']...

ajax.php
api/http.php
scp/ajax.php

Does any body has a solution for this? Where is now the $_SERVER['PATH_INFO'] in osticket 1.7.0 f

[2013-07-29 10:14] nbtp commented on #633
Sure. thanks for having a look at it.

I'm using MySQL client version: 5.5.17
with charset: UTF-8 Unicode (utf8)

---

-- phpMyAdmin SQL Dump
-- version 2.10.1

## -- http://www.phpmyadmin.net

-- Host: localhost
-- Generatie Tijd: 29 Jul 2013 om 12:13
-- Server versie: 5.0.95
-- PHP Versie: 5.3.15

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";

##

## -- Database: `ost_support`

---

##

## -- Tabel stru

[2013-07-31 10:50] sabas opened #653 "Persistent session not working? a possible solution"
Every time I accessed the admin panel (/scp/), I had to relogin again, so here it is a possible solution

I found that moving line 38 in main.inc.php
   //ini_set('session.cookie_path','/osticket/');
to line 74 after
   define('SQL_DIR', UPGRADE_DIR.'sql/');

and rewriting it as
ini_set('session.cookie_path',ROOT_PATH);

recovers the session and no more login panel every time.

I don't send a pull

[2013-08-01 19:13] greezybacon commented on #653
Thanks for identifying this. We've actually had a considerable amount of trouble out of the bug. I have mocked up the issue as follows:

[code]

Could you retest with something like the above code?

[2013-08-01 19:14] greezybacon commented on #653
What browser did you observe this in by chance?

[2013-08-01 19:34] sabas commented on #653
Latest Chrome!
I'll test tomorrow morning, because I have the installation in the pc I'm using at work.. That one is a xampp distribution on windows xp (now I'm on linux, I can try also here)

Edit: as a matter of fact, chrome on linux I don't notice the bug.. :/ The patch (put on line 38) caused not to login with error "session time out due to inactivity"

[2013-08-02 01:13] bsmilk commented on #635
Ok sorry to keep digging but this issue is killing me.  Again, still no dashboard showing anything. OSticket install is 1.7, please view the screenshot as I verified a few items that may be causing the issues...
![screen shot 2013-08-01 at 9 11 28 pm](https://f.cloud.github.com/assets/5035865/898424/c407c24a-fb10-11e2-96e1-f5d350712f9f.png)

[2013-08-02 09:36] sabas commented on #653
With the solution https://github.com/osTicket/osTicket-1.7/issues/653#issuecomment-21962384 I couldn't login ("Authentication required"). The pull request same (btw the code from that branch seems different from the develop branch' 1.).
I also tried to delete and reinstall (I'm using 1.7 stable + the bootstrap theme from the forums)

[2013-08-02 10:31] sabas commented on #431
SSO for staff session would require a modified version of login() from class.staff.php and login.php to be modified to call this modified function when sso is needed.. (Don't know about security issues :) )

[2013-08-02 17:58] greezybacon commented on #653
@sabas, did you test with the branch I posted in #655?

I'm not following quite you mean

[2013-08-02 18:06] sabas commented on #653
@greezybacon yep I tried that, sorry I badly wrote the message..
I tried both patching following #655 pull request and reinstalling directly that branch. I didn't see cookies also (don't know if it's an useful info, but the way I tried produces in Chrome a PHPSESSID cookie with the correct folder)

[2013-08-02 18:07] greezybacon commented on #653
Honestly, I don't see what's different between the suggestions.

[code]

will set the `session.cookie_path` to `./` since `ROOT_PATH` is statically defined as `./` in the `develop` branch. The code in the pull-request branch actually correctly detects `ROOT_PATH` now, if you have osTicket served from a directory (other than /).

[code]

will set `session.cookie_path` to the correct `ROOT_PATH` --

[2013-08-02 18:17] sabas commented on #653
My osticket url is
http://localhost/company/intranet/support/ so no case sensitivity, and I'm accessing it via localhost, not via anotheer ip..
Additionally, the intranet app writes cookies and a session (I used this project to handle authentication https://github.com/bencrowder/alibaba ), perhaps conflicts?

Can be Windows messing up with paths?

PS I know how you feel :-)

[2013-08-02 22:18] greezybacon commented on #653
@sabas, would you mind testing again with the pull-request branch?

This is what I think is happening: you have another PHP application that is hosted on the same server, perhaps out of a parent folder like `/company` or `/company/intranet`. It is issuing a cookie named PHPSESSID for the same domain (`localhost` in this case) for a path that is a parent of `/company/intranet/support/`, or perhaps

[2013-08-02 23:46] greezybacon commented on #633
Is this a stock osTicket version? Have you applied any mods/customizations?

[2013-08-02 23:48] greezybacon commented on #635
Can you see the value of cgi.fix_pathinfo in the phpinfo output?

[2013-08-02 23:50] greezybacon commented on #599
Do you have access to the raw email and would you mind sending it to me?

[2013-08-02 23:51] greezybacon commented on #575
Thanks for the write up. I don't have access to your help desk. Could you post a screenshot?

[2013-08-03 11:33] sabas commented on #653
Installed and on scp I had

[code]

Testing with isset gives opens the login page but at login dies with

[code]

[2013-08-03 14:45] greezybacon commented on #653
My bad. It's a dependency issue. Could you try just replacing `$cfg->getSessionName()` with `'OSTSESSID'`?

[2013-08-03 15:09] sabas commented on #653
It requires the csrf token (dies with that error message), I don't see where's created...

[2013-08-03 17:38] greezybacon commented on #653
It shouldn't trigger that error. I'm sorry I wasn't able to test the code before I posted it. I'll test it next week.

[2013-08-06 09:19] nbtp commented on #633
Initially i installed a multilangual fork of OSTicket 1.65RC (by Jasperf:
OSTicket Reloaded), and upgraded to osticket_1.7-stable_multilanguage_V6 by
THANE, posted on the OSTicket forum.
Upgrade went smooth btw..

On 3 August 2013 01:46, Jared Hancock notifications@github.com wrote:

[2013-08-07 19:57] greezybacon commented on #422
It should be in class.osticket.php in osTicket::get_path_info()

[2013-08-08 01:06] gwepower commented on #422
Hi greezybacon, thanks for your help. I changed  $_SERVER['PATH_INFO'] to $_SERVER['ORIG_PATH_INFO'] in class.osticket.php and added a .htaccess file in /osticket directory with AcceptPathInfo On but no sucess at all... dashboard not showing anything, cannot add canned responses to tickets, tooltips not showing anything... it looks ajax is not working properly. Any other suggestions? It looks that

[2013-08-08 16:02] greezybacon commented on #608
Is this still valid? I don't see the erroneous comments in the latest develop branch

[2013-08-08 16:02] greezybacon commented on #589
Merged into the develop branch. Thanks again for reporting

[2013-08-08 16:02] #589 closed, assigned to nobody

[2013-08-08 16:08] greezybacon commented on #422
@gwepower, how do you have PHP configured? I assume you're using Apache?

I guess what I mean is how do you have osTicket+PHP configured in your apache configuration file(s)?

[2013-08-09 06:16] ghost commented on #608
You are right. I used the localized installation V6 from Thane (see: http://www.osticket.com/forums/showthread.php?t=12514) and this one must have been forked before this was fixed in the main 3 month ago. I didn't think of that and should have checked before reporting.

[2013-08-09 06:16] #608 closed, assigned to nobody

[2013-08-09 14:46] arpitest commented on #88
Hi, im very interested in the modified index.php, as we have teh same requirements (clients submit tickets after AD auth, with pre-filled email department etc fields).

[2013-08-09 16:48] #653 closed, assigned to nobody

[2013-08-10 02:50] dooglus opened #660 "spelling mistake"
I just saw:

"Note title - summarry of the note (optional) "

summary only has 1 r.

It's here:

./include/staff/ticket-view.inc.php:                        <span class="faded">Note title - summarry of the note (optional)</span>&nbsp;

[2013-08-10 16:58] dooglus opened #661 "HTML isn't escaped?"
I pasted a chat log into a ticket's response:

[code]

The "&lt;Otoh&gt;" doesn't show up on the ticket.  I presume it is being interpreted as HTML.

Checking the source of the ticket page, I see:

[code]

ie. the "&lt;Otoh&gt;" has been stripped.  It would be better if &lt; was replaced with &amp;lt; etc.

[2013-08-10 19:38] greezybacon commented on #661
@dooglas, was this the latest version from the develop branch, or was it 1.7.0?

[2013-08-10 19:39] dooglus commented on #661
It's from the released "osTicket-1.7.0.zip" archive.

[2013-08-10 19:55] greezybacon commented on #661
Thanks for reporting the issue. It was fixed in #652 and will be included in v1.7.1 due out in about a week or two (a developer preview should be released Monday or Tuesday). If you're in a pinch, you can upgrade to the tip of the develop branch and the issue should be reaolved

[2013-08-10 19:57] dooglus commented on #661
It's not a big problem, and I'll wait for the official release.  Just saw a problem and reported it.

Would you prefer I don't report problems in 1.7.0 since they may have been fixed already?

[2013-08-10 19:59] dooglus opened #662 "timestamps are off by 1 hour"
I'm on the Pacific coast, but the server I installed osTicket on is in Ireland.

I told osTicket I'm in PST, but whether I tell it to adjust for DST or not, it shows all times 1 hour too early.

If I comment on a ticket at noon, the comment has a time of 11am on it.

The server is running ntp, so I'm sure its time is correct.

Running "date" on the server right now tells me "Sat Aug 10 19:58:55 UT

[2013-08-10 20:00] greezybacon commented on #661
Please report problems you find. The issue was only discovered and addressed two weeks ago, although 1.7.0 was released April 2nd! You shouldn't assume that your findings have already been addressed

[2013-08-10 20:51] greezybacon commented on #627
This was addressed by providing a pure-PHP encryption library so that passwords can always be encrypted

[2013-08-10 21:15] greezybacon commented on #575
@kopitoshka, I can't reproduce this. Can you explain the bug in more detail or post some screenshots?

[2013-08-10 21:18] greezybacon commented on #562
I think this is a duplicate of the late #653. I think you have another PHP application running on your site that you are visiting in Chrome before you visit osTicket.

[2013-08-10 21:28] kopitoshka commented on #575
Sorry for the delay in my response. Could you please check the line (195) in the file (/include/staff /department.inc.php):
$selected=($info['email_id'] && $id==$info['email_id'])?'selected="selected"':'';

I believe it should look like this:
$selected=($info['email_id'] && $id==$info['autoresp_email_id'])?'selected="selected"':'';

I made these changes to a copy of my osticket 1.7.0 and it works

[2013-08-10 21:47] greezybacon commented on #572
Looks like URL_FORMAT from http://stackoverflow.com/a/2015516 will get us closer

[2013-08-10 21:56] greezybacon commented on #567
Looks like `include/staff/ticket-view.inc.php` should read

[code]

since `title` is properly escaped when saved in the database.

[2013-08-11 04:41] greezybacon commented on #575
Thanks for pointing this out. It's fixed in the [release](https://github.com/osTicket/osTicket-1.7/tree/release) branch and **will** be included in the 1.7.1 release this week.

[2013-08-11 04:45] greezybacon commented on #649
I agree we should fix the issue as you describe. After talking it over, we don't remember what the `str_replace` call was added to correct or prevent.

I have to wonder, though, why would you setup a server this way?!

[2013-08-11 05:25] #575 closed, assigned to nobody

[2013-08-11 06:53] gwepower commented on #422
You can see my php configuration here if that is what you need:

http://www.global-wellness-emporium.com/osticket/php.php

[2013-08-11 19:35] mr-brik commented on #649
Hi,

I appreciate you looking it over, thanks for coming back to me.

Regarding your question(?) using UNC paths suggests files are being kept off the web server which makes sense for disaster recovery and general administration scenarios e.g. if you have a web server failure (the more vulnerable part of the system), you can more quickly recover by amending the configuration of a second web server

[2013-08-12 10:08] sabas commented on #653
@greezybacon I get
Valid CSRF Token Required

I uploaded directly the files overwriting previous ones.

[2013-08-12 14:26] #588 closed, assigned to nobody

[2013-08-12 19:06] greezybacon commented on #653
@sabas, I guess we're talking about two completely different issues. The CSRF engine is cookie based, but I didn't make any changes to the processing of CSRF tokens. They're generated in class.osticket.php and class.csrf.php

[2013-08-12 19:15] sabas commented on #653
So I don't know how it's originated, cause it happened after update.. :/ If you can give some advice, I'll try to reproduce the error and open another issue :-)

[2013-08-14 09:37] jeffchulg opened #666 ""implement template for password reset""
Hi guys, first of all thank you for your work. It's great!

I just want to report what I received : an alert email after having clicked on the template edition  (upgrade from osticket 1.7.0 to fresh 1.7.1) :

[DELETE FROM ost_config WHERE `namespace`="pwreset"
            AND `value`=1]

Unknown column 'namespace' in 'where clause'

Regards.

[2013-08-14 10:02] jeffchulg opened #667 "public page link now working"
Hi, I created a page called "test" and set its type to other. After I have saved, an url appeared. I clicked on it, and got a 404 error page.

[2013-08-14 19:01] greezybacon commented on #667
@jeffchulg, which HTTP server are you using? Was this seen on the tip of the develop branch?

[2013-08-14 19:06] greezybacon commented on #666
@jeffchulg, thanks for reporting the issue.

What I think happened, is that you upgraded from the stock 1.7.0 to the 1.7.1-rc1. The config table was refactored along the way between the two versions. And, when you log in (ie. _before_ you upgraded), the system attempts to remove any password reset tokens for your account. Then, because the database needed to be migrated, you got the error.

Things

[2013-08-15 06:18] jeffchulg commented on #667
Hi @greezybacon, I use the latest available version of apache server on a RHEL 5.8 default packages.
It was from OST 1.7.0 stock to 1.7.1 RC1

[2013-08-16 17:09] andmatand opened #670 "Inaccurate XML API Documentation for Phone Numbers"
I was following [this documentation](https://github.com/osTicket/osTicket-1.7/blob/develop/setup/doc/api/tickets.md) to implement ticket creation via XML, and my requests were being rejected whenever I included a phone number. After some trial and error, I figured out that two parts of the documentation are inaccurate:

and

What I found in practice was that the `ext` attribute _must_ be present i

[2013-08-19 12:15] greezybacon commented on #670
@andmatand, thanks for reporting the issue. The documentation posted was based on the concept, not the working software. The software should be corrected to work as the documentation specifies.

[2013-08-19 13:21] greezybacon commented on #670
@andmatand, could I get you to retest your API submissions with the patch referenced above?

[2013-08-19 13:27] greezybacon commented on #667
@jeffchulg, could you verify that the `.htaccess` file included in the source was uploaded to the `/pages` folder?

[2013-08-19 13:30] jeffchulg commented on #667
hi @greezybacon ,
cd osticket/

ls | grep pages
==> nothing

so the pages directory has not been created.

[2013-08-19 21:26] greezybacon commented on #667
@jeffchulg, thanks for the find. I fixed the bug in the packager. I think we're going to have to release an rc2 build since its hard to justify rolling bugfixes in and not bumping the version.

Perhaps you could manually copy these files from the repo to your server.

[code]

[2013-08-20 05:39] jeffchulg commented on #667
I created manually those three files with their content on https://github.com/greezybacon/osTicket-1.7
It worked perfectly.
Thank you.

[2013-08-20 05:40] jeffchulg commented on #667
On the other hand, there is another problem : when I click on the public link of the site page in the admin interface. I get the page, but, when I come back to the admin and click on any link, I get the connection view.

[2013-08-20 09:52] ghost opened #672 "Staff Login"
Installed the new os Ticket 1.7.1 when logging in control panel it gives an error valid csrf required. This is a fresh install. Any solutions

[2013-08-20 12:21] sabas commented on #672
@greezybacon same problem as mine in #653 , I can reproduce in a plain installation.

[2013-08-20 18:49] andmatand commented on #670
Nice, I just tried it out and it now seems to work both without the extension and with it in a separate tag.

[2013-08-21 06:15] ghost opened #673 "Statistics Page issue"
I made the following changes in ajax.reports.php and the issue was resolved.

Right after

[code]

I replaced

[code]

with this

[code]

[2013-08-21 06:34] jeffchulg opened #674 "Lookups in general - "exact string search""
Hi,

I've just noticed that searchs for information (tickets, faqs, ...) are certainly done by taking the string we are looking for and appended with a sql query and a "like".

My point is that a user who doesn't know about SQL will just enter a part of the queried string and the request will send "no results".

It's not a bug to me, but at least for faqs exposed to customers, it should work as I

[2013-08-21 07:32] yafp opened #675 "Adding attachments is not possible for normal users while creating a ticket"
Hi,

i am not sure if thats on purpose or if its a bug or just undiscussed so far ;)

Our osTicket 1.7 installation doesnt allow normal users to add attachments while creating a new ticket.

so our workaround right now in such cases is as follows:
- user creates a ticket
- waits for the notification mail
- clicks the link in the mail
- is now able to write a comment to this newly created ticket &

[2013-08-21 14:39] ntozier commented on #675
You may want to provide some additional information regarding your setup
(server OS, webserver, php version, etc).  I am not able to replicate this
on my own installation and in fact I have a number of users that open new
tickets with attachments on a weekly basis.

On Wed, Aug 21, 2013 at 3:32 AM, fidel notifications@github.com wrote:

[2013-08-21 14:52] protich commented on #675
@macfidelity - This is not a bug. Make sure "Limit to authenticated users only" is unchecked in Admin Panel > Settings tab > Tickets

[2013-08-21 23:04] greezybacon commented on #667
@jeffchulg, I'm not following you. Could you post a screenshot? What's the 'connection view' and what are the links you're clicking on when you 'come back tot he admin'?

[2013-08-22 05:30] jeffchulg commented on #667
For sure : So I clic public/test-php

![capture du 2013-08-22 07 26 38](https://f.cloud.github.com/assets/1788348/1006658/95310824-0aeb-11e3-8d22-0aa9aa11ab1d.png)

Then I come to this page :
![capture du 2013-08-22 07 28 19](https://f.cloud.github.com/assets/1788348/1006667/c3e85e4c-0aeb-11e3-824b-b859e169ee1f.png)

And finally go back to the osticket scp ( myosticket/scp )
![osticket16rc5scplogi

[2013-08-22 05:33] jeffchulg opened #676 "System Default Logo not changed in staff and admin views"
I changed System Default Logo to another. It has changed on the client side, but not on the staff and admin views.

[2013-08-22 06:36] yafp commented on #675
Hey,

@protich: perfect response. Unchecked that setting which i may have overlooked in the past.

Best regards

[2013-08-22 06:36] #675 closed, assigned to nobody

[2013-08-22 10:10] paulroots08 opened #677 "Valid CSRF Token Required"
Hi,

I recently upgraded mine from 1.7 to 1.7.1 then I got "Valid CSRF Token Required", every time I login.

[2013-08-22 13:37] greezybacon commented on #672
@merali780, @sabas, would either of you be available and willing to do a screencast session with me -- perhaps with TeamViewer or GoToMeeting? I haven't been able to reproduce the CSRF token issue.

[2013-08-22 13:55] btafoya opened #679 "Bootstrap 3 Client Template"
I have completed a rewrite of the client templates with Bootstrap 3 support. Is this something you would be interested in?

[2013-08-22 18:47] greezybacon commented on #676
This feature is not yet supported. The system will eventually have the capability to select different logos (or the same) between the staff and client portals. Currently, only the staff portal is changeable.

[2013-08-22 23:34] greezybacon commented on #667
@jeffchulg, it looks correct to me. What am I missing?

[2013-08-23 04:19] jeffchulg commented on #667
sorry, bad operation with image integration. Just updated my previous post :)

[2013-08-23 14:32] sabas commented on #672
@greezybacon also #677. Sorry I can't do screencast here at work, but I could try if I replicate the error at home. (Or if you want to try directly something drop me an email or an Hangouts chat, I have them open.

[2013-08-26 14:53] #667 closed, assigned to nobody

[2013-08-26 15:02] jeffchulg commented on #667
there is still a problem here

[2013-08-27 06:43] jeffchulg opened #681 "session reset after clicking on public page link in scp"
Hi, as mentioned in #667 :

For sure : So I clic public/test-php
![95310824-0aeb-11e3-8d22-0aa9aa11ab1d](https://f.cloud.github.com/assets/1788348/1031526/eeac8300-0ee3-11e3-9d88-9661acec4ba5.png)

Then I come to this page :

![c3e85e4c-0aeb-11e3-824b-b859e169ee1f](https://f.cloud.github.com/assets/1788348/1031527/f1a08a7a-0ee3-11e3-9600-65a2eb9cfcd7.png)

And finally go back to the osticket scp (

[2013-08-27 07:23] yafp opened #682 "How to un-assign a ticket"
Hi,

is there a way in 1.7.0 to unassign an assigned ticket?

[2013-08-27 13:34] greezybacon commented on #681
@jeffchulg, where'd you get that last screenshot? It isn't version 1.7. Are you sure you're not accidentally visiting another osTicket installation on the same server?

[2013-08-27 13:35] greezybacon commented on #677
If you refresh the login page before logging in, does it work properly?

[2013-08-27 13:38] greezybacon commented on #682
Department managers can release (unassign) tickets

[2013-08-27 13:38] greezybacon commented on #682
We're wondering if we should extend the functionality to the group level so that any group (like Admins) could release a ticket

[2013-08-27 14:33] jeffchulg commented on #681
the last one was not... lazyness... lol
But the others was from my 1.7.1 RC1 installation

[2013-08-27 19:31] greezybacon commented on #681
Should I close the issue?

[2013-08-28 05:27] jeffchulg commented on #681
no, it's a real issue I experienced after the changes you asked me to do in #667
so, I think it's a real issue...

[2013-08-28 09:15] Richard-Regan opened #683 "Issue with internal FAQ's"
When we have been creating FAQ's, we have been using the flag internal and public. We noticed that when searching the FAQ's it would display all matches (public and internal) in its results list.

Is is true that users can only view public entries, but we did not want to expose even the headings of the internal FAQ's, therefore we had a look at the code.

We may have spotted a logic issue with you

[2013-08-29 17:44] Souquero commented on #380
We had the same issue and after scratching my head for some time and already "fixing" it by directly editing the database, I found the reason:

It only shows the assignment option for the "department manager" if the department is the "primary department" of at least one staff member.

There should be some hint when editing a department, that advices about this.

Still wondering, why no one ever co

[2013-08-30 08:35] yafp commented on #682
@greezybacon:
i do see a re-assign function - but not a release/unassign option in 1.7.0.

Opening it for admins sounds like a good option to me aswell btw.

[2013-08-30 13:19] ntozier commented on #682
And by "admins" you actually mean any group with "Can _Assign_ Tickets"
enabled?

On Fri, Aug 30, 2013 at 4:35 AM, fidel notifications@github.com wrote:

[2013-08-30 14:46] greezybacon commented on #682
@macfidelity, are you a department manager -- check in the department settings, each department has a "Manager" setting. Ensure you're set to the department manager, then you can unassign the ticket

[2013-08-30 14:48] greezybacon commented on #681
@jeffchulg, I have no idea what you're suggesting is broken. The screenshot you posted is not from osTicket 1.7.0 or 1.7.1-rc1. Is it that the system is logging you out? Does the back button + refresh do the same?

[2013-08-31 00:09] imcdona opened #685 "Allow ticket replies to be sent to multiple recipients"
I see forum posts dating back to 2008 regarding the CC email issue. There have been several updates to osTicket since that time and non of them have addressed the ability to CC multiple email addresses on ticket replies.

The forums are full of "mods" that perform this functionality. Mods have their place but in this circumstance, relying on a mod for what should be core functionality can have uni

[2013-08-31 16:20] jeffchulg commented on #681
@greezybacon , as I mentioned, I previously realized (in the issue #667 ) that I had mistaken the image I uploaded. I was out of the office when I uploaded the screenshot of the login page. Sorry for not taking another screenshot and uploading the good one.

By the way, I have finally found out what was the problem I was facing :
I'm using osticket in https mode, but I had not set the "Helpdesk UR

[2013-08-31 16:20] #681 closed, assigned to nobody

[2013-09-02 08:28] sabas commented on #677
For me no...

[2013-09-02 08:51] sabas commented on #677
@greezybacon why the token gets regenerated everytime?
Here fails the check imho

[code]

[2013-09-02 10:34] 7bp opened #686 "Assigned SLA Plan cannot be changed after overdue"
I wanted to change the assigned SLA Plan for an overdue ticket but every time I do so it updates straight back to the old overdued SLA plan and sends out a new alert email.

In my case I have currently a 48h plan assigned and want to change it to a 9999h plan for internal purpose. Is this meant to not work?

Kindly Ben

[2013-09-02 12:38] yafp commented on #682
@greezybacon:
now i am the department manager ;) Looking backwards the main issue was realizing that only appartment-managers could do so && where osTicket would offer that option then.

I expected it to be on the same position where assignment itself is (ui-wise).

but ok - thats fine for me.

@ntozier:
i am fine with the current situation.

@all:
should i close the ticket or let it open based on

[2013-09-02 12:49] yafp opened #687 "Typo in 1.7 - Post Internal Note - Summarry"
Hi,

in case this wasnt reported before:  there is a small uncritical typo in 1.7

In the 'Post Internal Note'-tab i can see the following description:

I guess it should be

[2013-09-02 14:48] greezybacon commented on #686
@7bp, what version is this on? If you're on the develop branch or 1.7.1-rc1, is your Internal SLA set to Transient by chance?

[2013-09-02 14:51] greezybacon commented on #677
@sabas, are both sides changing? `$token` and `$this->getToken()` or just one?

Does this keep happening if you delete your browser cache and cookies and reload the page?

[2013-09-02 14:56] greezybacon commented on #687
@macfidelity, thanks for reporting this. It was fixed in cd7c6cfa and will be released in 1.7.1

[2013-09-02 15:02] 7bp commented on #686
Oh, Im very sorry. I just recently switched to the developer branch and did not see this option in the SLA settings before, work splendid now. Mea culpa :-)

[2013-09-02 15:02] #686 closed, assigned to nobody

[2013-09-02 15:04] sabas commented on #677
First questiion: the second one keeps changing (cause $token comes from the form I submit, the latter keeps generating from getToken() -trying with f5 and resubmit form-)
Second question: Yep tried now... (I've made a clean install to test, I didn't install inside my application as before)

Additionally these are both zero in is_expired, so returns always true...

[code]

[2013-09-02 15:44] #687 closed, assigned to nobody

[2013-09-02 18:20] greezybacon commented on #677
@sabas, is there a public URL to this osTicket install I could access to investigate this issue?

[2013-09-02 18:34] sabas commented on #677
I try to get a working installation somewhere, could you contact me to my private email?

[2013-09-02 19:34] sabas commented on #677
@greezybacon  YAY I get it, the issue is caused by local addresses (localhost), I connected via vpn to my workstation and scp is loading... Furthermore I loaded osticket on my website and works correctly...

[2013-09-02 21:23] greezybacon commented on #677
@paulroots08, are you accessing osTIcket v1.7.1 via localhost as well?

[2013-09-02 23:45] greezybacon commented on #683
Thank you for reporting this and finding the root cause.

[2013-09-03 07:56] sabas commented on #677
Another test at work: via localhost => csrf error, via private ip from same machine (172...) => works.

[2013-09-03 13:16] #683 closed, assigned to nobody

[2013-09-03 18:34] greezybacon commented on #673
What exactly was the issue? Do you have some examples on what you expected versus what the stock code shows in the dashboard?

[2013-09-03 18:35] greezybacon commented on #672
@merali780, are you accessing the osTicket installation on localhost by chance?

[2013-09-03 18:40] greezybacon commented on #647
Released in v1.7.1

[2013-09-03 18:40] #647 closed, assigned to nobody

[2013-09-03 18:41] greezybacon commented on #627
Released with v1.7.1

[2013-09-03 18:41] #627 closed, assigned to nobody

[2013-09-03 18:42] greezybacon commented on #641
@pavel83, were you able to get your custom working?

[2013-09-03 20:45] greezybacon opened #695 "Avoid session_start() for random data"
Reported from the osTicket forums

http://www.osticket.com/forums/showthread.php?t=16500&page=2

PHP (on Windows® usually) with neither mcrypt nor openssl support, will resort to using session information to get cryptographically secure random data. Starting with the new crypto library from phpseclib, the create random string function will attempt to use session information to gather random data.

[2013-09-03 20:46] greezybacon commented on #695
In my opinion, in this case, Misc::randCode() should provide sufficiently random data

[2013-09-04 07:49] pavel83 commented on #641
Yes, it works perfectly.. Thanks!!!!

[2013-09-04 15:12] ghost opened #700 "osticket 1.7.1 not loading css"
I am not quite sure what could be causing the problem,  the css is not loading on the front end of my installation,   but is loading in the backend,  i thought maybe my upgrade went wrong, so i did a clean install with a new database and still no css for my front end.

I was trying to get support on the forums, and one person said this could be the issue

"it's the ROOT_PATH variable that is not b

[2013-09-04 19:16] #670 closed, assigned to nobody

[2013-09-05 20:07] #700 closed, assigned to nobody

[2013-09-06 10:37] pedronoliveira commented on #672
Having the exact same error on a localhost test instalation, tested with localhost address and throught other workstation on the same network as my localhost throught private IP, still get the same error.

EDIT: Just tested the same setup on my private VPS ArchLinux Lighttpd Mysql and it works normally

[2013-09-06 12:12] indusone opened #704 "Upgrade to 1.7.1 causing cron script to spawn many processes"
Hi

I just upgraded from 1.7.0 to 1.7.1 and my CPU is at 100% due to cron spawning at least 7 processes. I had to kill them manually and remove the cron entry in crontab.

[2013-09-06 12:18] indusone commented on #704
PHP Warning:  strpos(): Empty delimiter in /var/www/support/include/class.misc.php on line 147

I got this warning in the system emails, maybe that will be of help.

regards,

[2013-09-06 14:16] greezybacon opened #706 "Don't start sessions for command-line scripts"
This mainly concerns scripts that are executed from the command-line and have sensitive output, such as the cron.php and pipe.php scripts, where output from the scripts implies outgoing emails with the script output

[2013-09-06 14:50] greezybacon commented on #704
@indusone, I posted a new download zipfile to address this issue this morning. You can either see if the pull-request suggested above fixes it or download the latest 1.7.1 build and see if it fixes the issue.

[2013-09-06 14:51] greezybacon commented on #704
Thanks for posting the issue, by the way

[2013-09-06 15:26] indusone commented on #704
Hi

I have replaced the contents of the file class.misc.php with your newer version and it has fixed the issue.

Thanks so much.

[2013-09-06 16:04] #704 closed, assigned to nobody

[2013-09-06 16:07] #677 closed, assigned to nobody

[2013-09-10 12:12] jimmyeao commented on #672
im having this issue on a site I have tried to upgrade from 1.6 - running on Apache2.2.22 under debian in a VM. PHP Version 5.4.4-14+deb7u2 MySQL client version: 5.5.31
So far have tried to access via localhost, private ip, DNS name
Have downloaded the latest 1.7 dev release, still no joy..

[2013-09-10 14:34] juiceman84 opened #715 "osTicket 1.7.1.1 - New Install - Valid CSRF Token Required"
Hi osTicket Devs,

I recently downloaded and installed osTicket 1.7.1.1 on the following platform/environment:

OS: Ubuntu 12.04
PHP: PHP 5.3.10-1ubuntu3.8 with Suhosin-Patch (cli)
My SQL:Server version: 5.5.32-0ubuntu0.12.04.1 (Ubuntu)

I followed the setup page and got the software installed successfully, however, after I try to log in to the http://<url>/scp with the account I created, I get "V

[2013-09-11 17:44] greezybacon commented on #715
I think this was fixed in #707

[2013-09-11 17:57] greezybacon commented on #715
I just cut a new release (v1.7.1.2) that hopefully addressed this issue. Would you mind updating the codebase? _You can just download the new release and upload it to your server. You shouldn't need to reinstall_

[2013-09-11 18:29] greezybacon commented on #695
Fixed in #712

[2013-09-11 18:29] #695 closed, assigned to nobody

[2013-09-11 18:32] greezybacon commented on #672
@jimmyeao there was another issue concerning the detection of the URL path for the osTicket install -- #716. It was merged today. Would you mind trying again? We pushed the version out to the osticket.com site, so you could re-download it if you would like.

[2013-09-11 18:32] greezybacon commented on #666
Fixed in #696, thanks again for reporting it

[2013-09-11 18:32] #666 closed, assigned to nobody

[2013-09-11 19:34] jimmyeao commented on #672
Still have the same error... I installed the Dev version and the version of the osticket site to be sure...
I did notice a new requirement to install php-pear when installed the dev release

[2013-09-11 19:56] jimmyeao commented on #672
Happy to do a remote session tomorrow around this time if that would help?

[2013-09-12 06:22] #398 closed, assigned to nobody

[2013-09-12 15:00] juiceman84 commented on #715
Hi Greezy,

Thank you for your support on this problem.  I just did a git clone and downloaded the latest version (I think) to my server.  I used the following command:

git clone https://github.com/osTicket/osTicket-1.7.git

Once I copied these files over my existing web server folder, I reloaded my webserver (apache2) but it still gives me the "Valid CSRF Token Required" message.  I can try crea

[2013-09-12 15:44] greezybacon commented on #715
@juiceman84 we discovered yet another flaw in the ROOT_PATH detection today, which is used for cookie settings, which affects the CSRF tokens. Would you mind doing a `git pull` and trying yet again.

Yes, I would be interested in the SSLVPN route, as we keep running into scenarios that a difficult to replicate in our test environments.

[2013-09-12 16:35] juiceman84 commented on #715
@greezybacon I just tried to do a new pull and recopied the files over to my directory but still no bueno.  I am going to create another VM and start from scratch.  Once I do the clone to this one, I will let you know the results.  I'm want to find someway to send you some secure credentials so you can get to the VM and do some magic.  Let me know of the best way for me to get that information to

[2013-09-12 16:41] greezybacon commented on #715
I can email you a public ssh key if that would be sufficient

[2013-09-12 16:50] juiceman84 commented on #715
@greezybacon that will work as far as getting access to the server once you are in the SSLVPN, however I will still need to get you those creds so you can log in and get on my dev network. It would be great if I could PM you to just get your email and then I could respond back with the creds, but I do not know if github let's you do that.  Are you on the osTicket forums?  I can probably send you a

[2013-09-12 17:02] greezybacon commented on #715
@juiceman84 you can mail me at jared -at- osticket.com

[2013-09-12 19:30] P00PDOG commented on #715
Greezy, we are experiencing the exact same issue, but with a different environment. We have a virtual 2k8R2 with iis already being used on port 80 and 443.
I have installed wamp and am using it on port 81.
I have a Bomgar appliance and can get you in to the server very quickly, and you can test to your hearts content....Let me know if you still need to test and I will email you the intrructions on

[2013-09-12 19:31] PawelBaczkiewicz opened #718 "table "ost_ticket_thread" -> field "title" has wrong encoding"
Hi,

Since I've upgraded my osticket version I noticed field "title" is incorrectly encoded in table "ost_ticket_thread".
Value is also displayed incorrectly.

Example in Polish language: "wówczas".

"ó" is translated into: &oacute;. This value is also displayed in osticket threads in staff panel. If you create a ticket putting "Subject" as "wówczas", the ticket is created with correct title "wówc

[2013-09-13 00:30] juiceman84 commented on #715
@greezybacon I just finished setting up the latest version of osTicket on my server from scratch and it worked like a champ.  I was able to login to the scp and browse around.  I will gladly provide you sslvpn if you just want a dev server to kick around in, but it seems like the latest fix you put in place did the trick!

Thank you for your tireless effort!

[2013-09-13 07:11] sabas commented on #715
@greezybacon if your aim is at path handling, I did some bit of tests with this function https://github.com/sabas/magicpath (see also the different versions in commit history)

[2013-09-13 08:43] mirekh commented on #247
But this bug still active in version osTicket v1.7.1- "Stable" Release (September 03, 2013)

[2013-09-13 13:58] CypherX commented on #715
It appears that if osTicket is being used on a port other than 80 the /scp/ login process fails with "Valid CSRF Token Required".  This seems to be caused by the inability to set a cookie on a domain containing a port number.

I resolved this by editing class.ostsession.php and adding:

[code]

before:

[code]

After doing so our osTicket installation on port 81 is working perfectly.

[2013-09-13 14:13] greezybacon commented on #247
@mirekh, what version is reported in the admin panel for you install. Since we had an alarming number of reports of this bug since we released 1.7.1, we made several releases since. The version posted yesterday, which made another attempt to address the issue, is labeled 1.7.1.2

[2013-09-13 14:15] greezybacon commented on #672
@jimmyeao, sorry about the php-pear issue. It was a mistake on our part. It is definitely not required. We've addressed that this week in the develop branch and in a new release

[2013-09-13 14:29] greezybacon commented on #718
Thanks for bringing this up again. It's a duplicate of #567. I agree it needs to be addressed pronto

[2013-09-13 14:33] greezybacon commented on #715
Thank you! I would propose a cleaner fix:

[code]

[2013-09-13 14:46] greezybacon commented on #715
I mocked this up in #719

[2013-09-13 14:56] PawelBaczkiewicz commented on #718
Sorry for duplicating :/ I hope it will be fixed soon.
Thanks in advance.

[2013-09-13 15:17] greezybacon commented on #718
I've mocked it up in #720. I would appreciate your feedback if it correctly addresses the issue

[2013-09-13 22:45] mirekh commented on #247
I tried the version 1.7.1.2 (developed ver) - unchanged, bug still blocking me at the login page. :/
Mayby is simple method to block these feature? I don't really need this one (csrf['token']).
I just wanted to try out the application, or mayby add something to it.

[2013-09-13 22:48] ghost commented on #247
@mirekh have you checked to make sure the database table was updated to allow the longer hashs? Also make sure you clear your cache/cookies and to be safe clear the sessions table. Also not to sound obvious make sure your cookie is being set by checking your response and request headers.

[2013-09-13 22:49] mirekh commented on #247
I do not think....

[2013-09-13 22:54] mirekh commented on #247
Cookies cleaned. But what about with "the database table was updated to allow the longer hashs"? What can I do with this? Which table & field may I change?

[2013-09-14 06:16] TechCare-Aus commented on #247
@mirekh - try this (PLEASE NOTE THIS WORKED FOR ME, BUT MIGHT NOT WORK FOR YOU!!)

BACKUP BACKUP BACKUP!!! - copy your web files and your database (I use phpmyadmin for database)

1) Got to https://github.com/osTicket/osTicket-1.7/tree/develop and download as zip file or direct to your web hosting/server (If you choose that make sure you update permissions - chmod and/or chown, etc

2) I used the

[2013-09-14 14:51] eddyuk opened #721 "Can't login to admin panel"
Right after installation, I go to http://localhost/funbox_ostickets/scp/index.php, enter username and password and getting return to login page with error Authorization required. Running Windows 8, IIS8 with URL Rewrite 2.0 installed. No php errors.
Ideas?

[2013-09-14 16:44] mirekh commented on #721
Try read this tread:
https://github.com/osTicket/osTicket-1.7/issues/247#issuecomment-24437770

[2013-09-14 16:45] mirekh commented on #247
Thanks @sjswarts85. I try it soon.

[2013-09-15 01:07] Firestorm-Graphics commented on #679
i did similar with bootstrap 2 including admin/staff area, create your own branch and link to it, im sure it will be popular ;)

[2013-09-15 20:32] greezybacon commented on #721
@eddyuk, are you still getting this error if you download the latest version from the osticket.com site (1.7.1.2)? There were several bugs fixed in the last two weeks concerning this issue.

[2013-09-16 07:07] elsonr opened #722 "Unable to upgrade to the latest version"
Sir,

I am unable to upgrade my ost 1.7.0 (hosted on win2k8, iis7 & php-5.4.16).
After I replace the new file with my existing it shows me Error 500 when I enter this URL http://localhost/scp/upgrade.php.

Please help me.

Regards,
Elson

[2013-09-17 05:11] #722 closed, assigned to nobody

[2013-09-17 08:56] sabas opened #723 "Thank you message without correct ticket number"
When adding a new ticket, the template does't get filled

[code]

If I look from admin panel, I see the ticket and I can access the ticket (email currently not tested because I'm playing with it in localhost)

[2013-09-17 13:01] protich commented on #723
This is not a bug - see http://osticket.com/forums/showthread.php?p=44387#post44387

[2013-09-17 13:01] ntozier commented on #723
Last I checked this is not a bug.

osTicket uses the email address of the person opening the ticket as their username and the ticket # as the password.  It would not be secure to output that information to the screen.  It sends the email with the ticket number properly.

[2013-09-17 13:01] ntozier commented on #723
Damn Peter hit post right before I did. :)

[2013-09-17 13:15] sabas commented on #723
D'oh, it's not that intuitive. :-)
The default wording could be improved, without referencing the ticket number.

[code]

[2013-09-17 13:26] ntozier commented on #723
It's more of a placeholder for when client accounts get implemented.  Once
client accounts are implemented it will display the ticket number.

On Tue, Sep 17, 2013 at 9:15 AM, sabas notifications@github.com wrote:

[2013-09-17 13:43] protich commented on #723
@sabas - Totally agree that it's not intuitive. The problem with your wording is it assumes that auto-responder is enabled - which is not necessarily true, in fact osTicket ships with auto response disabled.

As @ntozier mentioned it's a placeholder for now - feel free to edit the page to your liking in Admin Panel > Manage > Site Pages. What we really need is logic within the template - an enhanc

[2013-09-17 13:55] sabas commented on #723
Okay, I understand...
On another hand, I cannot find the Site Pages :D
![image](https://f.cloud.github.com/assets/1304918/1157383/4a228d0c-1fa0-11e3-8d25-9d34c5fa2141.png)

[2013-09-17 14:30] protich commented on #723
What version are you using? A little confused - #XXXXXX was introduced with site pages.

[2013-09-17 14:37] OleSta opened #724 "Wrong title when edit Email templates 1.7.1"
When I go to /scp/templates.php?tpl_id=1 and select a template to edit they all have the same title "Autoresponse sent to user, if enabled, on new ticket." no matter which one I select.

In 1.7.0 there are no bug.

[2013-09-17 14:52] sabas commented on #723
The latest, cause I was affected by the csrf problem...

[2013-09-18 01:22] rohibun commented on #715
i get same issue, and has solved.
please check wihc osticket version, if osticket version =  1.6 ST you should upgrade to osTicket-1.7-1.7-RC4, then from osTicket-1.7-1.7-RC4 upgrade to osTicket-v1.7.1.
to check wich version of osticket you can do query ' select ostversion from ost_config;'

[2013-09-18 07:18] elsonr opened #725 "500 Internal Error in Forgot Password"
Hi,

Kindly help me solve this issue.
I am getting Error 500 in Forgot my Password page.
I am using osTicket latest version, IIS7.5 and Windows 2008 R2.
The error appears but the functionality still works. I still get a mail in my inbox and able to reset my password.
Below is the screen shot of the error.

![image](https://f.cloud.github.com/assets/4959271/1163054/7a260492-2032-11e3-9b76-0bf60341c

[2013-09-18 13:01] protich commented on #725
Do you see any specific errors in your IIS/PHP logs?

[2013-09-18 14:32] elsonr commented on #725
Hi Protich,

I had enabled logging in IIS but unfortunately dint do that for Php.
After enabling the PhP logging to windows event viewer I am able to see this below screen

![phpostlogenable-error](https://f.cloud.github.com/assets/4959271/1165927/6bd9d28c-2074-11e3-90cd-12578854e8d5.jpg)

Here on the top I am able to see some error but yes the Error 500 has disappeared and the solution for it was

[2013-09-18 14:40] elsonr commented on #725
Error displayed in Event Viewer

The description for Event ID 2 from source PHP-5.4.19 cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted. You can install or repair the component on the local computer.

If the event originated on another computer, the display information had to be saved with the event.

The followin

[2013-09-18 15:01] #567 closed, assigned to nobody

[2013-09-18 15:02] #649 closed, assigned to nobody

[2013-09-19 15:41] slm4996 opened #728 "Tickets assigned to you via a team do not show up in "My Tickets" queue."
When a ticket is assigned to a user, via being assigned to a team, that user is alerted that they have been assigned a ticket but upon viewing their "My Tickets" queue cannot find it. The ticket is however listed under the general al tickets view.  "My Tickets" should either show all assigned tickets, or there should be a "My Team Tickets" queue as well.

[2013-09-20 08:57] AlexeyDemidov commented on #715
Same issue - trying to update 1.6 ST to latest version (git clone) and getting "Valid CSRF Token Required". I don't have 'ost_session' table and clearing all cookies doesn't help. But update to version tagged v1.7-RC4  as suggested by @rohibun worked successfully. BTW, I have my osTicket installed into subdirectory (/support) without port numbers or IPs in URL but over HTTPS. Upgrade from v1.7-RC4

[2013-09-20 20:54] chrisg39 opened #729 "Client cannot login. no errors, page just refreshes"
hey guys,
I am trying to incorporate osTicket (v1.7.1.2) into wordpress 3.6.0 using the method outlined here http://www.kodelibrary.com/tag/osticket-wordpress-guide/
I thought everything worked ok... I was able to get the css cleaned up and the admin and staff panels work fine.
I ran into an issue when i tried to read an opened ticket from the client side. if the ticket number and email are not en

[2013-09-20 22:04] protich commented on #729
Sorry but this is not something we can help with - get the developer/writer of the guide to make it up to date.

[2013-09-20 22:13] chrisg39 commented on #729
ok thanks a bunch i thought it might be a no-brainer for you guys.

[2013-09-20 22:20] ntozier commented on #729
There may be a error being logged in your php error log and its just not
getting displayed. You could also try turning on error display in osTicket.

What Peter is trying to say is that we do not support the mod that you are
using and should really talk to the mod author for support.  Additionally
its not really a osTicket bug as osTicket works with out using the mod and
since we dont use Wordpres

[2013-09-20 22:45] chrisg39 commented on #729
absolutely, i know it is a little off topic and with that being said i especially appreciate the replies... Unfortunately i cant find any errors in the osticket log just the regular User Login entry [...ail.com/903610 logged in [19...]
I will see what else i can find

[2013-09-21 05:48] AlexeyDemidov opened #733 "Incorrect email validation"
Function Validator::is_email won't recognize email address with quoting as valid, eg "mail box with space in name"@example.com For additional information see [examples of valid email addresses](http://en.wikipedia.org/wiki/Email_address#Valid_email_addresses) and [this discussion on stackoverflow](http://stackoverflow.com/questions/201323/using-a-regular-expression-to-validate-an-email-address).

[2013-09-22 18:55] ckdarby opened #734 "Installer expects MySQL password"
Makes it impossible to use a mysql user with no password required without skipping the installer & doing it manually.

[2013-09-22 20:24] ntozier commented on #734
The setup instructions clearly state that you should setup your mysql
database and user/pass first.  You should also never use a mysql user
account with out a password, its a huge security risk...

This is working as intended.

On Sun, Sep 22, 2013 at 2:55 PM, Cory notifications@github.com wrote:

[2013-09-22 20:37] ckdarby commented on #734
Doesn't state that a password is required and or that mysql NOPASSWORD is invalid.

Doesn't mean it isn't possible or that it is invalid and I wouldn't consider it a security risk outside of prod when user@localhost is only accessible by localhost along with the fact I'm using this in my dev environment which is why it is blank.

That is all your reply needed to be..

[2013-09-22 20:37] #734 closed, assigned to nobody

[2013-09-22 22:00] ntozier commented on #734
Your copy and paste clearly states "You will need one MySQL database with
valid user, password...".  I'm not sure why you would think that a password
would not be required when it says it is.

Using any type of account without a password is against all common security
security practices.

On Sun, Sep 22, 2013 at 4:37 PM, Cory notifications@github.com wrote:

[2013-09-23 07:49] kopitoshka commented on #734
I would agree with ckdarby. SQL password should not be required otherwise you can go further and check password strength, etc. People install the system on local servers and they need to do it fast under root mysql user without any passwords. It is annoying for me to remember what user I have with a password for mysql db.

[2013-09-23 09:12] jeffchulg opened #735 "make phone size variable"
Hi,
If it's an internal ticket, the phone number can be of 4 digits. If the ticketing system is used in one country, the phone number size is not the same as another one.
Could it be possible to make a  change so that the phone number size is custom ?

[2013-09-24 22:31] greezybacon commented on #724
Thanks for reporting this! It was addresses in #727 and released in v1.7.1.3.

[2013-09-24 22:33] greezybacon commented on #718
Thanks for reporting this! It was merged and released into 1.7.1.3

[2013-09-24 22:33] #718 closed, assigned to nobody

[2013-09-24 22:34] greezybacon commented on #562
Could I bug you to retest this with the latest develop branch or from the latest download on the osticket.com site?

[2013-09-24 22:37] greezybacon commented on #599
@AdeliavanTonder, any way you could send me that raw email? Or, if you would like, we posted a fix yesterday that concerned email filename fixes (#737)  (and there's another outstanding, #738) which might address the issue. Perhaps you could retest with the tip of the develop branch.

[2013-09-24 22:37] greezybacon commented on #672
Can anyone / everyone verify that this is fixed with the tip of the develop branch and in osTicket 1.7.1.4?

[2013-09-24 22:39] greezybacon commented on #645
This is a major feature for osTicket 1.8. It won't be accepted into 1.7. You can reopen this against the osTicket-1.8 repo if you would like. The feature is mocked up there as a pull request and will be merged very soon.

I agree with you, this is something that osTicket greatly needs

[2013-09-24 22:39] greezybacon commented on #721
@eddyuk, can I close this issue?

[2013-09-24 22:41] greezybacon commented on #715
The upgrade from 1.6 was fixed in #736 and release with 1.7.1.4. Could someone verify?

[2013-09-24 22:42] greezybacon commented on #660
Thanks for reporting this. It was merged and released with osTicket 1.7.1

[2013-09-24 22:42] #660 closed, assigned to nobody

[2013-09-24 22:43] #641 closed, assigned to nobody

[2013-09-25 06:18] eddyuk commented on #721
Yes, thanks for all answers. Just to let you know, the problem was that I misspelled site name in ost-config.php

while editing #define('ROOT_PATH', '/support/');

[2013-09-25 06:18] #721 closed, assigned to nobody

[2013-09-25 17:37] #725 closed, assigned to nobody

[2013-09-26 03:01] greezybacon commented on #721
@eddyuk, good find! FYI, if you are able to upgrade to osTicket 1.7.1.4, you should be able to remove the edit to the ost-config.php file. Sorry for the confusion

[2013-09-26 03:30] greezybacon commented on #735
I would vote for `wontfix` here. We're building in custom forms into osTicket 1.8, so you'll be able to change the phone number field to a simple number and use whatever size you would like.

[2013-09-26 03:35] greezybacon commented on #649
@mrscorpion, have you had a chance to retest since 1.7.1.3 was released?

[2013-09-26 03:37] greezybacon commented on #661
@dooglus, have you had a chance to retest after upgrading to 1.7.1.*?

[2013-09-26 04:36] elsonr opened #740 "Ability to Create custom New Ticket pages and link to help topics - Enhancement"
Hi,

I will be grateful to you guys if a feature in osTicket can be added which will provision us to create new ticket pages which can be then linked to specific Help Topics.
The feature can help us to create custom pages with option to create mandatory custom fields and simple fields also.
We have issues related to hardware and the users logging ticket does not provide enough information like the

[2013-09-27 01:06] ntozier commented on #740
I think that you will find that the dynamic forms coming out in 1.8 will
suit your needs in this fashion.

On Thu, Sep 26, 2013 at 12:36 AM, Elson Rodrigues
notifications@github.comwrote:

[2013-09-27 02:26] andresadanmx commented on #672
I installed os Ticket 1.7.1.4 in Centos with cPanel, when i logging in control panel it give me this error: Valid CSRF Token Required.
I searched a lot about a solution, but have not found something that works for me

[2013-09-27 05:23] OleSta commented on #724
Still a bug in 1.7.1.4.
Now the title is always: "Alert sent to staff on ticket transfer."

[2013-09-27 05:24] elsonr opened #741 "osTicket System logs getting flooded with Ticket Denied logs"
Hi,

I have set ticket filter to reject tickets having target Email and matching to subject containing Permanent Delivery Failure & Transient Delivery Failure.

The normal tendency of my osTicket is to delete the ticket after fetching it from the department mailbox but this is not happening in this case when I have set Ticket filter to reject the ticket.

The Email still remains in the mailbox and

[2013-09-27 05:24] OleSta opened #742 "Wrong title when edit Email templates 1.7.1.4"
Still a bug: https://github.com/osTicket/osTicket-1.7/issues/724

Not fixed in 1.7.1.4.
Now the title is always: "Alert sent to staff on ticket transfer."

[2013-09-27 06:56] elsonr commented on #740
Thanks ntozier.. I will be waiting for this version to come.

[2013-09-27 06:56] #740 closed, assigned to nobody

[2013-09-27 13:51] greezybacon commented on #741
@elsonr, can you verify that you have the email fetch setup in osTicket to delete or move the email after the fetch, and could you verify the version of osTicket you're using (via the admin panel).

[2013-09-27 14:21] greezybacon commented on #742
Sorry about that. I _almost_ fixed it in #727

[2013-09-27 14:24] greezybacon commented on #640
This is implemented in osTicket/osTicket-1.8#2, Dynamic Data for osTicket. Thanks for the recommendation

[2013-09-27 14:50] greezybacon commented on #741
@elsonr, can you apply #744 and tell me if it fixes the issue?

[2013-09-27 20:30] #742 closed, assigned to nobody

[2013-09-27 20:44] #724 closed, assigned to nobody

[2013-09-27 21:20] mariepizzer commented on #422
Hello, Greezybacon. My site is sadly hosted on Godaddy and I have the same problem (no statistics, no canned responses). Has the server anything to do with it? Thanks...

[2013-09-28 04:19] elsonr commented on #741
Hi,

The Email fetch setup in osTicket is set to delete the Email after fetch. Below attached is the screenshot of the setting and the osTicket version.

![ost_version](https://f.cloud.github.com/assets/4959271/1230652/91822e58-27f4-11e3-854e-87b5a19ab8c4.jpg)

I will try to apply #744 and will update you.
Thanks once again.

Regards,
Elson

[2013-09-28 06:16] elsonr commented on #741
Hi,

I applied #744 in my server and found the ticket denied events where still continuously getting collected in my osTicket system logs.
The Ticket Denied events stopped when I deleted the postmaster bounce back Emails from the department Email ID's.
Then I created a new ticket with a wrong Email ID and replied to it from my support staff login and the same issue reappeared.
The issue is still n

[2013-09-29 06:15] OleSta opened #746 "Forward tickets to external email"
I would like to have the possibility to forward tickets to an external email.

Like this mod:
http://osticket.com/forums/showpost.php?p=43205&postcount=3

[2013-09-29 06:18] OleSta opened #747 "Ability to show/hide department column in tickets view"
I would like this to be part of the official releases:
https://github.com/henesnarfel/osTicket-1.7/commit/993ca5a6a6b48cae3503a98ede221fbf9113ed9e

[2013-09-29 07:21] elsonr commented on #640
Thanks Jared.. I will waiting for this version :)

[2013-09-29 14:02] protich commented on #747
I kindly disagree - see #485 for background discussion.

[2013-09-29 14:17] protich commented on #746
CC/BCC is a feature we plan on adding to the core. Most mods in the forum are hacks with security holes -- see issue #506 for the challenges involved.

[2013-09-29 16:24] OleSta commented on #747
I don't understand if it is the showing of the department column in the open ticket view you don't like or the option for the user to enable/disable the column.
I would just like an admin option to enable showing department for assigned/unassigned open and answered tickets.

[2013-09-29 16:27] OleSta commented on #746
I had not thought of the security hole - hiding the ticket ID (or part of it) on forward could be one solution or adding a secondary ID on forward not giving access to the ticket online.

[2013-09-29 17:37] protich commented on #747
You can show department now by hiding assigned tickets on open queue. See Admin Panel > Settings > Tickets.

Adding the option is a hack which doesn't solve the real issue. You might want to show department but someone else might want due date - would it call for yet another admin option to choose the column to show? See my comment on PR #485.

[2013-09-30 13:47] greezybacon commented on #741
@elsonr would you mind describing the ticket filter that is matching and rejecting the "bounce back emails"?

[2013-09-30 20:42] OleSta opened #753 "Unable to pop emails"
Had one email that osticket 1.7.1.4 could not pop.

Got this error:
PHP Warning:  imap_open(): Couldn't open stream {mail.hiddenname.dk:110/pop3/novalidate-cert}INBOX in /var/www/somefolder/include/class.mailfetch.php on line 130

Deleted the email making the problem and then it worked again.

[2013-10-01 09:09] dawud opened #755 ""Valid CSRF Token Required" error with osTicket behind Apache http_proxy"
Hi devs,

I'm facing a problem when trying to use 1.7.4 with the following settings:
- two machines, one frontend, one backend; both with RHEL6 supplied Apache (2.2.15)
- frontend machine's configuration is fairly simple:

[code]
- backend's config is as follows:

[code]

Both server names (osticket.domain.com and backend-osticket.domain.com) are DNS resolvable.
Backend's LogFormat has been config

[2013-10-01 10:21] elsonr commented on #741
Hi Jared,

I hope
If there is a user who has logged a ticket with a wrong email id then his/her ticket gets logged in the system but at the backend the department mailbox tries to send a reply to that ticket a bounce back mail is received in the mailbox.
Since the system is set to fetch the emails from the department mailbox using IMAP every 1 minute the ticket is logged on behalf of the postmaste

[2013-10-02 10:16] OleSta opened #756 "HTML codes in Print (pdf)"
When printing ticket from 1.7.1.4 the Danish letters æøå, > and a few more is shown as html codes in the PDF.

[2013-10-02 17:31] OleSta commented on #756
Can be fixed by changing line 96 in include/class.pdf.php
from:
return iconv('UTF-8', 'windows-1252', $text);
to:
return html_entity_decode(iconv('UTF-8', 'windows-1252', $text));

[2013-10-02 18:47] mcotterman opened #757 "Overdue not flagged with cron on duedate"
I found that in OSTicket 1.7.1 (downloaded on 10/2/2013) the overdue flag and notification where not sent on tickets where the duedate had passed.

When I looked in the checkOverride method of class.ticket.php I found that the SQL query seemed to be attempting to pull a list of tickets to flag overdue and one of the options was if the ticket's duedate had passed. In this case no SLA was set, so th

[2013-10-03 05:42] OleSta opened #758 "Open attachments in new windows/tab"
Why not open attachments in new windows/tab?

It could be a configuration option.

For now I just changed line 470 in class.thread.php
from:
function getAttachmentsLinks($file='attachment.php', $target='', $separator=' ') {
to:
function getAttachmentsLinks($file='attachment.php', $target='_blank', $separator=' ') {

[2013-10-03 06:02] OleSta commented on #758
How do I do the same when printing a ticket - open in new windows/tab?

[2013-10-03 06:02] #746 closed, assigned to nobody

[2013-10-03 06:03] #747 closed, assigned to nobody

[2013-10-03 13:17] greezybacon commented on #758
@OleSta, I agree the same tab is confusing. It just recently changed to inline download. One easy fix (documentation wise) is to CTRL+click to open in a new tab.

The hold up is to make sure if you were download a bunch of files a browser cannot render (like EXEs or ZIPs), if the browser would end up with lots of empty tabs.

[2013-10-03 13:22] greezybacon commented on #755
First off, thank you for the detail. We have a production environment in place utilizing HAProxy and Apache, which makes use of the X-Forwarded-For and X-Forwarded-Proto headers, so I'm pretty sure you have those things correct.

The main issue for CSRF is the OSTSESSID cookie being consistently sent through to the backend server and the PATH and the DOMAIN of the cookie being setup correctly.

Co

[2013-10-03 14:03] greezybacon commented on #756
@OleSta, good catch. I agree with your fix. However, when I went to implement it, I'm conflustered. I have no idea why line 96 will transcode from utf-8 to windows-1252, and as an alternative, line 98 would transcode from iso-8859-1 to utf-8. Seems like they should do the same thing using different functions.

In a function named `_utf8` it would seem that the returned text should be utf8 formatte

[2013-10-03 14:10] OleSta commented on #756
FPDF fonts are using ISO-8859-1 or Windows-1252.
Line 98 is (still) doing the wrong thing and when I tested it gave a completely wrong characters.

[2013-10-03 14:13] OleSta commented on #756
Line 98 should be changed
from:
return utf8_encode($text);
to:
return html_entity_decode(utf8_decode($text));

[2013-10-03 14:14] OleSta commented on #756
Only thing left is to explain why the function is named _uft8 :)

[2013-10-03 17:57] OleSta commented on #756
To be sure it works with PHP 5.4.0 and newer I think the function should look like:

[code]

[2013-10-04 02:17] greezybacon commented on #756
There's another bug about Russian characters not being displayed in PDF output. I wonder if we should just switch to [mPDF](http://www.mpdf1.com/mpdf/index.php), use a font with a more complete unicode character set (like OpenSans), and just use utf-8 encoding directly

It also looks attractive, because HTML will be officially supported in osTicket/osTicket-1.8#5, and we'll need a way to print it

[2013-10-04 08:45] #609 closed, assigned to nobody

[2013-10-04 08:54] OleSta opened #759 "Change of ticket SLA to None does not save"
If I change an overdue ticket SLA to None it just defaults to the SLA it was created with.

[2013-10-04 19:00] jbjorgaard commented on #422
I'm having the same issue on GoDaddy virtual hosting.   I see that in the current version, get_path_info()  handles both cases of $_SERVER['PATH_INFO'] to $_SERVER['ORIG_PATH_INFO']  so you don't need to change this anymore.

Any fix for GoDaddy hosting on this version of OSTicket yet?

[2013-10-04 19:04] greezybacon commented on #759
Do you have an SLA associated with the help-topic or department currently assigned to the ticket?

[2013-10-04 19:10] OleSta commented on #759
I was not aware that a SLA was set up on the help-topic.
Setting the help-topic SLA to system standard fixed the problem.

[2013-10-05 02:47] greezybacon commented on #422
I would really like to work with you guys and get this issue resolved. Can either of you verify (via browser developer tools) if the Ajax requests are returning http 404 or 400 errors?

Von meinem iPhone gesendet

[2013-10-05 03:17] jbjorgaard commented on #422
I'll check when I get back to a computer.
On Oct 4, 2013 9:47 PM, "Jared Hancock" notifications@github.com wrote:

[2013-10-05 12:07] gwepower commented on #422
Hi greezybacon,

I have checked woth the firefox console that I get a HTTP/1.1 500 Internal Server Error (if you want I can send you a window capture). For example, when I try to select a canned response i get this:

https://www.global-wellness-emporium.com/osticket/scp/ajax.php/kb/canned-response/3.json?tid=343&_=1380973482025
Método de la petición:    GET
Código de estado:  HTTP/1.1 500 Internal

[2013-10-05 13:59] greezybacon commented on #422
Is there any way you can recover the php errors emitted from the HTTP 500 errors?

Von meinem iPhone gesendet

[2013-10-05 14:00] greezybacon commented on #422
Yes, the strange configuration on Godaddy servers is the problem. Unfortunately, I don't have a Godaddy hosting account, so I can't reproduce and correct the issues on my own.

Von meinem iPhone gesendet

[2013-10-05 15:12] gwepower commented on #422
The only thing I see in my error logs is that a 500 error page cannot be found when I access any of the pages in osticket with the ajax problem, nothing else:

[Sat Oct 05 11:09:32 2013] [error] [client 201.141.140.147] File does not exist: /home/globalw8/public_html/500.shtml, referer: https://www.global-wellness-emporium.com/osticket/scp/tickets.php?id=347

Is there anyway to activate a debug sy

[2013-10-05 15:49] ntozier commented on #422
You can tell osticket to display errors. I dont think that this has changed
recently but how to is listed here:

http://www.tmib.net/frequently-asked-questions-faq-about-osticket-17st#3

On Sat, Oct 5, 2013 at 11:12 AM, gwepower notifications@github.com wrote:

[2013-10-05 22:14] greezybacon commented on #422
One word of caution, if you enable error display, bear in mind that Ajax requests are crashing, so you'll need to use your browser's developer tools to read the raw response from the server for the request to retrieve the PHP error messages

Von meinem iPhone gesendet

[2013-10-06 15:43] ckdarby commented on #759
@OleSta Glad to hear that solved your problem!

Can you close this issue, thanks =)!

[2013-10-06 15:55] #759 closed, assigned to nobody

[2013-10-07 16:07] #756 closed, assigned to nobody

[2013-10-08 18:24] whiteatom commented on #422
This has never been fixed for me either. No on GoDaddy, .htaccess file in place with AcceptPathInfo On, everything mentioned in this file has been done.. but still I get

[code]

for every Ajax response. Not having this problem on any of the 15 or 20 other web based apps we are using, so why has osTicket chosen a non-standard way of handling AJAX requests?

[2013-10-09 00:17] greezybacon commented on #422
I'm not sure if I should bother posting, considering that osTicket is so far beneath you.

That said, Http 400 means that the request is being handled by osTicket; however the PATH_INFO variable is not initialized correctly by the http server.

You could help if you would add

[code]

To `scp/ajax.php` just before the line where the system responds with HTTP 400, and send the output snarfed from t

[2013-10-09 01:07] greezybacon commented on #422
To clarify, the code needs to go above the bottom line of `scp/ajax.php` above the line that calls the `resolve` method of the dispatcher

[2013-10-09 09:13] AlexeyDemidov opened #766 "Call to undefined method Email::lookupByEmail()"
My api/cron.php started crashing few days ago with following error

PHP Fatal error:  Call to undefined method Email::lookupByEmail() in /var/www/{...deleted...}/osticket_1.7.0/upload/include/class.thread.php on line 547

My osTicket version is git checkout of 6603bfa545522f582396d4a3cfefcf9bd9c88a12

[2013-10-09 13:57] greezybacon commented on #766
This is a known issue. It was addressed in 80e000a6 and released in 1.7.1.4. You should run a git pull and re-deploy

[2013-10-09 14:03] greezybacon commented on #757
Thanks for finding the bug and the fix for this issue. Can you verity that I have mocked up the fix correctly in #767

[2013-10-09 16:02] AlexeyDemidov commented on #766
Sorry, my bad. I checked git history for fix but on wrong checkout.

[2013-10-09 16:35] greezybacon commented on #766
So were you able to pull the fix into your repo?

[2013-10-09 17:09] AlexeyDemidov commented on #766
I didn't have time to do full upgrade today so I just applied change from  80e000a  by hand.

[2013-10-10 06:04] jeffchulg opened #768 "Proposal of enhancement - project management"
Hi, I've tried to add this in the forum, but I was unable to do so.

My suggestion is that there could be an extension of osticket which allows to use osTicket as a full project management tool.

Suppose tickets are tasks. Tasks could have a precedence order (one cannot be done before another). These tasks could also be linked but be done in parallel.
A set of tasks can be aggregated into another

[2013-10-11 13:46] mcotterman commented on #757
Looks good!

[2013-10-14 19:00] greezybacon opened #771 "Crypto::random() fails on some Windoze installations"
`mcrypt_create_iv` should fallback from `MCRYPT_DEV_URANDOM` to something else in the event that it fails. One user suggested `MCRYPT_RAN`

References:
http://www.osticket.com/forums/forum/osticket-1-7-latest-release/installation-and-setup-help-aa/73683-osticket-1-7-2-fresh-install-authentication-required

[2013-10-15 01:11] greezybacon opened #772 "Ticket edit does not support changing the 'Source' property"
If you edit a ticket, the source value cannot be changed.

References:
http://www.osticket.com/forums/forum/osticket-1-7-latest-release/troubleshooting-and-problems-aa/10621-cannot-edit-ticket-source

[2013-10-15 01:15] greezybacon opened #773 "Slow performance deleting tickets"
Deleting orphaned file chunks bites again when deleting tickets.

References:
http://www.osticket.com/forums/forum/osticket-1-7-latest-release/troubleshooting-and-problems-aa/9446-version-1-7-much-slower-than-1-6

[2013-10-15 20:12] greezybacon opened #774 "IE 10 refuses cookies if osTicket is put in a frame"
If osTicket is displayed in a frame or iframe, cookies sent from the osTicket application will be refused by the browser.

A P3P header and accompanying privacy policy file can be included with osTicket to make the cookies acceptable to IE; however, legal implications are associated with the P3P file which may not be acceptable to the general osTicket installation.

References:
http://stackoverflo

[2013-10-17 19:46] #772 closed, assigned to nobody

[2013-10-17 19:48] #773 closed, assigned to nobody

[2013-10-17 19:50] #771 closed, assigned to nobody

[2013-10-17 19:51] #757 closed, assigned to nobody

[2013-10-18 08:01] umeshptiwari commented on #635
OS Ticket 1.7: "Ticket Activity  and Statistics" not working, although, we enabled the fastCGI
cgi.fix_pathinfo=1

Any one can help on the same.

[2013-10-19 05:47] greezybacon commented on #735
@jeffchulg, would you mind reopening this against osTicket-1.8? I think I'd like to implement it against the configurable PhoneField and PhoneWidget shipped with custom forms and fields.

[2013-10-20 22:12] dooglus opened #782 "Upgrade script output is confusing"
A while ago I installed osTicket-1.7.0.zip on my server.

Today I downloaded osTicket-v1.7.2.zip, extracted it, overwrote the old 1.7.0 files, and logged in as the administrator to upgrade.

The upgrade script talked about "upgrading to 1.7.1" but didn't mention 1.7.2.

Was I supposed to do the upgrade in two separate steps (1.7.0 -> 1.7.1, then 1.7.1 -> 1.7.2) or is it OK to do it in a single ste

[2013-10-20 22:34] dooglus opened #783 "advanced search finds issues, but won't show the list"
A user was referring to an old ticket in which he was complaining about a missing deposit of "1.7".  He didn't have a ticket number.

I put "1.7" into the search box, but no results were found.

I tried "advanced search", it told me:
  "Search criteria matched 4 tickets - view"
where "view" was a link to
  <site>/scp/tickets.php?a=search&query=1.7&status=&deptId=&assignee=&staffId=0&topicId=&start

[2013-10-20 22:54] dooglus commented on #661
I only just upgraded.  I went straight from 1.7.0 to 1.7.2 (I didn't see a link to 1.7.1 on the downloads page, so am guessing it's OK to skip an upgrade step).

The issue is still happening - the <names> are being stripped, but differently.  I no longer see the "td colspan" markup, and don't see a double space where the names were.  I pasted:

[code]

into the ticket, but see the following in 'vi

[2013-10-23 17:00] KunalGautam opened #785 "Forgot Admin Password"
I've tried to reset my admin password, but seems like I'm unable to do so.
I've followed http://www.osticket.com/forums/forum/osticket-1-6-x/installation-and-setup-help/5450-admin-password-reset

[2013-10-23 18:02] ntozier commented on #785
This should really be posted on the forums, not on github.  Github is for
tracking bugs and reporting issues with the software. That being said
please help us to help you by providing more information:

Version of osTicket?
Version of MySQL?
Version of PHP?
Are you getting any error messages when you run the mySQL query?
What is the actual query that you are using?

On Wed, Oct 23, 2013 at 1:00 PM

[2013-10-23 18:15] KunalGautam commented on #785
Sorry for posting on Github,

Meanwhile I think I've found out how to reset admin password, go to http://<install domain and directory/scp/pwreset.php

I was looking older solution which work for older installation of OSTicket.

[2013-10-23 18:15] #785 closed, assigned to nobody

[2013-10-23 21:24] lanceybg opened #788 "Login breaks in Chrome"
If you have more than three parts in the server name (e.g. more.than.three.parts.com) you can't login to osticket via Chrome.

If you change the host to (just.three.com) it works.

I suppose it's related to the CSRF protection as well. Observable in both 1.7 and 1.8, both release and git.

[2013-10-24 02:43] clonemeagain opened #789 "Add jQuery-ui dateFormat update from admin configuration"
Users are confused when all dates are in 'dd/mm/yy' format, but jQuery-UI uses 'mm/dd/yy'..

Can we possibly get jQuery-UI to pull this value from the database? Or .. I dunno, rewrite it should an Admin change the date-format?

File in question: https://github.com/osTicket/osTicket-1.7/blob/842ba97d9d54b9f0a969aa755c05cbb3f61495d5/js/jquery-ui-1.8.18.custom.min.js

Not sure how useful anything oth

[2013-10-24 21:52] sphen13 commented on #747
i see from your comment what you suggest and while it does work for a "staff" user it does not for an "admin" - when logged in as an admin user it always shows the assigned person.  i will experiment and see if i can accomplish what i need with a regular staff user (or more like a manager) but not sure if this is expected behavior.

[2013-10-29 11:34] mtramp opened #826 "character issue with subject and from name (UTF-8 issue?)"
include/class.mailfetch.php from 1.7.2

following funtion does not work correct in my environment
[code]
//Generic decoder - resulting text is utf8 encoded -> mirrors imap_utf8
function mime_decode($text, $encoding='utf-8') {

$str = '';
$parts = imap_mime_header_decode($text);
foreach ($parts as $part)
$str.= $this->mime_encode($part->text, $part->charset, $encoding);

return $str?$str:imap_utf8(

[2013-10-29 14:16] greezybacon commented on #826
I'll run your examples in a few cases and see if I can reproduce the errors internally.

However, you're example emails do not conform to the MIME RFC's. For instance, the top email has non-ascii characters in the headers "Subject" and "From" and perhaps others where [snip] is hiding the content. This is not valid MIME. The headers should be encoded as you have it in the second email with somethin

[2013-10-29 17:00] dooglus opened #827 ""Observe daylight saving" setting has no effect"
I'm logged in as a regular user, and notice that the timestamp on everything is an hour behind real time.

I go to .../scp/profile.php and edit the 'Observe daylight saving' checkbox, hit 'save changes', but the problem doesn't get fixed.

This has been a problem for several months now.  DST is about to end, so I expect the problem will go away for the winter, but:

DST started on Sunday, March 10

[2013-10-29 17:12] ntozier commented on #827
I've never had the problem that you are describing in any of the versions
of osTicket that I have used across multiple servers and OSes. I recommend
that you:

Check your php configuration file:

php.ini -> date.timezone

And in osTicket check the following:

Admin panel -> settings -> Default Time Zone: and Daylight Saving:

Admin panel -> Staff -> Staff Members -> your account -> Staff's Time Zo

[2013-10-29 18:13] dooglus commented on #827
The date.timezone stuff is commented.  Do I need a default timezone set?

[code]

![screenshot - 291013 - 11 05 36 am](https://f.cloud.github.com/assets/573356/1430682/bc2747fe-40c4-11e3-9c05-f20c36619747.png)

![screenshot - 291013 - 11 06 56 am](https://f.cloud.github.com/assets/573356/1430702/fca45f42-40c4-11e3-9fd1-d168fa0bae1f.png)

Uploaded in original report.

So it looks like the only thin

[2013-10-30 09:12] StefaanVanDooren opened #829 "Date format "Due date""
When creating or editing tickets, the "Due date" field is always using amarican date notation, regardless what is defined in the settings.

[2013-10-30 13:51] ntozier commented on #829
Generally when you post a bug report you should probably provide an example.  To me American date notation is either: 05 December 2013 or December 05, 2013 (taught in primary schools). The former being more used by University, Military, and legal documents, and the later being used on less formal documents.

Additionally I have tested this on my test box (which is running 1.8, as I do not have a 1

[2013-10-30 14:18] StefaanVanDooren commented on #829
12/31/2013 is what we/I call american, 31/12/2013 is European.
And you are right, when I view a ticket it is correct, but not when I edit or create one.
Look at the field "due date" in both images. first is in creation/editing, second is in view

![ticket_create](https://f.cloud.github.com/assets/5485451/1437464/06b988aa-416e-11e3-9dcf-23ec1fdf5050.jpg)
![ticket_view](https://f.cloud.github.com/as

[2013-10-30 14:27] greezybacon commented on #829
Good catch @StefaanVanDooren

[2013-10-30 16:27] StefaanVanDooren commented on #829
I still have a problem after patching my server.
due date error after I try to change the ticket

![ticket_after_codechange](https://f.cloud.github.com/assets/5485451/1438696/2a2e1852-4180-11e3-9586-3d27f13d9418.jpg)

[2013-10-30 18:34] #829 closed, assigned to nobody

[2013-10-30 19:29] mtramp commented on #826
greezybacon, thanks for taking care. The first sample (with the issue) was sent via oscommerce, a shop system we are using. From time to time we also get some emails from our users/customers causing the character issue in osticket. I have no sample at hand, but will post the raw data as soon as I noticed one.

The second email is from Thunderbird running on my personal computer.

[2013-10-30 19:59] StefaanVanDooren opened #832 "Invalid "due date""
issue #829 isn't fixed by the patched proposed in #830.
If you set the date format other than "m/d/Y", for instance "d/m/Y", you can now pick a date and it is correctly displayed, but on opening a new ticket or saving an altered one you get an error "Invalid due date" (see my last comment on #829)

I believe it comes from around line 1733 in include/class.ticket.php

elseif(strtotime($vars['duedat

[2013-10-30 21:28] greezybacon commented on #832
Funny. I didn't try that format.

[2013-10-31 12:23] dawud commented on #755
Hello there,

This was indeed a misconfiguration on my side. All I needed was to set:

[code]

for the cookie to traverse the proxy correctly. Thanks for the feedback, it helped a lot debugging this problem.
I'm closing this issue report as NOT A BUG.

Thanks!

[2013-10-31 12:23] #755 closed, assigned to nobody

[2013-10-31 19:25] #832 closed, assigned to nobody

[2013-10-31 19:54] StefaanVanDooren opened #834 ""due date" picker one day wrong"
code patched with #833

When selecting a date with the datepicker (date format set to "d/m/Y"), the date is set one day behind.
Selecting 27/11/2013 will be 26/11/2013 after saving.

[2013-10-31 23:46] greezybacon commented on #834
I think I give up. Perhaps we should reinstate the original shortcoming

[2013-11-01 13:41] greezybacon commented on #834
I tried this morning and I can't reproduce it. I tried changing my system timezones around (in the admin panel). Is the time changing too? (ie. if you select 27/11/2013 0:00, does it switch to 26/11/2013 21:00 or something similar?) Do you know if you were getting this particular behavior on code before these changes (ie. v1.7.2 stock)?

[2013-11-01 13:55] StefaanVanDooren commented on #834
Time stays as it should. Before the patch everything was working as expected. only the format in editing mode was wrong.
I noticed that when I hit save, the date  goes from "27/11/2013" to "2013-11-26" and then "26/11/2013"

Keep in mind I have to hit "save" or "open" before the date changes.

I attached another screenshot with my format settings

![settings](https://f.cloud.github.com/assets/5485

[2013-11-01 18:48] #834 closed, assigned to nobody

[2013-11-02 22:02] greezybacon commented on #789
Thanks for raising this issue. I think it is now fixed in the develop branch and released in 1.7.3

[2013-11-02 22:03] #766 closed, assigned to nobody

[2013-11-04 01:42] ghost opened #835 "Have osTicket use Composer Dependency Manager"
All _major_ PHP software uses [composer](http://getcomposer.org/) to manage dependencies and the installation and updating of PHP software.

I have 39 software packages installed on server ranging from major packages like Symfony to PhpMyAdmin, all of which support and use composer. osTicket is now the only package that I have to resort to updating the old fashioned way, by downloading the new ver

[2013-11-05 08:30] fredastaire opened #836 "1.7.0->1.7.3 : Ticket created by upgrade uses Random ticket ID instead of Secuencial"
Hi all,

I just upgraded from osticket 1.7.0 to 1.7.3 and realize the ticket created automatically by the upgrade procedure does not follow the configured 'secuential' ticket ID numeration. Upgrade went fine though, no errors.

Upon installation, the secuential ticket ID numeration is back in effect on new tickets (see ticket 302 bellow).

It's more of an annoyance than a real problem but I post t

[2013-11-05 15:47] jochenwezel opened #837 "Improved email debugging"
For improved debugging of email Errors, please find following patch based on osticket 1.7.2

Using this patch, the debug log mode creates a log Entry whenever an E-Mail shall be sent with Details on subject, Sender address, smtp account or PHP mail function, and recipient.

[code]

Would be great to see it in next release :-)

[2013-11-05 20:55] kmmoreau opened #838 "Does Not Contain Filter not Rejecting Tickets"
TIckets are still being processed; not rejecting.

[2013-11-05 23:04] #838 closed, assigned to nobody

[2013-11-06 06:54] sepano opened #840 "auto response is enabled but do not works"
Hi
i use osticket 1.7.3
auto response is enabled. but when user submits a new ticket, this message shows:

Thank you for contacting us.

A support ticket request #XXXXXX has been created and a representative will be getting back to you shortly if necessary.

when i reply to a ticket email to user works correctly but auto response does not work.

[2013-11-06 07:52] sepano commented on #840
where can i edit thankyou page?

[2013-11-06 14:58] ntozier commented on #840
This is not a bug and is intentional.  The #XXXXXX is a placeholder as it is not secure to show the ticket number in the web browser since it acts currently like the password for the client to get into the site.  This will be changed in a future version of osTicket when client user accounts are implemented.

You can edit the Thank you page by going to:
Admin panel -> Manage -> Pages -> Thank You

[2013-11-07 13:12] Lisa003 opened #841 "Email set up"
Once i have received issues from people through os Ticket , i  seen them in the admin panel. Now when replying ot them so that they can get their ticket number, they dont get the e-mails.

How do i set this up.

Secondly the alert people to get the emails are not also alerted when a new ticket comes to the system, is this possible to happen

[2013-11-07 14:17] ntozier commented on #841
This does not appear to be a bug report.  Please post a help topic on the forums or seek professional support. Oh and please close this error report.

[2013-11-08 06:31] #841 closed, assigned to nobody

[2013-11-08 12:45] PawelBaczkiewicz opened #843 "osticket 1.7.2 - external subject ticket ID is not supported anymore"
Hi,

In new announcement of osticket 1.7.2 there was some part saying:
"However, matching on the external ticket number is still supported as a fallback in the event you have some really old, non-compliant client email software in use. "

I have to say, that it seems to not to work.
I have some answers to my ticket connected with my ticket correctly, but sometimes (about 20% of all tickets) there

[2013-11-08 12:47] PawelBaczkiewicz commented on #843
Wrong assignemnt - i will put this in 1.7.2

[2013-11-08 12:47] #843 closed, assigned to nobody

[2013-11-08 12:51] PawelBaczkiewicz opened #844 "Refering to #688 issue"
Hi,

In new announcement of osticket 1.7.2 there was some part saying:
"However, matching on the external ticket number is still supported as a fallback in the event you have some really old, non-compliant client email software in use. "

I have to say, that it seems to not to work.
I have some answers to my ticket connected with my ticket correctly, but sometimes (about 20% of all tickets) there

[2013-11-09 02:57] deanet commented on #538
any update of this issue ? i'm currently using branch repo but it still doesnt work..

[2013-11-09 04:09] greezybacon commented on #538
Sorry, we still haven't added NGINX as a supported platform yet. However, GoDadday hosting clients still have troubles with osTicket related to path parsing, so I think addressing this issue would be beneficial to a supported platform too.

[2013-11-11 13:52] bytesparrow commented on #836
It's a real problem though. The customer (and the staff) will get a Mail including the #831376 ("ticketID").
Osticket will deny access to the ticket, since this ticket-ID does not exist (I think it will look in the ticket_id-Column)

Ill have a look in the sources, but as I can see, this has existed for a long time.

[2013-11-11 14:26] bytesparrow commented on #836
ok, I guess I kinda solved it, probably it isn't a bug.
goto your url + /scp/settings.php?t=tickets
make sure that "sequential" is checked and hit save.
Now create a new ticket and check if the IDs in the emails are correct.

By the way, we've used an older version of osticket for a long time and the column ticketID was always random, not sequential.
Thats why I was  a little irritated at first.

[2013-11-11 16:50] fredastaire commented on #836
Hi null,
I think you got it all wrong :-)

No email is generated or sent by the upgrade procedure, so I see no problem there.

As metioned in my first message 'sequential ID numbering' was configured in the settings: it was configured previous to the upgrade and it is still set after the upgrade.

Again, as mentioned, 'secuential ticket ID numeration is back in effect on new tickets (see ticket 30

[2013-11-12 09:05] bytesparrow commented on #836
Hey Fred,
yeah, yesterday wasn't my best day lol
I was irritated at first because a colleague assigned that upgrade-ticket to me. His message was not included (in that mail) and when trying to access the ticket it didn't find it - because it was something like #831376.
Then I found your comment and ..  well you know the rest of the story ;)

[2013-11-13 10:01] jeffchulg opened #845 "osTicket user can't be assigned multiple groups"
Hi, I've just noticed that a osticket user cannot be assigned to multiple groups. To me, a user can be at the same time for instance a common user (respond to tickets etc.) AND a manager for a group (assign tickets to users, etc.)

[2013-11-13 15:29] ntozier commented on #845
Here is my understanding of how this works.

Each user can belong to a Group, Department, and Team. (These are controlled in the Admin panel -> Staff -> Staff members -> theStaffMemberYouWantToEdit.)

Additionally:

Group
- Groups control access to certain functions
- Each Group can have any number of Departments (This is the part that's important to you)

Department
- Each Department can have a M

[2013-11-14 07:45] jeffchulg commented on #845
To me, a manager of financial department should not be able to see tickets from the IT department for instance.
What I wanted to do is the following :
- Create groups for all existing ways to access a ressource (read, update, assign, etc.) [ re-usable ]
- Create a group which is mixing up some of the first created groups
- assign a department to the group

For example, in the IT department, we hav

[2013-11-14 14:49] greezybacon commented on #845
We've mulled over changing the "Group" interface to one of "Roles". I think this is what you are describing. Basically the concept of a Group today changes to a Role (so you can define several "cells" of varying access) and you can associate several roles with one user.

I'll mark this as an enhancement to track it

[2013-11-14 14:50] greezybacon commented on #845
Ok, so I realized that this is the 1.7 repo (first cup of coffee underway here). I think we should move this enhancement to 1.8. No way it's going to happen in 1.7

[2013-11-14 14:54] greezybacon commented on #844
So I think this might be confusing. The system looks for [#000000] and that pattern only (open-bracket, hash-sign, six digits, close-bracket). I think we should change the code to looks for [...#000000...] where the dots can be anything (like 'BOK' in this case).

[2013-11-14 14:56] greezybacon commented on #835
I don't disagree that we should use composer. Turns out though, that we have virtually no dependencies. That's probably why we haven't implemented Composer yet.

[2013-11-14 15:03] PawelBaczkiewicz commented on #844
Hi,

But I'am sure it worked before big change with refering using headers value was applied. So In 1.7.0, 1.7.1 - we had set [BOK#000000] and it worked.

Btw. In many other systems people use formats like : [Ticket#000000] and so on, so I think it would be nice to have this supported in osTicket as well.

[2013-11-14 15:09] greezybacon commented on #826
Could you tell me if this function implementation decodes both emails correctly?

[code]

[2013-11-14 15:11] greezybacon commented on #789
Can you confirm that this works well in 1.7.3?

[2013-11-14 15:12] greezybacon commented on #753
Do you have an example of any of these mails? We've heard of other instances of this problem but haven't been able to reproduce the issue ourselves

[2013-11-14 15:29] ntozier commented on #835
Jared, I cannot help but notice that you said "virtually". ;)
There are a few but they are determined by how people have osT configured. (php5-imap, php5-mysql, and deprecated mcrypt? spring to mind)

[2013-11-14 16:44] ghost commented on #835
The osTicket [Readme](https://github.com/osTicket/osTicket-1.7/blob/develop/README.md#license) says it uses the following packages:

**Composer Support**
![yes](http://cdn.boostsolutions.com/images/yes.gif) Yes&nbsp;&nbsp; ![no](http://www.britishairways.com/assets/images/information/icons/red-cross-16x16.png) No
- ![yes](http://cdn.boostsolutions.com/images/yes.gif) &nbsp;[Font-Awesome](http://fo

[2013-11-14 17:15] jeffchulg commented on #845
created in 1.8

[2013-11-14 17:15] #845 closed, assigned to nobody

[2013-11-14 17:24] PawelBaczkiewicz opened #846 "Printing to PDF - utf8 fonts are not visible"
Hi,

Feature with printing to PDF does not support UTF-8 coding.

For example, I have text:
"Za pośrednictwem znaku..."

In PDF it is printed as:
"Za po"

After signs: "ś", "ł", "ń" (and maybe more), text is cut to the end of the line (not printed in PDF).

I saw other issues (closes) similar to this, but this is still unresolved.
Other related issues:
https://github.com/osTicket/osTicket-1.7/issu

[2013-11-14 17:33] ntozier commented on #846
The FPDF library does not support UTF-8.
However someone wrote a class to extend it which adds in UTF-8 support.
It's available here:
http://www.fpdf.org/en/script/script92.php

[2013-11-14 19:50] PawelBaczkiewicz commented on #846
That is cool - I hope it will be applied in following versions.
btw. There is another very powerful library called tcpdf - it supports everything and give a powerful options if needed.
Link here:
http://www.tcpdf.org/examples.php

[2013-11-14 19:57] protich commented on #846
The upcoming version uses [mPDF](http://www.mpdf1.com/mpdf/index.php).

[2013-11-15 02:45] clonemeagain commented on #789
I added those commits to my 1.7.2.. because I'm not quite ready to rebase again.. and it works. Selecting the date with the DatePicker (even though it displays incorrectly after being selected, will allow you to save it).
I thought it was still broken, because it would display the date as:

[code]

after selecting.. (yes, that exact string).

However on Save, it converts it into a pan-global forma

[2013-11-15 12:41] mtramp commented on #826
Test 1) still does nor work, but behavior changed:

Test äüßxkàáte

becomes

Test xkte

All non-assci chars are lost.

Thank you for taking care!

[2013-11-15 16:24] greezybacon commented on #826
[code]

How about this one?

[2013-11-18 09:08] OleSta commented on #753
I have only had this one email with problems but I deleted it and did not make any backup.

I have seen something like this with other software where PHP was missing a NOTLS parameter to work.

[2013-11-18 20:01] mtramp commented on #826
Perfect! Works in all test scenarios.

Thank you for your great work.

[2013-11-19 18:40] greezybacon commented on #789
Interesting. You have `H:i` (_time format_) in your system date format?!

[2013-11-19 22:21] #826 closed, assigned to nobody

[2013-11-19 22:32] clonemeagain commented on #789
Hmm, it would seem so. The ticket thread uses that to display the "time" we received the ticket, staff want that information. Never thought about it being for "date" rather than "time".

Hmm, simple enough, I just changed the formatter used in tickets.inc.php:

[code]

Perfec. ;-)

[2013-11-22 16:02] evanderv opened #855 "Invalid CSRF Token __CSRFToken__"
This error is coming up when someone creates a ticket using IE.  There are no problems when we use FireFox.

[2013-11-22 17:25] dooglus opened #857 "reloading web page re-posts comment"
I often see double-posts in tickets, both from myself and from customers.

I guess they're hitting their browser's 'refresh' button to see if I've replied to their ticket yet, and that's causing their last comment to be resubmitted.

I think I've seen reposts happen when I hit the browser's 'back' button before as well.

[2013-11-23 21:48] support4net commented on #426
Hi,
I've got in the same upgrade errors for several times Is reporting with and odd message that something went wrong and bye bye....
I've work for 2 days making this upgrade process going forward from 1.6ST to .1.7.1, 1.7.3, 1.8rc2 and same story.
It seems that each time is messing up with the DB and then fails to finish the process.
I've tried with a server running on OSE 13.1, with PHP5.4, then

[2013-11-23 21:52] support4net commented on #715
In my case it started to work after defining session.cookie_domain =  in php.ini.
I tried to upgrade and failed due to CSRF , then started a fresh test install and fixed by setting that php param.

[2013-11-24 15:24] greezybacon commented on #715
Thanks for the update. What did you set it to? What's the domain of your help desk?

[2013-11-24 15:27] greezybacon commented on #426
So we test upgrades from a well used 1.6 help desk up through 1.8. When the upgrade crashes, do you get failure emails to the Admin and/or failure logs in the syslog table?

If you upgrade is critical, we do offer professional support...

[2013-11-24 19:35] support4net commented on #426
The upgrades are clear for me that do not work according to the documentation provided. The old 1.6 is stable and work well, while the upgrade to any other version fails in the same way while altering the DB structure.
The upgrades were performed on several servers now on different versions of OS and PHP with the same results.
Our conclusion is that the upgrade script is unreliable and is not perf

[2013-11-24 19:40] support4net commented on #715
I've upgraded several times from version 1.6 to 1.7-18 and obviously it failed. Then I decided to go on Opensuse 13.1 with a fresh install to check the CSRF message appear as well, and it did. Thus the problem was either a setup problem of php or a compatibility issue with php. Thus I spent a while testing and failing each parameter from php.ini related to session control and I've found after a wh

[2013-11-24 20:05] greezybacon commented on #715
Yes, you made it clear that you changed the setting in php.ini. My question was: what is the value you changed it to so it worked? And what is the domain you use to access the help desk in question: like support.mycompany.com?

[2013-11-24 20:08] protich commented on #426
@support4net - While we cannot rule out upgrader bugs due to obscure server settings  - I can assure you that thousands of osTicket installations are upgrading just fine. Without access to your server and installation, it's hard for us to guess what could be causing the issue in your case.

Good luck  with the migration.

[2013-11-24 20:09] greezybacon commented on #426
We run osTicket on php 5.4. I don't think that's the issue. You've made it clear that you have upgrade errors. Unfortunately, my magic wand is out on loan. If you have specific error messages you care to post, I can correct the issues.

Unfortunately, migrating to another help desk software is beyond the scope of this project.

[2013-11-24 20:09] support4net commented on #715
Exactly, I've set the value to session.cookie_domain = support.mycompany.com

[2013-11-24 20:22] support4net commented on #426
@protich  I agree with you. There's no obscure settings on my server. It is a fresh installation of OpenSuse 13.1 with nothing special configured. It's a standard setup of PHP and a VirtualHost pointing to /home/osticket  .
By simply copy the old 1.6  to this current fresh server, the app runs well (except the strict errors in apache log).
I think anyone could test this as the environment is clean

[2013-11-24 20:24] greezybacon commented on #715
Really? You own mycompany.com?!

I guess I'm an idiot. This isn't making any sense to me

[2013-11-24 20:28] support4net commented on #715
Sorry dude. You are not an idiot but I was just pointing that that is a suggestive setup. I don't want to turn public the hostname for security reasons. If you want I'll setup a test server and provide you access to play around.

[2013-11-24 20:32] greezybacon commented on #426
You are a fool. Neither we nor anyone outside your organization has access to your osTicket 1.6 data. How can anyone test it?! How can you assume that I can or should already have guessed what data you have in your database, or that any of the changes made to the software over the last four years would have some adverse affect on your specific data?

This error has likely nothing to do with your s

[2013-11-24 20:35] protich commented on #426
@support4net - Starting with 1.7+, ajax calls require `path_info` enabled. I suspect it's the same issue with your PHP setup/installation.

[2013-11-24 20:39] support4net commented on #426
@protich the path_info = 1 is already set.

[2013-11-24 20:43] support4net commented on #426
@greezybacon  I'm not a fool and I don't consider you stupid. I simply don't want to provide  the true hostname for a potential PHP remote exploits over a production servers considering the STRICT erros logged into apache. First fix that issues then we will talk about how secure is this app....

I agree we you that it might be a problem with the database structure, but I don't see why it runs smoo

[2013-11-24 20:47] protich commented on #426
@support4net - Post the said error messages you're getting or even apache logs... (fire up FireBug or equivalent and post the error codes..etc). I don't buy your argument about apache logs - no one is asking you to post the entire file.

Without logs or access, it's impossible for us to help -- migrating to a "better" system might be the best course of action for you.

[2013-11-24 20:51] support4net commented on #426
@protich you are right and I'll return with the logs tomorrow. I didn't say I'll not post the logs.....
IF you don't buy my arguments then send me your host name and I'll check with a few exploits your security over the night :))) Just kidding but I've seen too many hacked servers and I don't take the risks on the production servers.

[2013-11-25 18:08] ntozier commented on #855
Which version of IE?

On Fri, Nov 22, 2013 at 11:02 AM, evanderv notifications@github.com wrote:

[2013-11-26 00:09] greezybacon opened #858 "REQUEST_URI might not start with a leading slash"

[2013-11-26 16:08] evanderv commented on #855
IE9

On Mon, Nov 25, 2013 at 1:08 PM, ntozier notifications@github.com wrote:

[2013-11-26 22:59] greezybacon commented on #855
Are you running osTicket in a frame?

[2013-11-27 03:49] greezybacon commented on #846
Just wanna make it clear that http://github.com/osTicket/osTicket-1.8 uses mPDF complete with UTF-8 support

[2013-11-27 04:54] evanderv commented on #855
Yes I am
On Nov 26, 2013 5:59 PM, "Jared Hancock" notifications@github.com wrote:

[2013-11-27 10:48] jeffchulg opened #859 "Aggregate forms > "virtual form" or "multiple custom forms for a help topic""
Hi, I'm facing a problem in parametrization : it's not a bug, but it's quite ennoying.
- when I create a custom form "database creation", I set a list of form fields as "RDBMS", "Version", "Server", etc.

If the help topic is just "Create DB on existing host", it's OK.
But if the help topic is "Create DB on new server", I'll need to create a new custom form (exact copy of the first one) and add ad

[2013-11-27 11:47] #859 closed, assigned to nobody

[2013-11-27 14:31] greezybacon commented on #855
You can see osTicket/osTicket-1.7#774. You'll need to add a P3P header

[2013-11-27 17:40] evanderv commented on #855
Got it.  All set.  Thanks!

On Wed, Nov 27, 2013 at 9:31 AM, Jared Hancock notifications@github.comwrote:

[2013-11-27 17:40] #855 closed, assigned to nobody

[2013-11-30 12:28] elsonr opened #860 "facing fatal error repeatedly after upgrade to 1.7.3"
Hi,

I am getting fatal error soon after I have upgraded to version 1.7.3.
I am running 1.7.3 on windows 2008 with php 5.4.19.

Soon after I have upgraded to v1.7.3 the system worked smoothly for a while and now it has started throwing this error. It  becomes normal after a while but this error appears again and again.

when I looked into the logs I found the below error. Please help me solve this

[2013-11-30 12:38] elsonr commented on #860
Sometimes it is also throwing HTTP 500 Internal Server Error.

Please help me solve this issue

Regards,
Elson

[2013-11-30 21:37] greezybacon commented on #860
Do you have authentication enabled for the SMTP side of the mail account you are sending through?

[2013-12-01 09:51] elsonr commented on #860
yes the authentication is enabled and the credentials used are working as tested in osTicket using Diagnostic option.

[2013-12-02 17:08] #858 closed, assigned to nobody

[2013-12-09 20:43] greezybacon opened #863 "PDF output does not handle JPG logos"

[2013-12-09 22:27] greezybacon commented on #860
Sorry, but I just have to make sure, did you select the "From" account in question when sending the email from the diagnostic page?

[2013-12-10 05:11] elsonr commented on #860
Yes I had selected the "From" account and the mail is successfully sent to the Email Address added in "TO".

[2013-12-13 03:46] #789 closed, assigned to nobody

[2013-12-13 05:56] clonemeagain commented on #788
Which Chrome? I use Chromium and its fine. We got a Mac with Google's Chrome, and it breaks only when Outside the office.. works fine inside.. What makes you think it is related to the domain name of the server?

[2013-12-13 06:23] clonemeagain commented on #783
If you use a "numeric" search term, osTicket thinks you are searching for a "ticket", so only displays matching ticketId's.. Personally, I find this annoying, as we use numbers for a lot of things.. like orderNumbers and invoices and such.. so I modified my search query to find EVERYTHING..

There really should be an admin setting for this behaviour.

Or, if you open /include/staff/tickets.inc.php

[2013-12-13 06:33] clonemeagain commented on #735
@jeffchulg You can simply modify your own install.. it is "open source" after all!

Input field: lines 88,90 & 99 of /include/staff/staff.inc.php specify the size of the input field. (phone,ext,mobile)
Database fields themselves are actually : 24,6,24 characters wide.. so I don't know why they went with: 18,5,18 for input.

The function: include/class.validator.php::is_phone actually limits phone

[2013-12-13 06:39] jeffchulg commented on #735
@clonemeagain thanks for the reply, it makes me think that this ticket has not been closed.
Actually, with the 1.8 and custom fields, it could be made, as @greezybacon suggests in his last post.

[2013-12-13 06:39] #735 closed, assigned to nobody

[2013-12-13 09:19] clonemeagain commented on #844
Something like: /include/class.thread.php (lines 728-734)

[code]

Optionally match prefix string without capturing it.. YMMV, hasn't been tested.

[2013-12-13 09:59] clonemeagain commented on #572
Looks like it was solved years ago on SO: http://stackoverflow.com/a/1959073

[code]

Can't say I understand 100% of it.. but .. its beautiful!

[2013-12-13 10:08] clonemeagain commented on #536
I just changed the font-size if the text was too long.. ;-)

Can you try it?

[2013-12-17 14:18] greezybacon commented on #844
@clonemeagain, did you mean

[code]

(with a `+` behind `[:alpha:]`)? You might also consider

[code]

which will handle Unicode "letter" characters better

[2013-12-17 22:07] clonemeagain commented on #844
Had a typo in [:alpha:], as per http://www.php.net/manual/en/regexp.reference.character-classes.php it needs to be further wrapped!

http://www.phpliveregex.com/p/2Ez

New version:

[code]

Although: \w seems to work too, especially if you want to match (but not catch) underscores.

I suppose I can remove the YMMV bit, as I actually tested it this time. ;-)  Alpha seems to work with é, so I'm hopi

[2013-12-21 22:20] greezybacon commented on #359
This is implemented in 1.8

[2013-12-23 01:13] clonemeagain commented on #857
Looks like a fix is on the way: https://github.com/osTicket/osTicket-1.7/pull/870 :+1:

[2013-12-27 10:30] satvirdogra commented on #102
Hi

Is calender View not available in 1.8?

Thanks

[2014-01-08 13:55] SoulRaven commented on #538
i have a similar problem but wit ajax calls, https://github.com/osTicket/osTicket-1.8/issues/382#issuecomment-31820879

any ideea how to fix this?

[2014-01-08 16:52] greezybacon commented on #538
Use the nginx configuration posted by @tomashastings above

[2014-01-08 17:00] SoulRaven commented on #538
this is my nginx config:

server {
    listen xxx:80;
    server_name xxxx;
    root /var/www/support;
    index index.php;
    index index.php;
    access_log /var/www/support/tmp/logs/access.log combined buffer=32k;
    error_log /var/www/support/tmp/logs/error.log;

[code]

}

still not working, the same error

[2014-01-08 18:59] greezybacon commented on #538
How about the var_dump? And have you tried uncommenting the `fastcgi_split_path_info` command?

[2014-01-08 19:13] SoulRaven commented on #538
i have try, and nothing, this is the var_dump,

array(36) {
  ["USER"]=>
  string(8) "www-data"
  ["HOME"]=>
  string(8) "/var/www"
  ["FCGI_ROLE"]=>
  string(9) "RESPONDER"
  ["SCRIPT_FILENAME"]=>
  string(29) "/var/www/support/scp/ajax.php"
  ["PATH_INFO"]=>
  string(11) "/config/scp"
  ["QUERY_STRING"]=>
  string(0) ""
  ["REQUEST_METHOD"]=>
  string(3) "GET"
  ["CONTENT_TYPE"]=>
  string(0) ""

[2014-01-09 18:45] rmalpartidar commented on #58
POR FAVOR SEND ME A rmalpartidar@usmp.pe

[2014-01-09 19:28] ntozier commented on #58
You can get the Reports module for 1.7 from:
http://www.sudobash.net/osticket-reports-6-0-osticket-release-1-7/

[2014-01-12 08:02] SoulRaven commented on #538
any news? i guess i have try everything, and still not working, maybe some help from the community?

[2014-01-12 22:00] acdigital commented on #92
What SLA means?

[2014-01-13 03:13] reubensimute commented on #92
Service Level Agreement 

On Monday, 13 January 2014 9:00 AM, acdigital notifications@github.com wrote:

What SLA means?
—
Reply to this email directly or view it on GitHub.

[2014-01-13 10:17] kaystrobach commented on #746
like to have forwarding as well ... additionally external answers should be added to the ticket ...

[2014-01-13 20:13] greezybacon opened #875 "Email address used to access ticket on client interface is case sensitive"
If the email has an upper-case letter in the ticket, the same case will be required when accessing the ticket via the client portal

[2014-01-14 19:40] #875 closed, assigned to nobody

[2014-01-20 06:31] SoulRaven commented on #538
any new suggestions about this problem? is impossible to use without the possibility to add new clients

[2014-01-25 11:25] elmoyak commented on #538
I've just updated http://wiki.nginx.org/OSTicket according to @tomashastings version with a small modification. works fine for me with osTicket v1.8.0.2.

@soulraven try http://wiki.nginx.org/OSTicket.
@tomashastings try_files hides the query string thus osTicket has no POST/GET arguments

[2014-01-28 00:33] niogryan opened #879 "Dashboard > Statistics > Staff"
when i view my dashboard i always seeing zero(0) count in the "opened" column even though that i usually open a ticket

thank you

[2014-01-29 00:40] rneha opened #880 "Ticket Reassignment issue"
Hi,

When I am reassigning a ticket, the function gets triggered but my screen remains white. See image below.

![image](https://f.cloud.github.com/assets/5359027/2025549/f978b4ca-887d-11e3-8e06-52616dcb7ca7.png)

Can you help?

[2014-01-29 05:16] greezybacon commented on #880
Some usual questions: where'd you get your osTicket, and what version is it?

[2014-01-29 06:29] rneha commented on #880
Downloaded freely from osticket.com
Version 1.7

[2014-01-29 18:34] greezybacon commented on #880
1.7 isn't available for download... Is this an older version, or is it 1.7.5 or what?

[2014-02-01 08:28] sepano commented on #639
Hi Elson

I have the same issue.
Do you find any fix for this issue?

[2014-02-04 09:19] baidru opened #881 "Valid CSRF Token Required"
Hi,

I have face this kind of issue as same lot's of people faced.
i done with lot's of suggestion given by "greezybacon"
My osTicket Version is 1.7.0
please suggest me how to solved this.
i have also attached screen shot for the error screen
Thanks !

![www-tech-net-com-support-scp-login](https://f.cloud.github.com/assets/6582784/2074582/3553963c-8d7d-11e3-9ae5-081304ec8f51.png)

[2014-02-04 17:43] rneha commented on #881
Hello

I simply added a redirection on the index.php and it worked.

Thanks

_Please consider the environment before printing this email_

On Tue, Feb 4, 2014 at 1:19 PM, baidru notifications@github.com wrote:

[2014-02-05 04:26] baidru commented on #881
Hi rneha,

 thanks for your kind support but
where to add redirection can u please describe me.

[2014-02-05 06:36] baidru commented on #881
Hello all,

session not set in live site that's why i am not able to login
In my osticket 1.7 url is
http://www.tech-net.com/support/scp/
in firebug i have checked (PHPSESSID means cookies) not set by server by the way  same code in my local working fine

please suggest me to solved this
Thanks!

[2014-02-05 12:11] #881 closed, assigned to nobody

[2014-02-05 22:44] greezybacon commented on #881
Have you considered upgrading to 1.7.5? I think this may still be an issue. It will be difficult to address the issue if you're on such an old version, though.

[2014-02-11 09:28] ddd123www opened #882 "Select a canned response. - Not working"
When staff members try to add a canned response on a new/existing ticket, nothing happens. My osticket version is 1.7.0

[2014-02-11 22:20] gregstout opened #883 "S/MIME signature creates (EMPTY) ticket"
Hello, I am currently using osTicket 1.7.0. I have a S/MIME certificate installed in Outlook 2010 (a free one, as an example, can be found here http://www.startssl.com/?app=39).  This allows me to sign and encrypt e-mail.  It's not uncommon for my users to use S/MIME and have Outlook sign messages by default.  If I submit an issue into osTicket via e-mail and sign the message it attaches the signa

[2014-02-18 20:33] greezybacon commented on #882
You have an ajax issue rooted in your server configuration. Are you using nginx? Can you debug the request and see if you are receiving a 400 or 404 from the server? Or yet another code?

[2014-02-18 20:35] greezybacon commented on #65
Can this be closed? Is it working in the develop/master branches?

[2014-02-18 20:35] greezybacon commented on #88
This is implemented in osTicket 1.8.1 with the auth-ldap and auth-passthru plugins

[2014-02-18 20:35] #88 closed, assigned to nobody

[2014-02-18 20:36] greezybacon commented on #90
osTicket 1.8 has a nicer rich text editor and support for rich text in the ticket thread

[2014-02-18 20:36] #90 closed, assigned to nobody

[2014-02-18 20:36] greezybacon commented on #113
Can this be closed?

[2014-02-18 20:37] greezybacon commented on #119
Is this working in the develop / master branches? Can this be closed?

[2014-02-18 20:38] greezybacon commented on #137
Can this be closed?

[2014-02-18 20:38] greezybacon commented on #138
Is this working in the develop / master branches?

[2014-02-18 20:39] greezybacon commented on #142
Is this working in the develop / master branches?

[2014-02-18 20:40] greezybacon commented on #188
LDAP is implemented in osTicket 1.8.1 with the auth-ldap plugin available in the osTicket/core-plugins repo or from the osticket.com download page.

[2014-02-18 20:40] #188 closed, assigned to nobody

[2014-02-18 20:43] #189 closed, assigned to greezybacon

[2014-02-18 20:47] greezybacon commented on #235
This is implemented in osTicket 1.8.0 and later. Thanks for the enhancement request

[2014-02-18 20:47] #235 closed, assigned to nobody

[2014-02-18 20:49] #322 closed, assigned to nobody

[2014-02-18 20:50] greezybacon commented on #329
We switch to base64 encoding (instead of quoted-printable)

[2014-02-18 20:50] #329 closed, assigned to nobody

[2014-02-18 21:03] greezybacon commented on #321
Is this still a problem in the develop and master branches?

[2014-02-18 21:04] greezybacon commented on #333
Can this be closed?

[2014-02-19 08:40] kurim commented on #137
Yes, thank you.

[2014-02-19 08:40] #137 closed, assigned to nobody

[2014-02-22 12:24] indusone commented on #295
I think this was implemented in 1.6, but i seem to have lost it with the 1.8.1 upgrade.

[2014-02-24 17:09] gpkvt opened #884 "MySQL-Replication: Unsafe statements"

[2014-02-25 04:40] jiveshpednekar commented on #538
I am facing same problem with <b>Godaddy server</b> with server API <b>CGI/FastCGI</b> . can you please tell what i need to do, I have no idea of nginx server and its configurations

[2014-02-25 15:18] elmoyak commented on #538
@jiveshpednekar did you tried my changes http://wiki.nginx.org/OSTicket?

osticket ajax needs to have the path_info plus query string. thats what my changes do. It works very well for me.

e.g.:
host.com/a/path/file.php/foo/bar?this=that&and=more. osticket needs the path_info in $_SERVER['PATH_INFO'] => /foo/bar  and the query string in $_GET['this'],$_GET['and'] => this=that&and=more

if that doe

[2014-02-25 16:38] mprewitt commented on #538
I am experiencing this issue using Go Daddy hosting, but am not using Nginx. I'm using version 1.8.1 of osTicket. The proposed solution at http://wiki.nginx.org/OSTicket seems to use some kind of Nginx configuration script, maybe similar to Apache's httpd.conf. But I'm guessing it would not work on Apache, and besides that I don't have access to the Apache configuration files, only .htaccess.

[2014-02-25 21:20] maoa commented on #774
I've read up a lot on this issue with P3P and IE, etc. Even knowing that the big boys on the 'Net are intentionally bypassing Redmond's antiquated privacy tech, I'm not comfortable doing it and frankly don't want to devote the time. But the problem for us is that when this error is thrown, it seems to bring osT to a halt. I don't mind explaining to IE users they should use something else, but if I

[2014-02-28 18:11] markus4000 commented on #682
Extending to Grouplevel or to Adminlevel would be good. (i'm on 1.8.02)

[2014-03-01 02:25] gopes99 opened #885 "checking ticket status with username and ticket number"
I need to disable the email data in "open new ticket" and also "check ticket status" using 'name' in the request and the corresponding 'ticket number'. thankyou.inc.php has been configured to display name and ticket number to the user.

[2014-03-03 14:58] greezybacon commented on #774
@maoa, do you have a cookie issue or do you have _Invalid CSRF Token **CSRFToken**_ in your logs? They are two completely separate issues

[2014-03-03 15:00] greezybacon commented on #538
There is a known issue with GoDaddy. We have been unable to find a workaround and have contacted GoDaddy without any success or even response. I would recommend a ~~better~~ different hosting company. And if it's of use, I signed up for a GoDaddy hosting account to debug the issue, and it looks like the newer account interfaces do not suffer from the issue. You might see if you can be migrated or

[2014-03-05 07:49] jiveshpednekar commented on #538
<b>@elmoyak:</b> I foud fixed for godaddy. I added <b>php.ini</b> file in my root folder with <b>cgi.fix_pathinfo=1</b> and it worked for me. thanks for your suggestion

[2014-03-05 10:37] ghost opened #886 "Upgrade user gets no notifications"
I just upgraded our osTicket from 1.6 to 1.8.1 with my user. Everybody else from the ticket-team now receives the notification emails when a new ticket is opened or changed, but I don't.
How do I get the notifications as well? What am I overseeing?

[2014-03-06 17:19] maoa commented on #774
We have /Invalid CSRF Token _CSRFToken_/. [Perhaps this is topic drift?
If so, mea culpa.]

On 03/03/2014 06:58 AM, Jared Hancock wrote:

[2014-03-06 20:44] mprewitt commented on #538
@jiveshpednekar Awesome! Your fix worked for my Go Daddy account as well.

We've been gradually moving our Go Daddy-based web properties to other companies (InMotion, HostGator, BlueHost). But until we can do that with this one, this is the way to go.

[2014-03-07 12:24] #886 closed, assigned to nobody

[2014-03-18 20:11] marcoalbarelli opened #887 "Notification Email for Department Manager on Ticket Thread Update don't get sent"
Similar to #591 but different:
If the ticket is not assigned alerts for ddepartment manager don't get sent, regardless of configuration

[2014-03-19 13:23] yafp opened #888 "cant attach more then 3 files in a single post"
Hi,

i realized a bug in osTicket (v1.7.0) if it comes to attaching multiple files as part of an internal note.

In my installation i do see  'Browse' button which offers me the option to select a file to attach. This button is properly displayed as long as i have attached max 2 files in a single post.

BUT - and this is the ciritcal ugly big but here:
if i attach a third file in that specific sin